Repository roots/bud, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, dependencies, examples, test, roots-notifier, @roots/bud, @roots/bud-api, @roots/bud-babel, @roots/bud-build, @roots/bud-cache, @roots/bud-cli, @roots/bud-compiler, @roots/bud-compress, @roots/bud-criticalcss, @roots/bud-dashboard, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-esbuild, @roots/bud-eslint, @roots/bud-extensions, @roots/bud-framework, @roots/bud-hooks, @roots/bud-imagemin, @roots/bud-library, @roots/bud-mdx, @roots/bud-postcss, @roots/bud-preset-recommend, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-react, @roots/bud-sass, @roots/bud-server, @roots/bud-solid, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-typings, @roots/bud-vue, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/container, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/entrypoints-webpack-plugin, @roots/filesystem, @roots/ink-prettier, @roots/ink-use-style, @roots/merged-manifest-webpack-plugin, @roots/sage, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin

.github/labeler.yml:

'docs':
  - site/*
  - site/**
  - README.md
  - packages/@roots/*/README.md
  - dev/site/*
  - dev/site/**/*
  - dev/readme/*
  - dev/readme/**/*

'dependencies':
  - packages/**/package.json
  - examples/**/package.json
  - package.json
  - yarn.lock

'examples':
  - examples/*
  - examples/**

'test':
  - packages/**/*.test.js
  - tests/*
  - tests/**
  - jest.config.ts
  - jest.setup.ts
  - jest.types.ts

'roots-notifier':
  - packages/roots-notifier/*
  - packages/roots-notifier/**

'@roots/bud':
  - packages/@roots/bud/*
  - packages/@roots/bud/**

'@roots/bud-api':
  - packages/@roots/bud-api/*
  - packages/@roots/bud-api/**

'@roots/bud-babel':
  - packages/@roots/bud-babel/*
  - packages/@roots/bud-babel/**

'@roots/bud-build':
  - packages/@roots/bud-build/*
  - packages/@roots/bud-build/**

'@roots/bud-cache':
  - packages/@roots/bud-cache/*
  - packages/@roots/bud-cache/**

'@roots/bud-cli':
  - packages/@roots/bud-cli/*
  - packages/@roots/bud-cli/**

'@roots/bud-compiler':
  - packages/@roots/bud-compiler/*
  - packages/@roots/bud-compiler/**

'@roots/bud-compress':
  - packages/@roots/bud-compress/*
  - packages/@roots/bud-compress/**

'@roots/bud-criticalcss':
  - packages/@roots/bud-criticalcss/*
  - packages/@roots/bud-criticalcss/**

'@roots/bud-dashboard':
  - packages/@roots/bud-dashboard/*
  - packages/@roots/bud-dashboard/**

'@roots/bud-emotion':
  - packages/@roots/bud-emotion/*
  - packages/@roots/bud-emotion/**

'@roots/bud-entrypoints':
  - packages/@roots/bud-entrypoints/*
  - packages/@roots/bud-entrypoints/**

'@roots/bud-esbuild':
  - packages/@roots/bud-esbuild/*
  - packages/@roots/bud-esbuild/**

'@roots/bud-eslint':
  - packages/@roots/bud-eslint/*
  - packages/@roots/bud-eslint/**

'@roots/bud-extensions':
  - packages/@roots/bud-extensions/*
  - packages/@roots/bud-extensions/**

'@roots/bud-framework':
  - packages/@roots/bud-framework/*
  - packages/@roots/bud-framework/**

'@roots/bud-hooks':
  - packages/@roots/bud-hooks/*
  - packages/@roots/bud-hooks/**

'@roots/bud-imagemin':
  - packages/@roots/bud-imagemin/*
  - packages/@roots/bud-imagemin/**

'@roots/bud-library':
  - packages/@roots/bud-library/*
  - packages/@roots/bud-library/**

'@roots/bud-mdx':
  - packages/@roots/bud-mdx/*
  - packages/@roots/bud-mdx/**

'@roots/bud-postcss':
  - packages/@roots/bud-postcss/*
  - packages/@roots/bud-postcss/**

'@roots/bud-preset-recommend':
  - packages/@roots/bud-preset-recommend/*
  - packages/@roots/bud-preset-recommend/**

'@roots/bud-prettier':
  - packages/@roots/bud-prettier/*
  - packages/@roots/bud-prettier/**

'@roots/bud-purgecss':
  - packages/@roots/bud-purgecss/*
  - packages/@roots/bud-purgecss/**

'@roots/bud-react':
  - packages/@roots/bud-react/*
  - packages/@roots/bud-react/**

'@roots/bud-sass':
  - packages/@roots/bud-sass/*
  - packages/@roots/bud-sass/**

'@roots/bud-server':
  - packages/@roots/bud-server/*
  - packages/@roots/bud-server/**

'@roots/bud-solid':
  - packages/@roots/bud-solid/*
  - packages/@roots/bud-solid/**

'@roots/bud-stylelint':
  - packages/@roots/bud-stylelint/*
  - packages/@roots/bud-stylelint/**

'@roots/bud-support':
  - packages/@roots/bud-support/*
  - packages/@roots/bud-support/**

'@roots/bud-tailwindcss':
  - packages/@roots/bud-tailwindcss/*
  - packages/@roots/bud-tailwindcss/**

'@roots/bud-terser':
  - packages/@roots/bud-terser/*
  - packages/@roots/bud-terser/**

'@roots/bud-typescript':
  - packages/@roots/bud-typescript/*
  - packages/@roots/bud-typescript/**

'@roots/bud-typings':
  - packages/@roots/bud-typings/*
  - packages/@roots/bud-typings/**

'@roots/bud-vue':
  - packages/@roots/bud-vue/*
  - packages/@roots/bud-vue/**

'@roots/bud-wordpress-dependencies':
  - packages/@roots/bud-wordpress-dependencies/*
  - packages/@roots/bud-wordpress-dependencies/**

'@roots/bud-wordpress-externals':
  - packages/@roots/bud-wordpress-externals/*
  - packages/@roots/bud-wordpress-externals/**

'@roots/bud-wordpress-manifests':
  - packages/@roots/bud-wordpress-manifests/*
  - packages/@roots/bud-wordpress-manifests/**

'@roots/container':
  - packages/@roots/container/*
  - packages/@roots/container/**

'@roots/critical-css-webpack-plugin':
  - packages/@roots/critical-css-webpack-plugin/*
  - packages/@roots/critical-css-webpack-plugin/**

'@roots/dependencies':
  - packages/@roots/dependencies/*
  - packages/@roots/dependencies/**

'@roots/entrypoints-webpack-plugin':
  - packages/@roots/entrypoints-webpack-plugin/*
  - packages/@roots/entrypoints-webpack-plugin/**

'@roots/filesystem':
  - packages/@roots/filesystem/*
  - packages/@roots/filesystem/**

'@roots/ink-prettier':
  - packages/@roots/ink-prettier/*
  - packages/@roots/ink-prettier/**

'@roots/ink-use-style':
  - packages/@roots/ink-use-style/*
  - packages/@roots/ink-use-style/**

'@roots/merged-manifest-webpack-plugin':
  - packages/@roots/merged-manifest-webpack-plugin/*
  - packages/@roots/merged-manifest-webpack-plugin/**

'@roots/sage':
  - packages/@roots/sage/*
  - packages/@roots/sage/**

'@roots/wordpress-dependencies-webpack-plugin':
  - packages/@roots/wordpress-dependencies-webpack-plugin/*
  - packages/@roots/wordpress-dependencies-webpack-plugin/**

'@roots/wordpress-externals-webpack-plugin':
  - packages/@roots/wordpress-externals-webpack-plugin/*
  - packages/@roots/wordpress-externals-webpack-plugin/**

chore(deps): pin lodash to 4.17.21
  package.json
  yarn.lock
Labels: dependencies

chore(deps): bump eslint-plugin-import to v2.24.2
  package.json
  yarn.lock
Labels: dependencies

chore(deps): bump typescript-eslint monorepo to v4.29.3
  package.json
  yarn.lock
Labels: dependencies

chore(deps): bump vfile-reporter to v7.0.2
  packages/@roots/bud-support/package.json
  yarn.lock
Labels: dependencies, @roots/bud-support

chore(deps): bump vue monorepo to v3.2.6
  packages/@roots/bud-vue/package.json
  yarn.lock
Labels: dependencies, @roots/bud-vue

fix(deps): bump @yarnpkg/shell to v3.0.1-rc.3
  .yarn/local/package.json
  yarn.lock
Labels: dependencies

chore(deps): bump type-fest to v2.1.0
  package.json
  packages/@roots/bud-react/package.json
  packages/@roots/bud-solid/package.json
  packages/@roots/container/package.json
  yarn.lock
Labels: dependencies, @roots/bud-react, @roots/bud-solid, @roots/container

chore(deps): bump tsconfig-paths to v3.11.0
  package.json
  yarn.lock
Labels: dependencies
