Repository roots/bud, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, dependencies, examples, test, roots-notifier, @roots/bud, @roots/bud-api, @roots/bud-babel, @roots/bud-build, @roots/bud-cache, @roots/bud-cli, @roots/bud-compiler, @roots/bud-compress, @roots/bud-criticalcss, @roots/bud-dashboard, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-esbuild, @roots/bud-eslint, @roots/bud-extensions, @roots/bud-framework, @roots/bud-hooks, @roots/bud-imagemin, @roots/bud-library, @roots/bud-mdx, @roots/bud-postcss, @roots/bud-preset-recommend, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-react, @roots/bud-sass, @roots/bud-server, @roots/bud-solid, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-typings, @roots/bud-vue, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/container, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/entrypoints-webpack-plugin, @roots/filesystem, @roots/ink-prettier, @roots/ink-use-style, @roots/merged-manifest-webpack-plugin, @roots/sage, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin

.github/labeler.yml:

'docs':
  - site/*
  - site/**
  - README.md
  - packages/@roots/*/README.md
  - dev/site/*
  - dev/site/**/*
  - dev/readme/*
  - dev/readme/**/*

'dependencies':
  - packages/**/package.json
  - examples/**/package.json
  - package.json
  - yarn.lock

'examples':
  - examples/*
  - examples/**

'test':
  - packages/**/*.test.js
  - tests/*
  - tests/**
  - jest.config.ts
  - jest.setup.ts
  - jest.types.ts

'roots-notifier':
  - packages/roots-notifier/*
  - packages/roots-notifier/**

'@roots/bud':
  - packages/@roots/bud/*
  - packages/@roots/bud/**

'@roots/bud-api':
  - packages/@roots/bud-api/*
  - packages/@roots/bud-api/**

'@roots/bud-babel':
  - packages/@roots/bud-babel/*
  - packages/@roots/bud-babel/**

'@roots/bud-build':
  - packages/@roots/bud-build/*
  - packages/@roots/bud-build/**

'@roots/bud-cache':
  - packages/@roots/bud-cache/*
  - packages/@roots/bud-cache/**

'@roots/bud-cli':
  - packages/@roots/bud-cli/*
  - packages/@roots/bud-cli/**

'@roots/bud-compiler':
  - packages/@roots/bud-compiler/*
  - packages/@roots/bud-compiler/**

'@roots/bud-compress':
  - packages/@roots/bud-compress/*
  - packages/@roots/bud-compress/**

'@roots/bud-criticalcss':
  - packages/@roots/bud-criticalcss/*
  - packages/@roots/bud-criticalcss/**

'@roots/bud-dashboard':
  - packages/@roots/bud-dashboard/*
  - packages/@roots/bud-dashboard/**

'@roots/bud-emotion':
  - packages/@roots/bud-emotion/*
  - packages/@roots/bud-emotion/**

'@roots/bud-entrypoints':
  - packages/@roots/bud-entrypoints/*
  - packages/@roots/bud-entrypoints/**

'@roots/bud-esbuild':
  - packages/@roots/bud-esbuild/*
  - packages/@roots/bud-esbuild/**

'@roots/bud-eslint':
  - packages/@roots/bud-eslint/*
  - packages/@roots/bud-eslint/**

'@roots/bud-extensions':
  - packages/@roots/bud-extensions/*
  - packages/@roots/bud-extensions/**

'@roots/bud-framework':
  - packages/@roots/bud-framework/*
  - packages/@roots/bud-framework/**

'@roots/bud-hooks':
  - packages/@roots/bud-hooks/*
  - packages/@roots/bud-hooks/**

'@roots/bud-imagemin':
  - packages/@roots/bud-imagemin/*
  - packages/@roots/bud-imagemin/**

'@roots/bud-library':
  - packages/@roots/bud-library/*
  - packages/@roots/bud-library/**

'@roots/bud-mdx':
  - packages/@roots/bud-mdx/*
  - packages/@roots/bud-mdx/**

'@roots/bud-postcss':
  - packages/@roots/bud-postcss/*
  - packages/@roots/bud-postcss/**

'@roots/bud-preset-recommend':
  - packages/@roots/bud-preset-recommend/*
  - packages/@roots/bud-preset-recommend/**

'@roots/bud-prettier':
  - packages/@roots/bud-prettier/*
  - packages/@roots/bud-prettier/**

'@roots/bud-purgecss':
  - packages/@roots/bud-purgecss/*
  - packages/@roots/bud-purgecss/**

'@roots/bud-react':
  - packages/@roots/bud-react/*
  - packages/@roots/bud-react/**

'@roots/bud-sass':
  - packages/@roots/bud-sass/*
  - packages/@roots/bud-sass/**

'@roots/bud-server':
  - packages/@roots/bud-server/*
  - packages/@roots/bud-server/**

'@roots/bud-solid':
  - packages/@roots/bud-solid/*
  - packages/@roots/bud-solid/**

'@roots/bud-stylelint':
  - packages/@roots/bud-stylelint/*
  - packages/@roots/bud-stylelint/**

'@roots/bud-support':
  - packages/@roots/bud-support/*
  - packages/@roots/bud-support/**

'@roots/bud-tailwindcss':
  - packages/@roots/bud-tailwindcss/*
  - packages/@roots/bud-tailwindcss/**

'@roots/bud-terser':
  - packages/@roots/bud-terser/*
  - packages/@roots/bud-terser/**

'@roots/bud-typescript':
  - packages/@roots/bud-typescript/*
  - packages/@roots/bud-typescript/**

'@roots/bud-typings':
  - packages/@roots/bud-typings/*
  - packages/@roots/bud-typings/**

'@roots/bud-vue':
  - packages/@roots/bud-vue/*
  - packages/@roots/bud-vue/**

'@roots/bud-wordpress-dependencies':
  - packages/@roots/bud-wordpress-dependencies/*
  - packages/@roots/bud-wordpress-dependencies/**

'@roots/bud-wordpress-externals':
  - packages/@roots/bud-wordpress-externals/*
  - packages/@roots/bud-wordpress-externals/**

'@roots/bud-wordpress-manifests':
  - packages/@roots/bud-wordpress-manifests/*
  - packages/@roots/bud-wordpress-manifests/**

'@roots/container':
  - packages/@roots/container/*
  - packages/@roots/container/**

'@roots/critical-css-webpack-plugin':
  - packages/@roots/critical-css-webpack-plugin/*
  - packages/@roots/critical-css-webpack-plugin/**

'@roots/dependencies':
  - packages/@roots/dependencies/*
  - packages/@roots/dependencies/**

'@roots/entrypoints-webpack-plugin':
  - packages/@roots/entrypoints-webpack-plugin/*
  - packages/@roots/entrypoints-webpack-plugin/**

'@roots/filesystem':
  - packages/@roots/filesystem/*
  - packages/@roots/filesystem/**

'@roots/ink-prettier':
  - packages/@roots/ink-prettier/*
  - packages/@roots/ink-prettier/**

'@roots/ink-use-style':
  - packages/@roots/ink-use-style/*
  - packages/@roots/ink-use-style/**

'@roots/merged-manifest-webpack-plugin':
  - packages/@roots/merged-manifest-webpack-plugin/*
  - packages/@roots/merged-manifest-webpack-plugin/**

'@roots/sage':
  - packages/@roots/sage/*
  - packages/@roots/sage/**

'@roots/wordpress-dependencies-webpack-plugin':
  - packages/@roots/wordpress-dependencies-webpack-plugin/*
  - packages/@roots/wordpress-dependencies-webpack-plugin/**

'@roots/wordpress-externals-webpack-plugin':
  - packages/@roots/wordpress-externals-webpack-plugin/*
  - packages/@roots/wordpress-externals-webpack-plugin/**

docs: contributors
  dev/site/contributors.ts
  package.json
  site/docusaurus.config.js
  site/package.json
  site/pages/contributors.tsx
  site/pages/index.module.css
  site/src/components/Contributors/Contributor.tsx
  site/src/components/Contributors/index.tsx
  site/src/components/Contributors/style.module.css
  site/src/components/Icon/index.tsx
  site/static/data/contributors/catgofire.json
  site/static/data/contributors/clayrisser.json
  site/static/data/contributors/kellymears.json
  site/static/data/contributors/qwp6t.json
  site/static/data/contributors/swalkinshaw.json
  tsconfig.json
  yarn.lock
Labels: docs, dependencies

docs: use `<code>` in PeerDependencies component
  site/src/docs/PeerDependencies.tsx
Labels: docs

docs: improve contributors script
  .env.example
  .gitignore
  dev/site/cli-examples.ts
  dev/site/contributors.ts
  dev/site/index.ts
  examples/sage/storage/bud/bud.webpack.config.js
  package.json
  site/docusaurus.config.js
  site/package.json
  site/static/data/contributors/catgofire.json
  site/static/data/contributors/clayrisser.json
  site/static/data/contributors/kellymears.json
  yarn.lock
Labels: docs, dependencies, examples

test: integration test failures less annoying
  .editorconfig
  .vscode/launch.json
  examples/react/package.json
  examples/sage/storage/bud/bud.webpack.config.js
  jest.config.ts
  jest.integration.js
  site/extensions/bud-babel.mdx
  tests/integration/__snapshots__/preset-recommend.test.ts.snap
  tests/integration/__snapshots__/react.test.ts.snap
  tests/integration/preset-recommend.test.ts
  tests/integration/react.test.ts
  tests/unit/root/__snapshots__/index.ts.snap
  tests/unit/root/index.ts
  yarn.lock
Labels: docs, dependencies, examples, test

kjo: update versioning command
  .yarn/local/bundles/@yarnpkg/plugin-kjo.js
  .yarn/local/sources/version/Version.ts
  .yarn/local/sources/version/index.ts
  examples/react/bud.config.js
  examples/react/src/components/App.js
  examples/sage/storage/bud/bud.webpack.config.js
  examples/sass/.budfiles/bud.webpack.config.js
  package.json
  packages/@roots/bud-sass/manifest.yml
  packages/@roots/bud-sass/package.json
  tests/integration/__snapshots__/api-multi-compiler.test.ts.snap
  tests/integration/__snapshots__/babel.test.ts.snap
  tests/integration/__snapshots__/html-template.test.ts.snap
  tests/integration/__snapshots__/sass.test.ts.snap
  tests/integration/api-multi-compiler.test.ts
  tests/integration/babel.test.ts
  tests/integration/html-template.test.ts
  tests/integration/sass.test.ts
  tests/unit/bud-sass/__snapshots__/sass-installed.ts.snap
  tests/unit/bud-sass/sass-installed.ts
  yarn.lock
Labels: dependencies, examples, test, @roots/bud-sass

npm version
  .yarn/local/sources/version/index.ts
  dev/tasks/version.ts
  package.json
Labels: dependencies

4.7.0-next.11
  package.json
Labels: dependencies

fix: version --allow-same-version
  dev/tasks/version.ts
Labels: none

fix: version --allow-same-version
  dev/tasks/version.ts
Labels: none

fix: version --allow-same-version
  dev/tasks/version.ts
Labels: none

fix: version --allow-same-version
  dev/tasks/version.ts
Labels: none

v4.7.0-next.11
  dev/tasks/publish.ts
  examples/sage/storage/bud/bud.webpack.config.js
Labels: examples

fix: missing dependencies. broken extensions:install command
  examples/sage/storage/bud/bud.webpack.config.js
  packages/@roots/bud-stylelint/src/index.ts
  packages/@roots/bud-tailwindcss/src/BudTailwindCssExtension.ts
  packages/@roots/bud/package.json
  packages/@roots/bud/src/Bud/services/Dependencies/index.tsx
  packages/@roots/bud/src/cli/commands/extensions/install.ts
  packages/@roots/sage/manifest.yml
  packages/@roots/sage/package.json
  yarn.lock
Labels: dependencies, examples, @roots/bud, @roots/bud-stylelint, @roots/bud-tailwindcss, @roots/sage

tests: update
  .yarn/local/bundles/@yarnpkg/plugin-kjo.js
  .yarn/local/sources/test/index.ts
  dev/tasks/version.ts
  examples/sage/storage/bud/bud.webpack.config.js
  tests/integration/__snapshots__/sage.test.ts.snap
  yarn.lock
Labels: dependencies, examples, test

improve: discovery cleanup
  packages/@roots/bud/src/Bud/services/Discovery/index.ts
Labels: @roots/bud

tests: discovery
  examples/sage/storage/bud/bud.webpack.config.js
  packages/@roots/bud/src/Bud/services/Discovery/index.ts
  tests/unit/bud-babel/__snapshots__/index.ts.snap
  tests/unit/bud-babel/index.ts
  tests/unit/bud-emotion/index.ts
  tests/unit/bud-framework/Framework/index.ts
  tests/unit/bud-postcss/Config.ts
  tests/unit/bud-postcss/__snapshots__/Config.ts.snap
  tests/unit/bud/Services/Discovery/__snapshots__/index.ts.snap
  tests/unit/bud/Services/Discovery/index.ts
Labels: examples, test, @roots/bud

update tests
  examples/babel/package.json
  examples/basic/package.json
  examples/critical-css/package.json
  examples/emotion/package.json
  examples/esbuild/package.json
  examples/eslint/package.json
  examples/html-template/package.json
  examples/imagemin/package.json
  examples/markdown/package.json
  examples/multi-compiler/package.json
  examples/node-api/package.json
  examples/postcss/package.json
  examples/preset-recommend/package.json
  examples/react/package.json
  examples/sage/package.json
  examples/sage/storage/bud/bud.webpack.config.js
  examples/sass/package.json
  examples/solid/package.json
  examples/tailwindcss/package.json
  examples/typescript/package.json
  examples/vue/.budfiles/bud.webpack.config.js
  examples/vue/package.json
  examples/wordpress-theme/package.json
  packages/@roots/bud-esbuild/package.json
  packages/@roots/bud-framework/src/Discovery.ts
  packages/@roots/bud/src/Bud/services/Discovery/index.ts
  tests/unit/root/__snapshots__/index.ts.snap
  yarn.lock
Labels: dependencies, examples, test, @roots/bud, @roots/bud-esbuild, @roots/bud-framework

chore(deps): pin dotenv to 10.0.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): pin lodash to 4.17.21
  package.json
  yarn.lock
Labels: dependencies

chore(deps): bump typescript-eslint monorepo to v4.29.3
  package.json
  yarn.lock
Labels: dependencies

chore(deps): bump vfile-reporter to v7.0.2
  packages/@roots/bud-support/package.json
  yarn.lock
Labels: dependencies, @roots/bud-support

chore(deps): bump vue monorepo to v3.2.6
  packages/@roots/bud-vue/package.json
  yarn.lock
Labels: dependencies, @roots/bud-vue

fix(deps): bump @yarnpkg/shell to v3.0.1-rc.3
  .yarn/local/package.json
  yarn.lock
Labels: dependencies

fix(deps): bump globby to v12.0.2
  packages/@roots/bud-support/package.json
  packages/base/package.json
  packages/deprecated/bud-cli/package.json
  yarn.lock
Labels: dependencies, @roots/bud-support

chore(deps): bump tsconfig-paths to v3.11.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): bump eslint-plugin-import to v2.24.2
  package.json
  yarn.lock
Labels: dependencies

chore(deps): bump eslint-plugin-import to v2.24.2
  package.json
  yarn.lock
Labels: dependencies

chore(deps): bump type-fest to v2.1.0
  package.json
  packages/@roots/bud-react/package.json
  packages/@roots/bud-solid/package.json
  packages/@roots/container/package.json
  yarn.lock
Labels: dependencies, @roots/bud-react, @roots/bud-solid, @roots/container

fix: type resolution
  packages/@roots/bud-preset-recommend/tsconfig.json
  packages/@roots/bud-preset-wordpress/src/index.ts
  packages/@roots/bud-preset-wordpress/tsconfig.json
  packages/@roots/bud-wordpress-dependencies/tsconfig.json
Labels: @roots/bud-preset-recommend, @roots/bud-wordpress-dependencies

fix: type resolution
  packages/@roots/bud-babel/tsconfig.json
  packages/@roots/bud-preset-recommend/tsconfig.json
  packages/@roots/bud-solid/tsconfig.json
  tsconfig.esm.json
Labels: @roots/bud-babel, @roots/bud-preset-recommend, @roots/bud-solid

fix: type resolution
  packages/@roots/bud-preset-wordpress/tsconfig.json
  packages/@roots/sage/tsconfig.json
  tsconfig.base.json
  tsconfig.esm.json
  tsconfig.json
Labels: @roots/sage

fix: type resolution
  packages/@roots/bud-babel/tsconfig-esm.json
  packages/@roots/bud-babel/tsconfig.json
  packages/@roots/bud-typescript/src/BudTypeScriptExtension.ts
  packages/@roots/bud-wordpress-externals/src/index.ts
  packages/@roots/bud-wordpress-externals/src/interface.ts
  packages/@roots/sage/package.json
  packages/@roots/sage/tsconfig.json
Labels: dependencies, @roots/bud-babel, @roots/bud-typescript, @roots/bud-wordpress-externals, @roots/sage

improve: build
  .yarn/local/bundles/@yarnpkg/plugin-kjo.js
  .yarn/local/sources/build/index.ts
  .yarn/local/sources/clean/index.ts
  .yarn/local/sources/lint/index.ts
  .yarn/local/sources/make/index.ts
  dev/tasks/compile/cjs.ts
  dev/tasks/compile/esm.ts
  dev/tasks/compile/options.ts
  examples/sage/storage/bud/bud.webpack.config.js
  jest.config.ts
  package.json
  packages/@roots/bud-support/package.json
  packages/@roots/bud-support/src/ncc/cjs.ts
  packages/@roots/bud-support/src/ncc/esm.ts
  packages/@roots/bud-support/types/ncc/cjs.d.ts
  packages/@roots/bud-support/types/ncc/cjs.d.ts.map
  packages/@roots/bud-support/types/ncc/esm.d.ts
  packages/@roots/bud-support/types/ncc/esm.d.ts.map
  packages/@roots/bud-support/types/ncc/options.d.ts
  packages/@roots/bud-support/types/ncc/options.d.ts.map
  packages/@roots/bud-wordpress-dependencies/types/index.d.ts
  packages/@roots/bud-wordpress-dependencies/types/index.d.ts.map
  packages/@roots/bud/tsconfig-esm.json
  packages/@roots/bud/tsconfig.json
  packages/@roots/sage/tsconfig.json
  tsconfig.base.json
  yarn.lock
Labels: dependencies, examples, test, @roots/bud, @roots/bud-support, @roots/bud-wordpress-dependencies, @roots/sage

fix: gh action
  .github/workflows/main.yml
Labels: none

examples: package.json
  .yarn/local/bundles/@yarnpkg/plugin-kjo.js
  .yarn/local/sources/make/index.ts
  examples/babel/package.json
  examples/basic/package.json
  examples/critical-css/package.json
  examples/emotion/package.json
  examples/esbuild/package.json
  examples/eslint/package.json
  examples/html-template/package.json
  examples/imagemin/package.json
  examples/markdown/package.json
  examples/multi-compiler/package.json
  examples/node-api/package.json
  examples/postcss/package.json
  examples/preset-recommend/package.json
  examples/react/package.json
  examples/sage/package.json
  examples/sass/package.json
  examples/solid/package.json
  examples/tailwindcss/package.json
  examples/typescript/package.json
  examples/vue/package.json
  examples/wordpress-theme/package.json
Labels: dependencies, examples

ts: root types
  examples/sage/storage/bud/bud.webpack.config.js
  packages/@roots/container/tsconfig.json
  tsconfig.json
Labels: examples, @roots/container

fix: add missing refs from build #967
  packages/@roots/bud-build/tsconfig.json
  packages/@roots/bud-cache/tsconfig.json
  packages/@roots/bud-dashboard/tsconfig.json
Labels: @roots/bud-build, @roots/bud-cache, @roots/bud-dashboard

fix: remove root node refs causing fail in build #968
  examples/sage/storage/bud/bud.webpack.config.js
  tsconfig.json
Labels: examples

fix(deps): revert yarn 3.1.0-rc.1 to 3.0.1
  .yarn/releases/yarn-3.0.1.cjs
  .yarn/releases/yarn-3.1.0-rc.1.cjs
  .yarnrc.yml
  package.json
Labels: dependencies

chore(deps): pin dependencies
  package.json
  yarn.lock
Labels: dependencies
