Repository roots/bud, pull requests merged in 2021-06, with the labels that each got.

#92 test: @roots/container
  .circleci/config.yml
  jest.config.js
  packages/@roots/bud-api/src/methods/proxy.ts
  packages/@roots/bud-api/src/methods/template/index.ts
  packages/@roots/bud-framework/src/Store/index.ts
  packages/@roots/bud-server/src/Server/index.ts
  packages/@roots/bud-server/src/middleware/proxy.ts
  packages/@roots/bud/src/extensions/webpack-manifest-plugin/index.ts
  packages/@roots/container/src/Container/index.ts
  tests/bud-api/methods/alias.ts
  tests/bud-api/methods/dev.ts
  tests/bud-api/methods/hash.ts
  tests/bud-build/Rule.ts
  tests/bud-build/config.dev.ts
  tests/bud-build/config.ts
  tests/bud-server/config.ts
  tests/container/Container/index.ts
  tests/container/index.ts
Labels: @roots/bud, @roots/bud-api, @roots/bud-framework, @roots/bud-server, @roots/container, patch, test

#111 improve: @roots/entrypoints-webpack-plugin
  examples/sage/package.json
  examples/sage/tailwind.config.js
  packages/@roots/bud-build/src/Build/config.ts
  packages/@roots/bud-compiler/src/Compiler/index.ts
  packages/@roots/bud-dashboard/src/Dashboard/Dashboard.tsx
  packages/@roots/bud-entrypoints/src/EntrypointsExtension.ts
  packages/@roots/bud-entrypoints/src/index.ts
  packages/@roots/bud-entrypoints/src/types/index.d.ts
  packages/@roots/bud-entrypoints/tsconfig.json
  packages/@roots/bud-framework/src/Hooks/index.ts
  packages/@roots/bud-support/src/util/wordpressPkgs.ts
  packages/@roots/bud-wordpress-dependencies/src/index.ts
  packages/@roots/entrypoints-webpack-plugin/package.json
  packages/@roots/entrypoints-webpack-plugin/src/EntrypointsWebpackPlugin.ts
  packages/@roots/entrypoints-webpack-plugin/src/index.ts
  packages/@roots/entrypoints-webpack-plugin/src/types/index.d.ts
  packages/@roots/merged-manifest-webpack-plugin/src/index.ts
  packages/@roots/sage/manifest.yml
  packages/@roots/sage/src/sage/index.ts
  packages/@roots/wordpress-dependencies-webpack-plugin/README.md
  packages/@roots/wordpress-dependencies-webpack-plugin/package.json
  packages/@roots/wordpress-dependencies-webpack-plugin/src/WordPressDependenciesWebpackPlugin.ts
  packages/@roots/wordpress-dependencies-webpack-plugin/src/index.ts
  packages/@roots/wordpress-dependencies-webpack-plugin/src/interface.ts
  packages/@roots/wordpress-dependencies-webpack-plugin/src/types/index.d.ts
  packages/@roots/wordpress-dependencies-webpack-plugin/tsconfig.json
  tests/bud-build/config.ts
  tests/entrypoints-webpack-plugin/index.ts
  yarn.lock
Labels: @roots/bud-build, @roots/bud-compiler, @roots/bud-dashboard, @roots/bud-entrypoints, @roots/bud-framework, @roots/bud-support, @roots/bud-wordpress-dependencies, @roots/entrypoints-webpack-plugin, @roots/merged-manifest-webpack-plugin, @roots/sage, @roots/wordpress-dependencies-webpack-plugin, examples, test

#114 add @typescript-eslint/explicit-member-accessibility
  .eslintrc.js
  package.json
  packages/@roots/bud-eslint/src/api.ts
  packages/@roots/bud-framework/src/Service/index.ts
  packages/@roots/bud-server/src/client/ErrorOverlay/Component.ts
  packages/@roots/bud-server/src/client/Indicator/Indicator.ts
  packages/@roots/bud/src/Bud.ts
  packages/@roots/container/src/Container/index.ts
  packages/@roots/dependencies/src/dependencies.ts
  packages/@roots/dependencies/src/npm.ts
  packages/@roots/dependencies/src/yarn.ts
  packages/@roots/filesystem/src/FileContainer/index.ts
  packages/@roots/wordpress-dependencies-webpack-plugin/src/WordPressDependenciesWebpackPlugin.ts
  packages/@roots/wordpress-externals-webpack-plugin/src/index.ts
  yarn.lock
Labels: @roots/bud, @roots/bud-eslint, @roots/bud-framework, @roots/bud-server, @roots/container, @roots/dependencies, @roots/filesystem, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, dependencies

#119 Add sanity check for test environment
  package.json
  tests/tests/index.ts
  yarn.lock
Labels: dependencies, test

#115 docs: document versioning & release process
  dev/docs/src/pages/dev.md
  docs/dev.md
Labels: docs

#117 tests
  dev/scripts/prep.sh
  jest.setup.ts
  package.json
  packages/@roots/bud-build/src/Rule/index.ts
  packages/@roots/bud-postcss/src/index.ts
  tests/bud-api/methods/path.ts
  tests/bud-api/methods/publicPath.ts
  tests/bud-build/Build.ts
  tests/bud-build/Rule.ts
  tests/sage/sage/index.ts
  tests/tests/index.ts
  tests/util.ts
  tsconfig.json
  yarn.lock
Labels: @roots/bud-build, @roots/bud-postcss, dependencies, test

#123 Improve: deduplicate @roots/bud-build interfaces
  .circleci/config.yml
  jest.config.ts
  package.json
  packages/@roots/bud-build/src/Build/index.ts
  packages/@roots/bud-build/src/Item/index.ts
  packages/@roots/bud-build/src/Item/interface.ts
  packages/@roots/bud-build/src/Loader/index.ts
  packages/@roots/bud-build/src/Loader/interface.ts
  packages/@roots/bud-build/src/Rule/index.ts
  packages/@roots/bud-build/src/Rule/interface.ts
  packages/@roots/bud-build/src/shared/Base.ts
  packages/@roots/bud-framework/src/Build/Item.ts
  packages/@roots/bud-framework/src/Build/Rule.ts
  packages/@roots/bud-framework/src/Build/index.ts
Labels: @roots/bud-build, @roots/bud-framework, dependencies, test

#127 improve: loaders
  packages/@roots/bud-build/package.json
  packages/@roots/bud-build/src/Build/index.ts
  packages/@roots/bud-build/src/Rule/index.ts
  packages/@roots/bud-framework/src/Build/Rule.ts
  packages/@roots/bud-framework/src/Hooks/index.ts
  tests/bud-build/config.ts
  yarn.lock
Labels: @roots/bud-build, @roots/bud-framework, dependencies

#126 Fix imagemin
  examples/imagemin/.env
  examples/imagemin/.eslintrc.js
  examples/imagemin/README.md
  examples/imagemin/bud.config.js
  examples/imagemin/jsconfig.json
  examples/imagemin/package.json
  examples/imagemin/src/app.js
  examples/imagemin/src/owl.jpeg
  jest.integration.js
  package.json
  packages/@roots/bud-imagemin/README.md
  packages/@roots/bud-imagemin/docs/README.md
  packages/@roots/bud-imagemin/src/Api.ts
  packages/@roots/bud-imagemin/src/Extension.ts
  packages/@roots/bud-imagemin/src/WebpackPlugin.ts
  packages/@roots/bud-imagemin/src/docs/README.md
  packages/@roots/bud-imagemin/src/imagemin/index.ts
  packages/@roots/bud-imagemin/src/index.ts
  packages/@roots/bud-imagemin/src/interface.ts
  tests/bud-api/methods/publicPath.ts
  tests/bud-imagemin/index.ts
  tests/integration/imagemin.test.ts
  tests/util/index.ts
  yarn.lock
Labels: @roots/bud, @roots/bud-api, @roots/bud-babel, @roots/bud-build, @roots/bud-cache, @roots/bud-cli, @roots/bud-compiler, @roots/bud-criticalcss, @roots/bud-dashboard, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-esbuild, @roots/bud-eslint, @roots/bud-extensions, @roots/bud-framework, @roots/bud-hooks, @roots/bud-imagemin, @roots/bud-library, @roots/bud-mdx, @roots/bud-postcss, @roots/bud-preset-recommend, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-react, @roots/bud-sass, @roots/bud-server, @roots/bud-stylelint, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-vue, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/container, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/entrypoints-webpack-plugin, @roots/filesystem, @roots/ink-prettier, @roots/ink-use-style, @roots/merged-manifest-webpack-plugin, @roots/sage, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, dependencies, docs, examples, test

#128 Improve: tests and imagemin safety
  examples/imagemin/bud.config.js
  examples/imagemin/src/index.html
  packages/@roots/bud-build/src/Rule/index.ts
  packages/@roots/bud-framework/src/Extensions/Extension.ts
  packages/@roots/bud-imagemin/src/WebpackPlugin.ts
  tests/bud-build/Build.ts
  tests/bud-build/Rule.ts
  tests/bud-compiler/index.ts
  tests/bud-extensions/Extension.ts
  tests/bud-imagemin/index.ts
  tests/bud/Services/Discovery/index.ts
Labels: @roots/bud-build, @roots/bud-framework, @roots/bud-imagemin, examples, test

#129 Release: v4.5.0 🙈
  packages/@roots/bud-api/package.json
  packages/@roots/bud-babel/package.json
  packages/@roots/bud-build/package.json
  packages/@roots/bud-cache/package.json
  packages/@roots/bud-cli/package.json
  packages/@roots/bud-compiler/package.json
  packages/@roots/bud-compress/package.json
  packages/@roots/bud-criticalcss/package.json
  packages/@roots/bud-dashboard/package.json
  packages/@roots/bud-emotion/package.json
  packages/@roots/bud-entrypoints/package.json
  packages/@roots/bud-esbuild/package.json
  packages/@roots/bud-eslint/package.json
  packages/@roots/bud-extensions/package.json
  packages/@roots/bud-framework/package.json
  packages/@roots/bud-hooks/package.json
  packages/@roots/bud-imagemin/package.json
  packages/@roots/bud-library/package.json
  packages/@roots/bud-mdx/package.json
  packages/@roots/bud-postcss/package.json
  packages/@roots/bud-preset-recommend/package.json
  packages/@roots/bud-prettier/package.json
  packages/@roots/bud-purgecss/package.json
  packages/@roots/bud-react/package.json
  packages/@roots/bud-sass/package.json
  packages/@roots/bud-server/package.json
  packages/@roots/bud-stylelint/package.json
  packages/@roots/bud-support/package.json
  packages/@roots/bud-tailwindcss/package.json
  packages/@roots/bud-terser/package.json
  packages/@roots/bud-typescript/package.json
  packages/@roots/bud-typings/package.json
  packages/@roots/bud-vue/package.json
  packages/@roots/bud-wordpress-dependencies/package.json
  packages/@roots/bud-wordpress-externals/package.json
  packages/@roots/bud-wordpress-manifests/package.json
  packages/@roots/bud/package.json
  packages/@roots/container/package.json
  packages/@roots/critical-css-webpack-plugin/package.json
  packages/@roots/dependencies/package.json
  packages/@roots/entrypoints-webpack-plugin/package.json
  packages/@roots/filesystem/package.json
  packages/@roots/ink-prettier/package.json
  packages/@roots/ink-use-style/package.json
  packages/@roots/merged-manifest-webpack-plugin/package.json
  packages/@roots/sage/package.json
  packages/@roots/wordpress-dependencies-webpack-plugin/package.json
  packages/@roots/wordpress-externals-webpack-plugin/package.json
Labels: @roots/bud, @roots/bud-api, @roots/bud-babel, @roots/bud-build, @roots/bud-cache, @roots/bud-cli, @roots/bud-compiler, @roots/bud-criticalcss, @roots/bud-dashboard, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-esbuild, @roots/bud-eslint, @roots/bud-extensions, @roots/bud-framework, @roots/bud-hooks, @roots/bud-imagemin, @roots/bud-library, @roots/bud-mdx, @roots/bud-postcss, @roots/bud-preset-recommend, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-react, @roots/bud-sass, @roots/bud-server, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-typings, @roots/bud-vue, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/container, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/entrypoints-webpack-plugin, @roots/filesystem, @roots/ink-prettier, @roots/ink-use-style, @roots/merged-manifest-webpack-plugin, @roots/sage, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, dependencies

#137 feat(framework): add .tap() method
  packages/@roots/bud-framework/src/Framework/index.ts
  tests/bud-framework/Framework/index.ts
Labels: @roots/bud-framework, test

#138 fix: @roots/bud-imagemin default svgo options
  packages/@roots/bud-imagemin/src/Extension.ts
  tests/bud-imagemin/index.ts
Labels: @roots/bud-imagemin, test

#133 fix: html webpack plugin incompatible with html loader
  packages/@roots/bud-api/package.json
  packages/@roots/bud-api/src/methods/template/HtmlWebpackPlugin.ts
  packages/@roots/bud-api/src/methods/template/InterpolateHtmlPlugin.ts
  packages/@roots/bud-api/src/methods/template/index.ts
  packages/@roots/bud/package.json
  packages/@roots/bud/src/extensions/html-hard-disk-plugin/index.ts
  packages/@roots/bud/src/extensions/index.ts
  tests/bud-api/methods/template.ts
  yarn.lock
Labels: @roots/bud, @roots/bud-api, dependencies, test

#145 feature: support direct webpack plugin usage
  packages/@roots/bud-api/package.json
  packages/@roots/bud-api/src/methods/use/index.ts
  packages/@roots/bud-framework/src/Extensions/Module.ts
  tests/bud-api/methods/use.ts
  yarn.lock
Labels: @roots/bud-api, @roots/bud-framework, dependencies, test

#147 Tests
  packages/@roots/bud-framework/src/Framework/index.ts
  tests/bud-api/methods/alias.ts
  tests/bud-api/methods/config.ts
  tests/bud-api/methods/dev.ts
  tests/bud-api/methods/entry.ts
  tests/bud-api/methods/externals.ts
  tests/bud-api/methods/hash.ts
  tests/bud-api/methods/lazy.ts
  tests/bud-api/methods/minimize.ts
  tests/bud-api/methods/path.ts
  tests/bud-api/methods/publicPath.ts
  tests/bud-api/methods/setPath.ts
  tests/bud-api/methods/splitChunks.ts
  tests/bud-build/config.dev.ts
  tests/bud-framework/Framework/index.ts
  tests/bud-framework/Framework/path.ts
  tests/bud-tailwindcss/index.ts
Labels: @roots/bud-framework, test

#149 fixes
  dev/scripts/prep.sh
  examples/multi-compiler/bud.config.js
  examples/multi-compiler/src/global.css
  examples/multi-compiler/src/global.js
  packages/@roots/bud-compiler/src/Compiler/index.ts
  packages/@roots/bud-extensions/src/Extensions/index.ts
  packages/@roots/bud-framework/src/Compiler/index.ts
  packages/@roots/bud-framework/src/Configuration/index.ts
  packages/@roots/bud-framework/src/Extensions/Extensions.ts
  packages/@roots/bud/src/config.ts
  packages/@roots/bud/src/extensions/css-minimizer-webpack-plugin/index.ts
  tests/bud-api/methods/use.ts
  tests/integration/api-multi-compiler.test.ts
Labels: @roots/bud, @roots/bud-compiler, @roots/bud-extensions, @roots/bud-framework, examples, test

#150 fix: `bud build` target flag
  packages/@roots/bud-cli/src/Build.ts
Labels: @roots/bud-cli

#146 README: Fix typo in Installation command
  packages/@roots/bud-preset-recommend/README.md
Labels: @roots/bud-preset-recommend

#151 fixes/improvements
  examples/multi-compiler/bud.config.js
  examples/multi-compiler/src/global.js
  examples/preset-recommend/src/index.css
  examples/preset-recommend/src/index.js
  examples/react/bud.config.js
  packages/@roots/bud-api/src/Api.ts
  packages/@roots/bud-babel/src/Config/BaseConfig.ts
  packages/@roots/bud-babel/src/Config/index.ts
  packages/@roots/bud-babel/src/index.ts
  packages/@roots/bud-build/src/Build/config.ts
  packages/@roots/bud-build/src/Build/index.ts
  packages/@roots/bud-cli/package.json
  packages/@roots/bud-cli/src/Build.ts
  packages/@roots/bud-cli/src/Clean.ts
  packages/@roots/bud-cli/src/Command.ts
  packages/@roots/bud-cli/src/Config.ts
  packages/@roots/bud-cli/src/commands/extensions/install.ts
  packages/@roots/bud-cli/src/commands/extensions/list.ts
  packages/@roots/bud-cli/src/index.ts
  packages/@roots/bud-compiler/src/Compiler/index.ts
  packages/@roots/bud-dashboard/src/Dashboard/index.tsx
  packages/@roots/bud-extensions/src/Extension/index.ts
  packages/@roots/bud-extensions/src/Extensions/index.ts
  packages/@roots/bud-framework/src/Build/index.ts
  packages/@roots/bud-framework/src/Configuration/index.ts
  packages/@roots/bud-framework/src/Dashboard/index.ts
  packages/@roots/bud-framework/src/Extensions/Base.ts
  packages/@roots/bud-framework/src/Framework/index.ts
  packages/@roots/bud-framework/src/Logger/index.ts
  packages/@roots/bud-framework/src/Service/index.ts
  packages/@roots/bud-mdx/package.json
  packages/@roots/bud-mdx/src/index.ts
  packages/@roots/bud-preset-recommend/manifest.yml
  packages/@roots/bud-preset-recommend/src/index.ts
  packages/@roots/bud-server/src/Server/index.ts
  packages/@roots/bud/src/Bud.ts
  packages/@roots/bud/src/config.ts
  packages/@roots/bud/src/extensions/webpack-config-dump-plugin/index.ts
  packages/@roots/bud/src/services/Dependencies/Base.ts
  packages/@roots/bud/src/services/Disk/index.ts
  packages/@roots/bud/src/services/Logger/index.ts
  packages/@roots/bud/src/services/index.ts
  tests/bud-build/config.ts
  tests/bud-framework/Framework/index.ts
  tests/util/index.ts
  yarn.lock
Labels: @roots/bud, @roots/bud-api, @roots/bud-babel, @roots/bud-build, @roots/bud-cli, @roots/bud-compiler, @roots/bud-dashboard, @roots/bud-extensions, @roots/bud-framework, @roots/bud-mdx, @roots/bud-preset-recommend, @roots/bud-server, dependencies, examples, test
