Repository roots/bud, pull requests merged in 2021-11, with the labels that each got.

#679 chore(deps): Bump a few dependencies
  .yarn/local/package.json
  examples/bedrock/package.json
  examples/critical-css/package.json
  examples/emotion/package.json
  examples/markdown/package.json
  examples/react/package.json
  examples/sage/package.json
  examples/sass/package.json
  examples/tailwindcss/package.json
  examples/vue/package.json
  examples/wordpress-theme/package.json
  packages/@roots/bud-api/package.json
  packages/@roots/bud-babel/package.json
  packages/@roots/bud-build/package.json
  packages/@roots/bud-compress/package.json
  packages/@roots/bud-eslint/package.json
  packages/@roots/bud-solid/package.json
  packages/@roots/bud-stylelint/package.json
  packages/@roots/bud-tailwindcss/package.json
  packages/@roots/bud-terser/package.json
  packages/@roots/bud-typescript/package.json
  packages/@roots/bud-vue/package.json
  packages/@roots/bud/package.json
  packages/@roots/critical-css-webpack-plugin/package.json
  tests/integration/__snapshots__/emotion.test.ts.snap
  yarn.lock
Labels: dependencies, @roots/bud, @roots/bud-api, @roots/bud-build, examples, @roots/bud-babel, @roots/bud-vue, @roots/bud-eslint, @roots/bud-stylelint, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/critical-css-webpack-plugin, test, @roots/bud-solid, @roots/bud-compress, dev

#694 Update stable -> main
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  CHANGELOG.md
  site/releases/5.0.0.mdx
Labels: CI, docs

#703 fix(bud-install): sass, postcss, tailwindcss
  packages/@roots/bud-esbuild/src/api/index.ts
  packages/@roots/bud-esbuild/src/bud.esbuild.ts
  packages/@roots/bud-esbuild/src/index.ts
  packages/@roots/bud-extensions/src/Controller/controller.dependencies.ts
  packages/@roots/bud-extensions/src/Controller/controller.service.ts
  packages/@roots/bud-framework/src/Extensions/Extension/compiler-plugin.interface.ts
  packages/@roots/bud-framework/src/Extensions/Extension/index.ts
  packages/@roots/bud-framework/src/Extensions/Extension/module.interface.ts
  packages/@roots/bud-framework/src/Framework/bindMethod.ts
  packages/@roots/bud-postcss/package.json
  packages/@roots/bud-postcss/src/BudPostCssExtension/index.ts
  packages/@roots/bud-postcss/src/PostCssConfig/index.ts
  packages/@roots/bud-postcss/src/bud.postcss.ts
  packages/@roots/bud-postcss/src/index.ts
  packages/@roots/bud-postcss/src/postcss.extension.ts
  packages/@roots/bud-sass/src/BudSassExtension.ts
  packages/@roots/bud-tailwindcss/package.json
  packages/@roots/bud-tailwindcss/src/bud.tailwind.ts
  packages/@roots/bud-tailwindcss/src/index.ts
  packages/@roots/bud-tailwindcss/src/tailwind.config.ts
  packages/@roots/bud-tailwindcss/src/tailwind.extension.ts
  packages/@roots/bud-tailwindcss/src/tailwind.requirements.ts
  packages/@roots/bud-tailwindcss/src/tailwind.service.ts
  packages/@roots/bud-tailwindcss/tsconfig.json
  tests/unit/bud-extensions/Extension.ts
  tests/unit/bud-extensions/Extensions.ts
  tests/unit/bud-tailwindcss/index.ts
  yarn.lock
Labels: dependencies, @roots/bud-esbuild, @roots/bud-framework, @roots/bud-extensions, @roots/bud-postcss, @roots/bud-sass, @roots/bud-tailwindcss, test

#737 fix: @roots/bud-sass syntax
  packages/@roots/bud-extensions/src/Controller/controller.service.ts
  packages/@roots/bud-postcss/src/postcss.extension.ts
  packages/@roots/bud-sass/package.json
  packages/@roots/bud-sass/src/BudSassExtension.ts
  packages/@roots/bud-sass/src/index.ts
  packages/@roots/bud-sass/src/sass.dependency.ts
  packages/@roots/bud-sass/src/sass.extension.ts
  packages/@roots/bud-sass/src/sass.postcss.ts
  packages/@roots/bud-sass/src/sass.webpack.ts
  yarn.lock
Labels: bug, dependencies, @roots/bud-extensions, @roots/bud-postcss, @roots/bud-sass
