Repository roots/bud, pull requests merged in 2021-12, with the labels that each got.

#752 improve: dashboard warnings and errors
  examples/sage/tailwind.config.js
  examples/tailwindcss/package.json
  examples/tailwindcss/public/index.html
  examples/tailwindcss/tailwind.config.js
  packages/@roots/bud-api/src/api/methods/entry/index.ts
  packages/@roots/bud-compiler/src/Compiler/index.ts
  packages/@roots/bud-dashboard/package.json
  packages/@roots/bud-dashboard/src/Boot/index.tsx
  packages/@roots/bud-dashboard/src/Dashboard/index.tsx
  packages/@roots/bud-dashboard/src/Error.tsx
  packages/@roots/bud-dashboard/src/components/Dashboard.tsx
  packages/@roots/bud-dashboard/src/components/Error/index.tsx
  packages/@roots/bud-dashboard/src/components/Main.tsx
  packages/@roots/bud-dashboard/src/components/Performance.tsx
  packages/@roots/bud-dashboard/src/components/Progress/index.tsx
  packages/@roots/bud-dashboard/src/components/Screen.tsx
  packages/@roots/bud-dashboard/src/components/assets/asset.component.tsx
  packages/@roots/bud-dashboard/src/components/assets/assets.component.tsx
  packages/@roots/bud-dashboard/src/components/assets/index.ts
  packages/@roots/bud-dashboard/src/components/assets/summary.component.tsx
  packages/@roots/bud-dashboard/src/components/dashboard.component.tsx
  packages/@roots/bud-dashboard/src/components/index.tsx
  packages/@roots/bud-dashboard/src/components/input.component.tsx
  packages/@roots/bud-dashboard/src/components/message/index.tsx
  packages/@roots/bud-dashboard/src/components/message/message.component.tsx
  packages/@roots/bud-dashboard/src/components/message/messages.component.tsx
  packages/@roots/bud-dashboard/src/components/progress/bar/index.tsx
  packages/@roots/bud-dashboard/src/components/progress/index.tsx
  packages/@roots/bud-dashboard/src/components/progress/progress.component.tsx
  packages/@roots/bud-dashboard/src/components/serve/index.tsx
  packages/@roots/bud-dashboard/src/components/serve/serve.component.tsx
  packages/@roots/bud-dashboard/src/hooks/index.ts
  packages/@roots/bud-dashboard/src/hooks/useFormatter.ts
  packages/@roots/bud-dashboard/src/index.ts
  packages/@roots/bud-dashboard/src/services/human-readable.ts
  packages/@roots/bud-dashboard/src/services/lodash.ts
  packages/@roots/bud-dashboard/src/services/patch-console.ts
  packages/@roots/bud-extensions/src/Controller/controller.service.ts
  packages/@roots/bud-framework/src/Dashboard.ts
  packages/@roots/bud-framework/src/Framework/methods/close.ts
  packages/@roots/bud-framework/src/Framework/methods/path.ts
  packages/@roots/bud-postcss/src/postcss.extension.ts
  packages/@roots/bud-sass/src/sass.dependency.ts
  packages/@roots/bud-sass/src/sass.postcss.ts
  packages/@roots/bud-server/src/util/injectClient.ts
  tests/integration/__snapshots__/tailwindcss.test.ts.snap
  tests/integration/tailwindcss.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud-api, @roots/bud-dashboard, @roots/bud-extensions, examples, @roots/bud-compiler, @roots/bud-server, @roots/bud-postcss, @roots/bud-sass, test

#721 rename kjo command to repo
  .github/workflows/main.yml
  .gitignore
  .prettierignore
  .yarn/local/bundles/@yarnpkg/plugin-kjo.js
  .yarn/local/sources/Command.ts
  .yarn/local/sources/build/index.ts
  .yarn/local/sources/clean/index.ts
  .yarn/local/sources/compile/index.ts
  .yarn/local/sources/lint/index.ts
  .yarn/local/sources/make/index.ts
  .yarn/local/sources/md/index.ts
  .yarn/local/sources/test/index.ts
  .yarn/repo/bundles/@yarnpkg/plugin-repo.js
  .yarn/repo/package.json
  .yarn/repo/sources/Command.ts
  .yarn/repo/sources/build/index.ts
  .yarn/repo/sources/clean/index.ts
  .yarn/repo/sources/compile/index.ts
  .yarn/repo/sources/docs/index.ts
  .yarn/repo/sources/index.ts
  .yarn/repo/sources/lint/index.ts
  .yarn/repo/sources/make/index.ts
  .yarn/repo/sources/test/index.ts
  .yarn/repo/tsconfig.json
  .yarnrc.yml
  dev/build/.yarnrc.yml
  dev/build/ci.sh
  dev/build/init.sh
  dev/tasks/publish.ts
  package.json
  site/releases/5.0.0.mdx
  site/static/casts/build.svg
  yarn.lock
Labels: dependencies, CI, docs, dev

#747 improve: hooks
  examples/babel/bud.config.ts
  packages/@roots/bud-api/src/api/api.service.ts
  packages/@roots/bud-api/src/api/methods/entry/index.ts
  packages/@roots/bud-api/src/api/methods/persist/index.ts
  packages/@roots/bud-api/src/api/methods/publicPath/index.ts
  packages/@roots/bud-api/src/api/methods/run/index.ts
  packages/@roots/bud-api/src/api/methods/splitChunks/index.ts
  packages/@roots/bud-build/src/Build/config.ts
  packages/@roots/bud-build/src/Build/index.ts
  packages/@roots/bud-cache/src/Cache/index.ts
  packages/@roots/bud-compiler/src/Compiler/index.ts
  packages/@roots/bud-dashboard/src/Dashboard/index.tsx
  packages/@roots/bud-dashboard/src/components/dashboard.component.tsx
  packages/@roots/bud-esbuild/src/features/esbuild-ts.ts
  packages/@roots/bud-extensions/src/Controller/controller.service.ts
  packages/@roots/bud-framework/src/Framework/index.ts
  packages/@roots/bud-framework/src/Framework/lifecycle/index.ts
  packages/@roots/bud-framework/src/Hooks.ts
  packages/@roots/bud-hooks/src/Hooks/index.ts
  packages/@roots/bud-mdx/src/index.ts
  packages/@roots/bud-react/src/BudReactExtension.ts
  packages/@roots/bud-server/src/Server/index.ts
  packages/@roots/bud-server/src/middleware/proxy/index.ts
  packages/@roots/bud-server/src/util/injectClient.ts
  packages/@roots/bud-vue/src/vue.extension.ts
  packages/@roots/bud/src/cli/commands/serve.ts
  packages/@roots/bud/src/services/Hooks/hooks.constants.ts
  packages/@roots/bud/src/services/Hooks/index.ts
  packages/@roots/bud/src/services/Project/project.service.ts
  tests/unit/bud-api/repository/entry.ts
  tests/unit/bud-api/repository/experiments.ts
  tests/unit/bud-api/repository/path.ts
  tests/unit/bud-api/repository/persist.ts
  tests/unit/bud-api/repository/runtime.ts
  tests/unit/bud-api/repository/splitChunks.ts
Labels: @roots/bud-esbuild, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-extensions, @roots/bud-build, @roots/bud-cache, examples, @roots/bud-compiler, @roots/bud-server, @roots/bud-react, @roots/bud-vue, @roots/bud-hooks, @roots/bud-mdx, test

#720 improve: tighten @roots/bud-support
  examples/tailwindcss/bud.config.js
  packages/@roots/bud-api/package.json
  packages/@roots/bud-api/src/api/methods/minimize/minimize.dependencies.ts
  packages/@roots/bud-framework/package.json
  packages/@roots/bud-framework/src/Logger/logger.dependencies.ts
  packages/@roots/bud-framework/src/Store.ts
  packages/@roots/bud-server/package.json
  packages/@roots/bud-server/src/Server/server.dependencies.ts
  packages/@roots/bud-server/src/client/ErrorOverlay/Component.ts
  packages/@roots/bud-server/src/client/ErrorOverlay/template.ts
  packages/@roots/bud-server/src/client/index.ts
  packages/@roots/bud-server/src/client/logger.ts
  packages/@roots/bud-server/src/client/overlay/blur.web-component.ts
  packages/@roots/bud-server/src/client/overlay/index.ts
  packages/@roots/bud-server/src/client/overlay/inner.web-component.ts
  packages/@roots/bud-server/src/client/overlay/messages.web-component.ts
  packages/@roots/bud-server/src/client/overlay/overlay.web-component.ts
  packages/@roots/bud-server/src/client/overlay/template.web-component.ts
  packages/@roots/bud-server/src/index.ts
  packages/@roots/bud-server/src/server/index.ts
  packages/@roots/bud-server/src/server/server.dependencies.ts
  packages/@roots/bud-server/src/server/server.interface.ts
  packages/@roots/bud-support/package.json
  packages/@roots/bud-support/src/external/chokidar.ts
  packages/@roots/bud-support/src/external/express.ts
  packages/@roots/bud-support/src/external/ignore-emit-webpack-plugin.ts
  packages/@roots/bud-support/src/external/lodash.ts
  packages/@roots/bud-support/src/external/webpack-provide-plugin.ts
  packages/@roots/bud-support/src/index.ts
  packages/@roots/bud-support/src/util/wordpressPkgs.ts
  packages/@roots/bud/src/extensions/ignore-emit-webpack-plugin/ignore-emit-webpack-plugin.dependencies.ts
  packages/@roots/bud/src/extensions/ignore-emit-webpack-plugin/ignore-emit-webpack-plugin.interface.ts
  packages/@roots/bud/src/extensions/ignore-emit-webpack-plugin/index.ts
  packages/@roots/bud/src/extensions/index.ts
  packages/@roots/bud/src/extensions/webpack-provide-plugin/webpack-provide-plugin.dependencies.ts
  packages/@roots/bud/src/extensions/webpack-provide-plugin/webpack-provide-plugin.interface.ts
  packages/@roots/bud/src/interface.ts
  packages/@roots/bud/src/services/Project/peers/peers.dependencies.ts
  packages/@roots/bud/src/services/Project/project.service.ts
  packages/@roots/bud/src/services/Server/index.ts
  packages/@roots/bud/src/services/Server/server.dependencies.ts
  packages/@roots/bud/src/services/Server/server.interface.ts
  packages/@roots/bud/tsconfig-esm.json
  tests/unit/bud-extensions/__snapshots__/development.ts.snap
  tests/unit/bud-extensions/__snapshots__/production.ts.snap
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-api, examples, @roots/bud-server, @roots/bud-support, test

#763 fix: omit bundled packages from @roots/wordpress-externals-webpack-plugin
  packages/@roots/bud-support/src/util/wordpressPkgs.ts
Labels: bug, @roots/bud-support

#734 fix: disable hashing in development
  packages/@roots/bud-api/src/api/methods/assets/assets.method.ts
  packages/@roots/bud-api/src/api/methods/define/index.ts
  packages/@roots/bud-api/src/api/methods/hash/index.ts
  packages/@roots/bud-api/src/api/methods/provide/index.ts
  packages/@roots/bud-api/src/api/methods/template/index.ts
  packages/@roots/bud-api/src/api/methods/template/interpolate-html-plugin.extension.ts
  packages/@roots/bud-build/src/Build/config.ts
  packages/@roots/bud-build/src/Build/items.ts
  packages/@roots/bud-build/src/Build/rules.ts
  packages/@roots/bud-compress/src/BudBrotliWebpackPlugin.ts
  packages/@roots/bud-compress/src/BudGzipWebpackPlugin.ts
  packages/@roots/bud-criticalcss/src/critical.ts
  packages/@roots/bud-eslint/src/eslint.api.ts
  packages/@roots/bud-extensions/src/Controller/controller.service.ts
  packages/@roots/bud-framework/src/Configuration.ts
  packages/@roots/bud-imagemin/src/imagemin.config.ts
  packages/@roots/bud-postcss/src/postcss.extension.ts
  packages/@roots/bud-react/src/reactRefresh.ts
  packages/@roots/bud-sass/src/sass.postcss.ts
  packages/@roots/bud-terser/src/terser.api.ts
  packages/@roots/bud/src/config.ts
  packages/@roots/bud/src/extensions/mini-css-extract-plugin/index.ts
  tests/integration/__snapshots__/emotion.test.ts.snap
  tests/integration/__snapshots__/imagemin.test.ts.snap
  tests/unit/bud-extensions/__snapshots__/development.ts.snap
  tests/unit/bud-extensions/__snapshots__/production.ts.snap
  tests/unit/bud-extensions/development.ts
  tests/unit/bud-extensions/production.ts
Labels: bug, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-extensions, @roots/bud-build, @roots/bud-react, @roots/bud-criticalcss, @roots/bud-eslint, @roots/bud-imagemin, @roots/bud-postcss, @roots/bud-sass, @roots/bud-terser, test, @roots/bud-compress

#780 fix: yarn repo docs
  site/src/components/contributors/contributor.component.tsx
  site/src/components/contributors/contributors.component.tsx
  site/src/components/contributors/index.tsx
  site/src/components/contributors/style.module.css
Labels: bug, CI, docs

#824 Fix dev server public path
  examples/sage/tailwind.config.js
  packages/@roots/bud-api/src/api/methods/proxy/index.ts
  packages/@roots/bud-api/src/api/methods/serve/index.ts
  packages/@roots/bud-server/src/client/index.ts
  packages/@roots/bud-server/src/client/proxy-click-interceptor.js
  packages/@roots/bud-server/src/middleware/dev/index.ts
  packages/@roots/bud-server/src/middleware/proxy/proxy.middleware.ts
  packages/@roots/bud-server/src/middleware/proxy/proxy.options.ts
  packages/@roots/bud-server/src/middleware/proxy/res.interceptor.ts
  packages/@roots/bud-server/src/server/index.ts
  packages/@roots/bud-server/tsconfig.json
  packages/@roots/bud-tailwindcss/src/tailwind.extension.ts
  packages/@roots/sage/src/Sage/index.ts
Labels: @roots/bud-api, examples, @roots/bud-server, @roots/bud-tailwindcss, @roots/sage

#825 feat(server): update req headers
  packages/@roots/bud-server/src/middleware/proxy/req.interceptor.ts
Labels: @roots/bud-server

#848 refactor(tailwind): migrate all config files to v3
  examples/bedrock/tailwind.config.js
  examples/critical-css/tailwind.config.js
  examples/sage/tailwind.config.js
  examples/tailwindcss/tailwind.config.js
  packages/@roots/bud-tailwindcss/templates/tailwind.config.js
Labels: dependencies, CI, @roots/bud-api, examples, docs, test, dev

#830 fix(test): correct path import
  tests/unit/bud-api/repository/hash.test.ts
Labels: test

#849 fix(cli): nerf `bud install`
  packages/@roots/bud/src/cli/commands/build.ts
  packages/@roots/bud/src/cli/commands/install.ts
  tests/unit/bud/cli/commands/__snapshots__/build.test.ts.snap
Labels: @roots/bud, test

#860 fix: font rule
  packages/@roots/bud-build/src/Build/rules.ts
  packages/@roots/bud-framework/src/Build/Rule/index.ts
  tests/unit/bud-build/__snapshots__/config.test.ts.snap
  tests/unit/bud-build/config.test.ts
Labels: bug, @roots/bud-framework, @roots/bud-build, test

#867 fix(deps): bump image-minimizer-webpack-plugin to v3
  examples/imagemin/bud.config.js
  examples/imagemin/package.json
  packages/@roots/bud-imagemin/package.json
  packages/@roots/bud-imagemin/src/imagemin.config.ts
  packages/@roots/bud-imagemin/src/imagemin.extension.ts
  packages/@roots/bud-imagemin/src/imagemin.plugin.ts
  packages/@roots/bud-imagemin/src/index.ts
  packages/@roots/bud-imagemin/tsconfig.json
  site/extensions/bud-imagemin.mdx
  tests/integration/__snapshots__/imagemin.test.ts.snap
  tests/unit/bud-imagemin/extension.test.ts
  yarn.lock
Labels: dependencies, examples, docs, @roots/bud-imagemin, test

#884 improve issue/pr templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI, internal

#887 fix: node-api example
  examples/node-api/bud.js
  examples/node-api/package.json
  examples/node-api/webpack.config.js
  site/guides/advanced-use/node.mdx
  yarn.lock
Labels: dependencies, examples, docs

#896 improve(framework) typecheck bud.store
  packages/@roots/bud-api/src/api/methods/template/html-webpack-plugin.extension.ts
  packages/@roots/bud-api/src/api/methods/template/index.ts
  packages/@roots/bud-api/src/api/methods/template/interpolate-html-plugin.extension.ts
  packages/@roots/bud-eslint/src/eslint.options.ts
  packages/@roots/bud-framework/src/Bootstrapper.ts
  packages/@roots/bud-framework/src/Configuration.ts
  packages/@roots/bud-framework/src/Framework/index.ts
  packages/@roots/bud-framework/src/Hooks.ts
  packages/@roots/bud-framework/src/Logger/index.ts
  packages/@roots/bud-framework/src/Logger/logger.constants.ts
  packages/@roots/bud-framework/src/Server/Interface.ts
  packages/@roots/bud-framework/src/Store.ts
  packages/@roots/bud-framework/src/index.ts
  packages/@roots/bud-mdx/src/index.ts
  packages/@roots/bud/src/cli/Runner/index.ts
  packages/@roots/bud/src/extensions/clean-webpack-plugin/index.ts
  packages/@roots/bud/src/extensions/copy-webpack-plugin/index.ts
  packages/@roots/bud/src/extensions/mini-css-extract-plugin/index.ts
  packages/@roots/bud/src/extensions/webpack-define-plugin/index.ts
  packages/@roots/bud/src/extensions/webpack-manifest-plugin/index.ts
  packages/@roots/bud/src/extensions/webpack-provide-plugin/index.ts
  packages/@roots/bud/src/factory/index.ts
  packages/@roots/bud/src/index.ts
  packages/@roots/bud/src/seed.ts
  tests/unit/bud-api/repository/path.test.ts
  tests/unit/bud-api/repository/template.test.ts
  tests/unit/bud-extensions/__snapshots__/service.development.test.ts.snap
  tests/unit/bud-extensions/__snapshots__/service.production.test.ts.snap
  tests/unit/bud-server/__snapshots__/service.test.ts.snap
  tests/unit/bud-server/service.test.ts
Labels: @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-eslint, @roots/bud-mdx, test

#893 feature(entrypoints-webpack-plugin): options to emit as html
  packages/@roots/bud-entrypoints/src/BudEntrypointsPlugin.ts
  packages/@roots/bud-entrypoints/src/entrypoints.extension.ts
  packages/@roots/bud-entrypoints/src/index.ts
  packages/@roots/entrypoints-webpack-plugin/src/index.ts
  packages/@roots/entrypoints-webpack-plugin/src/inline.emitter.ts
  packages/@roots/entrypoints-webpack-plugin/src/webpack.plugin.ts
Labels: @roots/entrypoints-webpack-plugin, @roots/bud-entrypoints

#891 refactor(@roots/bud-build) build.rules api
  packages/@roots/bud-babel/src/babel.extension.ts
  packages/@roots/bud-build/src/Build/config.ts
  packages/@roots/bud-build/src/Build/index.ts
  packages/@roots/bud-build/src/Build/rules.ts
  packages/@roots/bud-build/src/Rule/index.ts
  packages/@roots/bud-esbuild/src/features/esbuild-ts.ts
  packages/@roots/bud-framework/src/Build/Build/Interface.ts
  packages/@roots/bud-framework/src/Build/Rule/Abstract.ts
  packages/@roots/bud-framework/src/Build/Rule/Interface.ts
  packages/@roots/bud-framework/src/Build/Rule/index.ts
  packages/@roots/bud-framework/src/index.ts
  packages/@roots/bud-mdx/src/index.ts
  packages/@roots/bud-sass/src/sass.extension.ts
  packages/@roots/bud-sass/src/sass.webpack.ts
  packages/@roots/bud-typescript/src/BudTypeScriptExtension.ts
  packages/@roots/bud-vue/src/vue.extension.ts
  tests/unit/bud-build/rule.test.ts
Labels: @roots/bud-esbuild, @roots/bud-framework, @roots/bud-build, @roots/bud-babel, @roots/bud-vue, @roots/bud-mdx, @roots/bud-sass, @roots/bud-typescript, test
