Repository roots/bud, pull requests merged in 2021-05, with the labels that each got.

#58 fix: filesystem caching issues
  .github/labeler.yml
  examples/sage/bud.config.yml
  packages/@roots/bud-api/src/docs/path.md
  packages/@roots/bud-api/src/docs/use.md
  packages/@roots/bud-build/src/Build/config.ts
  packages/@roots/bud-cache/src/index.ts
  packages/@roots/bud-compiler/src/Compiler/index.ts
  packages/@roots/bud-dashboard/src/Dashboard/Dashboard.tsx
  packages/@roots/bud-dashboard/src/Dashboard/index.tsx
  packages/@roots/bud-dashboard/src/hooks/useCompilation.ts
  packages/@roots/bud-dashboard/src/interface.ts
  packages/@roots/bud-framework/src/Cache/index.ts
  packages/@roots/bud-framework/src/Compiler/index.ts
  packages/@roots/bud-framework/src/Hooks/index.ts
  packages/@roots/bud-server/src/util/injectClient.ts
  packages/@roots/bud/src/extensions/index.ts
Labels: @roots/bud-api, @roots/bud-build, @roots/bud-cache, @roots/bud-dashboard, bug

#60 v4.1.0
  .github/workflows/build.yml
  .yarn/versions/e56a1fc1.yml
  packages/@roots/bud-api/package.json
  packages/@roots/bud-babel/package.json
  packages/@roots/bud-build/package.json
  packages/@roots/bud-cache/package.json
  packages/@roots/bud-cli/package.json
  packages/@roots/bud-compiler/package.json
  packages/@roots/bud-compress/package.json
  packages/@roots/bud-criticalcss/package.json
  packages/@roots/bud-dashboard/package.json
  packages/@roots/bud-emotion/package.json
  packages/@roots/bud-entrypoints/package.json
  packages/@roots/bud-esbuild/package.json
  packages/@roots/bud-eslint/package.json
  packages/@roots/bud-extensions/package.json
  packages/@roots/bud-framework/package.json
  packages/@roots/bud-hooks/package.json
  packages/@roots/bud-imagemin/package.json
  packages/@roots/bud-library/package.json
  packages/@roots/bud-mdx/package.json
  packages/@roots/bud-postcss/package.json
  packages/@roots/bud-preset-recommend/package.json
  packages/@roots/bud-prettier/package.json
  packages/@roots/bud-purgecss/package.json
  packages/@roots/bud-react/package.json
  packages/@roots/bud-sass/package.json
  packages/@roots/bud-server/package.json
  packages/@roots/bud-stylelint/package.json
  packages/@roots/bud-support/package.json
  packages/@roots/bud-tailwindcss/package.json
  packages/@roots/bud-terser/package.json
  packages/@roots/bud-typescript/package.json
  packages/@roots/bud-typings/package.json
  packages/@roots/bud-vue/package.json
  packages/@roots/bud-wordpress-dependencies/package.json
  packages/@roots/bud-wordpress-externals/package.json
  packages/@roots/bud-wordpress-manifests/package.json
  packages/@roots/bud/package.json
  packages/@roots/container/package.json
  packages/@roots/critical-css-webpack-plugin/package.json
  packages/@roots/dependencies/package.json
  packages/@roots/entrypoints-webpack-plugin/package.json
  packages/@roots/filesystem/package.json
  packages/@roots/ink-prettier/package.json
  packages/@roots/ink-use-style/package.json
  packages/@roots/merged-manifest-webpack-plugin/package.json
  packages/@roots/sage/package.json
  packages/@roots/wordpress-dependencies-webpack-plugin/package.json
  packages/@roots/wordpress-externals-webpack-plugin/package.json
Labels: @roots/bud, @roots/bud-api, @roots/bud-babel, @roots/bud-build, @roots/bud-cache, @roots/bud-cli, @roots/bud-compiler, @roots/bud-criticalcss, @roots/bud-dashboard, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-esbuild, @roots/bud-eslint, @roots/bud-extensions, @roots/bud-framework, @roots/bud-hooks, @roots/bud-imagemin, @roots/bud-library, @roots/bud-mdx, @roots/bud-postcss, @roots/bud-preset-recommend, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-react, @roots/bud-sass, @roots/bud-server, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-typings, @roots/bud-vue, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/container, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/entrypoints-webpack-plugin, @roots/filesystem, @roots/ink-prettier, @roots/ink-use-style, @roots/merged-manifest-webpack-plugin, @roots/sage, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin

#62 fix: catch fatal errors for non git projects and git repos without commits
  packages/@roots/bud-dashboard/src/hooks/useGit.ts
  packages/@roots/bud-dashboard/src/interface.ts
Labels: @roots/bud-dashboard

#64 fix: eslint and persistent cache compatibility
  .github/workflows/build.yml
  examples/sage/bud.config.yml
  examples/sage/resources/scripts/app.js
  examples/sage/resources/scripts/customizer.js
  examples/sage/resources/scripts/editor.js
  package.json
  packages/@roots/bud-api/src/methods/persist.ts
  packages/@roots/bud-build/src/Build/config.ts
  packages/@roots/bud-cache/src/index.ts
  packages/@roots/bud-dashboard/src/Dashboard/Dashboard.tsx
  packages/@roots/bud-dashboard/src/hooks/useCompilation.ts
  packages/@roots/bud-eslint/manifest.yml
  packages/@roots/bud-eslint/package.json
  packages/@roots/bud-eslint/src/api.ts
  packages/@roots/bud-eslint/src/docs/README.md
  packages/@roots/bud-eslint/src/index.ts
  packages/@roots/bud-eslint/src/interface.ts
  packages/@roots/bud-eslint/template/.eslintrc.js
  packages/@roots/bud-eslint/template/ts.eslintrc.js
  packages/@roots/bud-framework/src/Cache/index.ts
  packages/@roots/sage/manifest.yml
  packages/@roots/sage/src/sage/index.ts
  yarn.lock
Labels: @roots/bud-build, @roots/bud-cache, @roots/bud-dashboard, @roots/bud-eslint, @roots/bud-framework, @roots/sage, docs, examples

#69 yarn, build scripts and ci
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-sources.cjs
  .yarnrc.yml
  dev/build/node/init.sh
  dev/scripts/colophon.js
  dev/scripts/prep.sh
  docs/cli.md
  package.json
  packages/@roots/bud-eslint/README.md
  packages/@roots/bud-eslint/docs/README.md
Labels: @roots/bud-eslint, docs

#70 adds build status badge to docs
  README.md
  dev/docs/gen/remark.ts
  dev/docs/src/templates/banner.md
  examples/sage/resources/scripts/app.js
  packages/@roots/bud-api/README.md
  packages/@roots/bud-api/docs/README.md
  packages/@roots/bud-babel/README.md
  packages/@roots/bud-babel/docs/README.md
  packages/@roots/bud-build/README.md
  packages/@roots/bud-build/docs/README.md
  packages/@roots/bud-cli/README.md
  packages/@roots/bud-cli/docs/README.md
  packages/@roots/bud-compress/README.md
  packages/@roots/bud-compress/docs/README.md
  packages/@roots/bud-criticalcss/README.md
  packages/@roots/bud-criticalcss/docs/README.md
  packages/@roots/bud-eslint/README.md
  packages/@roots/bud-eslint/docs/README.md
  packages/@roots/bud-hooks/README.md
  packages/@roots/bud-hooks/docs/README.md
  packages/@roots/bud-imagemin/README.md
  packages/@roots/bud-imagemin/docs/README.md
  packages/@roots/bud-library/README.md
  packages/@roots/bud-library/docs/README.md
  packages/@roots/bud-postcss/README.md
  packages/@roots/bud-postcss/docs/README.md
  packages/@roots/bud-preset-recommend/README.md
  packages/@roots/bud-preset-recommend/docs/README.md
  packages/@roots/bud-react/README.md
  packages/@roots/bud-react/docs/README.md
  packages/@roots/bud-sass/README.md
  packages/@roots/bud-sass/docs/README.md
  packages/@roots/bud-server/README.md
  packages/@roots/bud-server/docs/README.md
  packages/@roots/bud-tailwindcss/README.md
  packages/@roots/bud-tailwindcss/docs/README.md
  packages/@roots/bud/README.md
  packages/@roots/bud/docs/README.md
  packages/@roots/bud/package.json
  packages/@roots/entrypoints-webpack-plugin/README.md
  packages/@roots/entrypoints-webpack-plugin/docs/README.md
  packages/@roots/merged-manifest-webpack-plugin/README.md
  packages/@roots/merged-manifest-webpack-plugin/docs/README.md
  packages/@roots/sage/README.md
  packages/@roots/sage/docs/README.md
  packages/@roots/wordpress-dependencies-webpack-plugin/README.md
  packages/@roots/wordpress-dependencies-webpack-plugin/docs/README.md
  packages/@roots/wordpress-externals-webpack-plugin/README.md
  packages/@roots/wordpress-externals-webpack-plugin/docs/README.md
Labels: @roots/bud, @roots/bud-api, @roots/bud-babel, @roots/bud-build, @roots/bud-cli, @roots/bud-criticalcss, @roots/bud-eslint, @roots/bud-hooks, @roots/bud-imagemin, @roots/bud-library, @roots/bud-postcss, @roots/bud-preset-recommend, @roots/bud-react, @roots/bud-sass, @roots/bud-server, @roots/bud-tailwindcss, @roots/entrypoints-webpack-plugin, @roots/merged-manifest-webpack-plugin, @roots/sage, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, docs, examples

#71 adds: override method, before/after hooks
  .github/workflows/build.yml
  README.md
  docs/config/externals.md
  docs/config/lazy.md
  docs/config/override.md
  docs/config/persist.md
  docs/config/setPublicPath.md
  docs/config/use.md
  packages/@roots/bud-api/docs/externals.md
  packages/@roots/bud-api/docs/lazy.md
  packages/@roots/bud-api/docs/override.md
  packages/@roots/bud-api/docs/persist.md
  packages/@roots/bud-api/docs/setPublicPath.md
  packages/@roots/bud-api/docs/use.md
  packages/@roots/bud-api/src/docs/externals.md
  packages/@roots/bud-api/src/docs/lazy.md
  packages/@roots/bud-api/src/docs/override.md
  packages/@roots/bud-api/src/docs/persist.md
  packages/@roots/bud-api/src/docs/setPublicPath.md
  packages/@roots/bud-api/src/docs/use.md
  packages/@roots/bud-api/src/methods/entry.ts
  packages/@roots/bud-api/src/methods/externals/index.ts
  packages/@roots/bud-api/src/methods/hash/index.ts
  packages/@roots/bud-api/src/methods/index.ts
  packages/@roots/bud-api/src/methods/lazy/index.ts
  packages/@roots/bud-api/src/methods/minimize.ts
  packages/@roots/bud-api/src/methods/override.ts
  packages/@roots/bud-api/src/methods/persist.ts
  packages/@roots/bud-api/src/methods/provide.ts
  packages/@roots/bud-api/src/methods/publicPath.ts
  packages/@roots/bud-api/src/methods/run.ts
  packages/@roots/bud-api/src/methods/runtime.ts
  packages/@roots/bud-api/src/methods/setPath.ts
  packages/@roots/bud-api/src/methods/setPublicPath.ts
  packages/@roots/bud-build/src/Build/index.ts
  packages/@roots/bud-compiler/src/Compiler/index.ts
  packages/@roots/bud-dashboard/src/hooks/useCompilation.ts
  packages/@roots/bud-framework/src/Hooks/index.ts
  packages/@roots/bud/README.md
  packages/@roots/bud/docs/README.md
Labels: @roots/bud, @roots/bud-build, @roots/bud-compiler, @roots/bud-dashboard, @roots/bud-framework, docs

#77 remove last @roots/bud-typings definitions
  .github/labeler.yml
  .github/workflows/build.yml
  README.md
  docs/config/README.md
  packages/@roots/bud-api/README.md
  packages/@roots/bud-api/docs/README.md
  packages/@roots/bud-api/package.json
  packages/@roots/bud-api/src/docs/README.md
  packages/@roots/bud-cache/package.json
  packages/@roots/bud-cli/README.md
  packages/@roots/bud-cli/docs/README.md
  packages/@roots/bud-cli/src/docs/README.md
  packages/@roots/bud-compress/package.json
  packages/@roots/bud-typings/README.md
  packages/@roots/bud-typings/package.json
  packages/@roots/bud/README.md
  packages/@roots/bud/docs/README.md
  packages/@roots/bud/src/config.ts
  packages/@roots/bud/src/docs/README.md
  packages/@roots/bud/src/extensions/webpack-manifest-plugin/index.ts
  packages/@roots/bud/src/extensions/webpack-provide-plugin/index.ts
  packages/@roots/bud/src/services/index.ts
  yarn.lock
Labels: @roots/bud, @roots/bud-api, @roots/bud-cache, @roots/bud-cli, @roots/bud-typings, docs

#79 v4.2.0
  .prettierignore
  CHANGELOG.md
  dev/docs/gen/cli.js
  examples/typescript/bud.config.js
  examples/typescript/bud.config.ts
  examples/typescript/tsconfig.json
  packages/@roots/bud-api/src/methods/persist.ts
  packages/@roots/bud-hooks/README.md
  packages/@roots/bud-hooks/docs/README.md
  packages/@roots/bud-hooks/docs/hooks.md
  packages/@roots/bud-hooks/src/docs/README.md
  packages/@roots/bud-hooks/src/docs/hooks.md
  packages/@roots/bud/src/extensions/html-webpack-plugin/index.ts
Labels: @roots/bud, @roots/bud-api, @roots/bud-hooks, docs, examples

#81 Testing
  jest.config.js
  tests/bud-api/methods/alias.ts
  tests/bud-api/methods/hash.ts
  tests/entrypoints-webpack-plugin/index.ts
  tsconfig.json
Labels: test

#85 test: test suite
  packages/@roots/bud-api/src/methods/dev/index.test.js
  packages/@roots/bud-build/src/Build/config.ts
  packages/@roots/bud-framework/src/Framework/index.ts
  tests/bud-api/methods/alias.ts
  tests/bud-api/methods/dev.ts
  tests/bud-api/methods/hash.ts
  tests/bud-build/Rule.ts
  tests/bud-build/config.dev.ts
  tests/bud-build/config.ts
  tests/bud-server/config.ts
Labels: @roots/bud-api, @roots/bud-build, @roots/bud-framework, test

#86 test: fix tests
  .github/workflows/build.yml
  dev/scripts/ci.sh
  dev/scripts/fresh.sh
  dev/scripts/prep.sh
  package.json
  packages/@roots/bud-build/src/Build/config.ts
  packages/@roots/bud-cache/package.json
  packages/@roots/bud-dashboard/src/components/DevStatus/index.tsx
  packages/@roots/bud-framework/package.json
  packages/@roots/bud-framework/src/Framework/index.ts
  packages/@roots/bud-hooks/docs/hooks.md
  packages/@roots/bud-hooks/src/docs/hooks.md
  packages/@roots/bud-server/package.json
  packages/@roots/bud-typescript/package.json
  packages/@roots/bud/package.json
  packages/@roots/filesystem/package.json
  packages/@roots/merged-manifest-webpack-plugin/package.json
  packages/base/package.json
  tests/bud-api/methods/alias.ts
  tests/bud-api/methods/dev.ts
  tests/bud-api/methods/hash.ts
  tests/bud-build/Rule.ts
  tests/bud-build/config.dev.ts
  tests/bud-build/config.ts
  tests/bud-server/config.ts
  tests/container/index.ts
  yarn.lock
Labels: @roots/bud, @roots/bud-build, @roots/bud-cache, @roots/bud-dashboard, @roots/bud-framework, @roots/bud-hooks, @roots/bud-server, @roots/bud-typescript, @roots/filesystem, @roots/merged-manifest-webpack-plugin, docs, test

#87 build: add profile script
  .gitignore
  package.json
  packages/@roots/bud-api/package.json
  packages/@roots/bud-babel/package.json
  packages/@roots/bud-build/package.json
  packages/@roots/bud-cache/package.json
  packages/@roots/bud-cli/package.json
  packages/@roots/bud-compiler/package.json
  packages/@roots/bud-compress/package.json
  packages/@roots/bud-criticalcss/package.json
  packages/@roots/bud-dashboard/package.json
  packages/@roots/bud-emotion/package.json
  packages/@roots/bud-entrypoints/package.json
  packages/@roots/bud-esbuild/package.json
  packages/@roots/bud-eslint/package.json
  packages/@roots/bud-extensions/package.json
  packages/@roots/bud-framework/package.json
  packages/@roots/bud-hooks/package.json
  packages/@roots/bud-imagemin/package.json
  packages/@roots/bud-library/package.json
  packages/@roots/bud-mdx/package.json
  packages/@roots/bud-postcss/package.json
  packages/@roots/bud-preset-recommend/package.json
  packages/@roots/bud-prettier/package.json
  packages/@roots/bud-purgecss/package.json
  packages/@roots/bud-react/package.json
  packages/@roots/bud-sass/package.json
  packages/@roots/bud-server/package.json
  packages/@roots/bud-stylelint/package.json
  packages/@roots/bud-support/package.json
  packages/@roots/bud-tailwindcss/package.json
  packages/@roots/bud-terser/package.json
  packages/@roots/bud-typescript/package.json
  packages/@roots/bud-vue/package.json
  packages/@roots/bud-wordpress-dependencies/package.json
  packages/@roots/bud-wordpress-externals/package.json
  packages/@roots/bud-wordpress-manifests/package.json
  packages/@roots/bud/package.json
  packages/@roots/container/package.json
  packages/@roots/critical-css-webpack-plugin/package.json
  packages/@roots/dependencies/package.json
  packages/@roots/entrypoints-webpack-plugin/package.json
  packages/@roots/filesystem/package.json
  packages/@roots/ink-prettier/package.json
  packages/@roots/ink-use-style/package.json
  packages/@roots/merged-manifest-webpack-plugin/package.json
  packages/@roots/sage/package.json
  packages/@roots/wordpress-dependencies-webpack-plugin/package.json
  packages/@roots/wordpress-externals-webpack-plugin/package.json
  packages/base/package.json
Labels: @roots/bud, @roots/bud-api, @roots/bud-babel, @roots/bud-build, @roots/bud-cache, @roots/bud-cli, @roots/bud-compiler, @roots/bud-criticalcss, @roots/bud-dashboard, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-esbuild, @roots/bud-eslint, @roots/bud-extensions, @roots/bud-framework, @roots/bud-hooks, @roots/bud-imagemin, @roots/bud-library, @roots/bud-mdx, @roots/bud-postcss, @roots/bud-preset-recommend, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-react, @roots/bud-sass, @roots/bud-server, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-vue, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/container, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/entrypoints-webpack-plugin, @roots/filesystem, @roots/ink-prettier, @roots/ink-use-style, @roots/merged-manifest-webpack-plugin, @roots/sage, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin

#93 fixes: suggestions by yarn doctor
  .circleci/config.yml
  .github/workflows/build.yml
  .yarn/releases/yarn-sources.cjs
  .yarnrc.yml
  dev/docs/gen/remark.ts
  dev/scripts/ci.sh
  examples/tailwindcss/package.json
  examples/wordpress-theme/package.json
  package.json
  packages/@roots/bud-babel/package.json
  packages/@roots/bud-esbuild/package.json
  packages/@roots/bud-framework/package.json
  packages/@roots/bud-postcss/package.json
  packages/@roots/bud-preset-recommend/package.json
  packages/@roots/bud-react/package.json
  tsconfig.dev.json
  yarn.lock
Labels: @roots/bud-babel, @roots/bud-esbuild, @roots/bud-framework, @roots/bud-postcss, @roots/bud-preset-recommend, @roots/bud-react, examples

#94 ci: circleci config
  .circleci/config.yml
  README.md
  dev/docs/src/templates/banner.md
  dev/scripts/ci.sh
  packages/@roots/bud-api/README.md
  packages/@roots/bud-api/docs/README.md
  packages/@roots/bud-babel/README.md
  packages/@roots/bud-babel/docs/README.md
  packages/@roots/bud-build/README.md
  packages/@roots/bud-build/docs/README.md
  packages/@roots/bud-cli/README.md
  packages/@roots/bud-cli/docs/README.md
  packages/@roots/bud-compress/README.md
  packages/@roots/bud-compress/docs/README.md
  packages/@roots/bud-criticalcss/README.md
  packages/@roots/bud-criticalcss/docs/README.md
  packages/@roots/bud-eslint/README.md
  packages/@roots/bud-eslint/docs/README.md
  packages/@roots/bud-hooks/README.md
  packages/@roots/bud-hooks/docs/README.md
  packages/@roots/bud-imagemin/README.md
  packages/@roots/bud-imagemin/docs/README.md
  packages/@roots/bud-library/README.md
  packages/@roots/bud-library/docs/README.md
  packages/@roots/bud-postcss/README.md
  packages/@roots/bud-postcss/docs/README.md
  packages/@roots/bud-preset-recommend/README.md
  packages/@roots/bud-preset-recommend/docs/README.md
  packages/@roots/bud-react/README.md
  packages/@roots/bud-react/docs/README.md
  packages/@roots/bud-sass/README.md
  packages/@roots/bud-sass/docs/README.md
  packages/@roots/bud-server/README.md
  packages/@roots/bud-server/docs/README.md
  packages/@roots/bud-tailwindcss/README.md
  packages/@roots/bud-tailwindcss/docs/README.md
  packages/@roots/bud/README.md
  packages/@roots/bud/docs/README.md
  packages/@roots/entrypoints-webpack-plugin/README.md
  packages/@roots/entrypoints-webpack-plugin/docs/README.md
  packages/@roots/merged-manifest-webpack-plugin/README.md
  packages/@roots/merged-manifest-webpack-plugin/docs/README.md
  packages/@roots/sage/README.md
  packages/@roots/sage/docs/README.md
  packages/@roots/wordpress-dependencies-webpack-plugin/README.md
  packages/@roots/wordpress-dependencies-webpack-plugin/docs/README.md
  packages/@roots/wordpress-externals-webpack-plugin/README.md
  packages/@roots/wordpress-externals-webpack-plugin/docs/README.md
Labels: @roots/bud, @roots/bud-api, @roots/bud-babel, @roots/bud-build, @roots/bud-cli, @roots/bud-criticalcss, @roots/bud-eslint, @roots/bud-hooks, @roots/bud-imagemin, @roots/bud-library, @roots/bud-postcss, @roots/bud-preset-recommend, @roots/bud-react, @roots/bud-sass, @roots/bud-server, @roots/bud-tailwindcss, @roots/entrypoints-webpack-plugin, @roots/merged-manifest-webpack-plugin, @roots/sage, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, docs

#90 tests: add logging globals & setup
  dev/docs/src/pages/dev.md
  dev/scripts/ci.sh
  dev/scripts/fresh.sh
  dev/scripts/handler.sh
  dev/scripts/prep.sh
  docs/dev.md
  jest.config.js
  jest.setup.js
  jest.types.ts
  package.json
  yarn.lock
Labels: docs

#96 fix: dev scripts source
  .github/labeler.yml
  .github/workflows/labeler.yml
  dev/scripts/ci.sh
  dev/scripts/fresh.sh
  dev/scripts/prep.sh
  jest.setup.js
  package.json
Labels: CI, patch, test

#99 Dependencies: Bump dependencies
  dev/docs/gen/remark.ts
  examples/critical-css/package.json
  examples/esbuild/package.json
  examples/react/package.json
  examples/sage/package.json
  examples/tailwindcss/package.json
  examples/typescript/package.json
  examples/wordpress-theme/package.json
  package.json
  packages/@roots/bud-api/package.json
  packages/@roots/bud-babel/package.json
  packages/@roots/bud-build/package.json
  packages/@roots/bud-cache/package.json
  packages/@roots/bud-cli/package.json
  packages/@roots/bud-compiler/package.json
  packages/@roots/bud-compress/package.json
  packages/@roots/bud-criticalcss/package.json
  packages/@roots/bud-dashboard/package.json
  packages/@roots/bud-emotion/package.json
  packages/@roots/bud-entrypoints/package.json
  packages/@roots/bud-esbuild/package.json
  packages/@roots/bud-eslint/package.json
  packages/@roots/bud-extensions/package.json
  packages/@roots/bud-framework/package.json
  packages/@roots/bud-hooks/package.json
  packages/@roots/bud-imagemin/package.json
  packages/@roots/bud-library/package.json
  packages/@roots/bud-mdx/package.json
  packages/@roots/bud-postcss/package.json
  packages/@roots/bud-preset-recommend/package.json
  packages/@roots/bud-prettier/package.json
  packages/@roots/bud-purgecss/package.json
  packages/@roots/bud-react/package.json
  packages/@roots/bud-sass/package.json
  packages/@roots/bud-server/package.json
  packages/@roots/bud-stylelint/package.json
  packages/@roots/bud-support/package.json
  packages/@roots/bud-support/src/util/InterpolateHtmlPlugin.ts
  packages/@roots/bud-support/src/util/dump.ts
  packages/@roots/bud-tailwindcss/package.json
  packages/@roots/bud-terser/package.json
  packages/@roots/bud-typescript/package.json
  packages/@roots/bud-vue/package.json
  packages/@roots/bud-wordpress-dependencies/package.json
  packages/@roots/bud-wordpress-externals/package.json
  packages/@roots/bud-wordpress-manifests/package.json
  packages/@roots/bud/package.json
  packages/@roots/container/package.json
  packages/@roots/critical-css-webpack-plugin/package.json
  packages/@roots/dependencies/package.json
  packages/@roots/entrypoints-webpack-plugin/package.json
  packages/@roots/filesystem/package.json
  packages/@roots/ink-prettier/package.json
  packages/@roots/ink-use-style/package.json
  packages/@roots/merged-manifest-webpack-plugin/package.json
  packages/@roots/sage/package.json
  packages/@roots/wordpress-dependencies-webpack-plugin/package.json
  packages/@roots/wordpress-externals-webpack-plugin/package.json
  packages/base/package.json
  yarn.lock
Labels: @roots/bud, @roots/bud-api, @roots/bud-babel, @roots/bud-build, @roots/bud-cache, @roots/bud-cli, @roots/bud-compiler, @roots/bud-criticalcss, @roots/bud-dashboard, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-esbuild, @roots/bud-eslint, @roots/bud-extensions, @roots/bud-framework, @roots/bud-hooks, @roots/bud-imagemin, @roots/bud-library, @roots/bud-mdx, @roots/bud-postcss, @roots/bud-preset-recommend, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-react, @roots/bud-sass, @roots/bud-server, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-vue, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/container, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/entrypoints-webpack-plugin, @roots/filesystem, @roots/ink-prettier, @roots/ink-use-style, @roots/merged-manifest-webpack-plugin, @roots/sage, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, docs, examples

#104 Fix: memory cache error
  .circleci/config.yml
  .github/workflows/build.yml
  dev/scripts/build-examples.sh
  examples/babel/bud.config.js
  examples/critical-css/bud.config.js
  examples/critical-css/package.json
  examples/esbuild/bud.config.js
  examples/postcss/bud.config.js
  examples/react/package.json
  examples/react/src/app.css
  examples/sage/package.json
  examples/sass/package.json
  examples/tailwindcss/package.json
  examples/typescript/package.json
  examples/vue/package.json
  examples/wordpress-theme/bud.config.js
  examples/wordpress-theme/package.json
  packages/@roots/bud-build/src/Build/index.ts
  packages/@roots/bud-cache/package.json
  packages/@roots/bud-cache/src/index.ts
  packages/@roots/bud-cli/src/commands/extensions/install.ts
  packages/@roots/bud-sass/src/index.ts
  packages/@roots/bud/src/services/Discovery/index.ts
  packages/@roots/sage/manifest.yml
  packages/@roots/sage/package.json
  yarn.lock
Labels: @roots/bud, @roots/bud-build, @roots/bud-cache, @roots/bud-cli, @roots/bud-sass, @roots/sage, examples
