Repository roots/bud, pull requests merged in 2022-11, with the labels that each got.

#1855 ✨ feat(none): `bud upgrade` command
  sources/@roots/bud/package.json
  sources/@roots/bud/src/cli/commands/upgrade.tsx
  sources/@roots/bud/src/cli/index.ts
  sources/@roots/bud/tsconfig.json
  sources/@roots/dependencies/package.json
  sources/@roots/dependencies/src/command/base.command.ts
  sources/@roots/dependencies/src/command/npm.command.ts
  sources/@roots/dependencies/src/command/yarn.command.ts
  sources/@roots/dependencies/src/dependencies.ts
  sources/@roots/dependencies/src/index.ts
  sources/@roots/dependencies/tsconfig.json
  yarn.lock
Labels: dependencies, @roots/bud, @roots/dependencies, 🚀!

#1856 ✨ feat(patch): improve env interpolations
  sources/@roots/bud-framework/src/lifecycle/bootstrap.test.ts
  sources/@roots/bud/src/context/config.ts
  sources/@roots/bud/src/context/env.ts
  tests/unit/bud/context/.env
  tests/unit/bud/context/env.test.ts
Labels: @roots/bud-framework, @roots/bud, test, 🚀!

#1773 ✨ improve(patch): clean up stack traces
  sources/@roots/bud-compiler/src/compiler.service.ts
  sources/@roots/bud-dashboard/package.json
  sources/@roots/bud-dashboard/src/render/messages/messages.component.tsx
  sources/@roots/bud-framework/src/bud.ts
  sources/@roots/bud-framework/src/lifecycle/init.ts
  sources/@roots/bud-framework/src/logger/index.ts
  sources/@roots/bud-framework/src/module.ts
  sources/@roots/bud-framework/src/process.ts
  sources/@roots/bud-framework/src/services/console.ts
  sources/@roots/bud-hooks/src/event.ts
  sources/@roots/bud-support/package.json
  sources/@roots/bud-support/src/dependencies/clean-stack/index.ts
  sources/@roots/bud-support/src/dependencies/common-path/index.ts
  sources/@roots/bud-support/src/dependencies/signale/index.ts
  sources/@roots/bud/src/cli/commands/base.tsx
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-dashboard, @roots/bud-compiler, @roots/bud-hooks, 🚀!

#1867 typo in docs
  sources/@repo/docs/content/guides/index.mdx
Labels: CI, 🚀!

#1879 🩹 fix(none): `components` undefined error
  .yarnrc.yml
  sources/@roots/bud-client/src/hot/client.test.ts
  sources/@roots/bud-client/src/hot/client.ts
  sources/@roots/bud-client/src/hot/components/indicator/index.ts
  sources/@roots/bud-client/src/hot/components/overlay/index.ts
  sources/@roots/bud-client/src/hot/events.ts
  sources/@roots/bud-sass/.gitignore
  sources/@roots/bud-sass/test/__fixtures__/issue-1798/dist/js/@tests/issue-1798.js
  sources/@roots/bud-sass/test/__fixtures__/issue-1798/dist/js/dynamic/bud-client_lib_hot_components_indicator_index_js.js
  sources/@roots/bud-sass/test/__fixtures__/issue-1798/dist/js/dynamic/bud-client_lib_hot_components_overlay_index_js.js
  sources/@roots/bud-sass/test/__fixtures__/issue-1798/dist/manifest.json
Labels: @roots/bud-sass, test, 🚀!, @roots/bud-client

#1882 🩹 fix(none): fix webpack plugin direct usage
  sources/@roots/bud-api/src/methods/use/index.test.ts
  sources/@roots/bud-extensions/package.json
  sources/@roots/bud-extensions/src/service.test.ts
  sources/@roots/bud-extensions/src/service.ts
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-framework/src/types/services/extensions.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud-api, @roots/bud-extensions, test, 🚀!

#1883 📕 docs(none): documentation
  sources/@repo/docs/content/extensions/bud-babel.mdx
  sources/@repo/docs/content/extensions/bud-criticalcss.mdx
  sources/@repo/docs/content/extensions/bud-emotion.mdx
  sources/@repo/docs/content/extensions/bud-postcss.mdx
  sources/@repo/docs/content/extensions/bud-preset-recommend.mdx
  sources/@repo/docs/content/extensions/bud-react.mdx
  sources/@repo/docs/content/extensions/bud-sass.mdx
  sources/@repo/docs/content/extensions/bud-solid.mdx
  sources/@repo/docs/content/extensions/bud-stylelint.mdx
  sources/@repo/docs/content/extensions/bud-swc.mdx
  sources/@repo/docs/content/extensions/bud-tailwindcss.mdx
  sources/@repo/docs/content/extensions/bud-typescript.mdx
  sources/@repo/docs/content/extensions/bud-vue.mdx
  sources/@repo/docs/content/guides/cli/build/development.mdx
  sources/@repo/docs/content/guides/cli/build/index.mdx
  sources/@repo/docs/content/guides/cli/build/production.mdx
  sources/@repo/docs/content/guides/cli/clean.mdx
  sources/@repo/docs/content/guides/cli/doctor.mdx
  sources/@repo/docs/content/guides/cli/index.mdx
  sources/@repo/docs/content/guides/cli/repl.mdx
  sources/@repo/docs/content/guides/cli/upgrade.mdx
  sources/@repo/docs/content/guides/cli/view.mdx
  sources/@repo/docs/content/guides/extending/index.mdx
  sources/@repo/docs/content/guides/general-use/esmodules.mdx
  sources/@repo/docs/content/guides/general-use/extensions.mdx
  sources/@repo/docs/content/guides/general-use/managing-dependencies.mdx
  sources/@repo/docs/content/guides/general-use/optimizing.mdx
  sources/@repo/docs/content/guides/index.mdx
  sources/@repo/docs/content/releases/6.6.0.mdx
  sources/@repo/docs/src/generated/cli/build.development.help.md
  sources/@repo/docs/src/generated/cli/build.help.md
  sources/@repo/docs/src/generated/cli/build.production.help.md
  sources/@repo/docs/src/generated/cli/clean.help.md
  sources/@repo/docs/src/generated/cli/dev.help.md
  sources/@repo/docs/src/generated/cli/doctor.help.md
  sources/@repo/docs/src/generated/cli/help.md
  sources/@repo/docs/src/generated/cli/repl.help.md
  sources/@repo/docs/src/generated/cli/view.help.md
  sources/@repo/docs/src/partials/index.components.tsx
  sources/@repo/markdown-kit/cli-examples/index.ts
  sources/@repo/test-kit/project.ts
  sources/@roots/bud-criticalcss/README.md
  sources/@roots/bud-criticalcss/docs/01-usage.md
  sources/@roots/bud-criticalcss/docs/02-example.md
  sources/@roots/bud-criticalcss/docs/03-api.md
  sources/@roots/bud-criticalcss/src/__fixtures__/no-extract/bud.config.js
  sources/@roots/bud/README.md
Labels: @roots/bud, docs, @roots/bud-criticalcss, 🚀!

#1885 🧹 tidy(none): cleanup bud.extensions options
  sources/@roots/bud-extensions/package.json
  sources/@roots/bud-extensions/src/extensions/cdn/index.ts
  sources/@roots/bud-extensions/src/index.test.ts
  sources/@roots/bud-extensions/src/index.ts
  sources/@roots/bud-extensions/src/service/__snapshots__/index.test.ts.snap
  sources/@roots/bud-extensions/src/service/index.test.ts
  sources/@roots/bud-extensions/src/service/index.ts
  sources/@roots/bud-extensions/src/service/util/handleManifestSchemaWarning.ts
  sources/@roots/bud-extensions/src/service/util/isConstructor.ts
  sources/@roots/bud-extensions/tsconfig.json
  sources/@roots/bud-framework/src/types/options/context.ts
  sources/@roots/bud-framework/src/types/services/extensions.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud-extensions, test, 🚀!

#1888 🩹 fix(patch): fix #1886
  .vscode/settings.json
  config/eslint.config.cjs
  config/tsconfig.json
  config/vitest.unit.config.ts
  examples/imagemin/bud.config.cjs
  examples/imagemin/bud.config.mjs
  examples/imagemin/src/index.html
  package.json
  sources/@repo/docs/content/docs/index.mdx
  sources/@repo/docs/content/extensions/bud-imagemin.mdx
  sources/@repo/docs/content/extensions/sage/index.mdx
  sources/@repo/docs/src/theme/BlogTagsPostsPage/index.js
  sources/@roots/bud-criticalcss/src/extension.test.ts
  sources/@roots/bud-framework/src/methods/when.test.ts
  sources/@roots/bud-framework/src/module.ts
  sources/@roots/bud-imagemin/README.md
  sources/@roots/bud-imagemin/docs/01-setting-encoder-options.md
  sources/@roots/bud-imagemin/docs/02-using-the-webp-preset.md
  sources/@roots/bud-imagemin/docs/03-generators.md
  sources/@roots/bud-imagemin/docs/04-minimizers.md
  sources/@roots/bud-imagemin/package.json
  sources/@roots/bud-imagemin/src/extension.test.ts
  sources/@roots/bud-imagemin/src/extension.ts
  sources/@roots/bud-imagemin/src/index.ts
  sources/@roots/bud-imagemin/src/types.ts
  sources/@roots/bud-sass/test/index.test.ts
  tests/reproductions/.gitignore
  tests/reproductions/issue-1798.test.ts
  tests/reproductions/issue-1798/bud.config.mjs
  tests/reproductions/issue-1798/package.json
  tests/reproductions/issue-1798/src/index.scss
  tests/reproductions/issue-1886.test.ts
  tests/reproductions/issue-1886/bud.config.js
  tests/reproductions/issue-1886/package.json
  tests/reproductions/issue-1886/src/bud-50.png
  tests/reproductions/issue-1886/src/bud-css.png
  tests/reproductions/issue-1886/src/bud.png
  tests/reproductions/issue-1886/src/index.css
  tests/reproductions/issue-1886/src/index.js
  tests/util/project/bud.config.mjs
  yarn.lock
Labels: dependencies, @roots/bud-framework, examples, docs, @roots/bud-criticalcss, @roots/bud-imagemin, @roots/bud-sass, test, 🚀!

#1891 🩹 fix(patch): #1890
  sources/@roots/bud-api/src/methods/entry/handleFallthrough.ts
  sources/@roots/bud-api/src/methods/entry/handleNormalRecord.ts
  sources/@roots/bud-api/src/methods/entry/handlePrimitive.ts
  sources/@roots/bud-api/src/methods/entry/handleSimpleRecord.ts
  sources/@roots/bud-api/src/methods/entry/index.test.ts
  sources/@roots/bud-api/src/methods/entry/index.ts
  sources/@roots/bud-api/src/methods/entry/normalize.ts
  sources/@roots/bud-api/src/methods/entry/schema.ts
  storage/package.json
  storage/yarn.lock
  tests/reproductions/issue-1890.test.ts
  tests/reproductions/issue-1890/bud.config.js
  tests/reproductions/issue-1890/package.json
  tests/reproductions/issue-1890/src/foo.js
  yarn.lock
Labels: dependencies, @roots/bud-api, test, 🚀!

#1892 📕 docs(none): @roots/bud-imagemin
  sources/@repo/docs/content/extensions/bud-imagemin/configure.mdx
  sources/@repo/docs/content/extensions/bud-imagemin/encode.mdx
  sources/@repo/docs/content/extensions/bud-imagemin/index.mdx
  sources/@roots/bud-imagemin/README.md
  sources/@roots/bud-imagemin/docs/00-usage.md
  sources/@roots/bud-imagemin/docs/01-converting-to-webp.md
  sources/@roots/bud-imagemin/docs/02-setting-encoder-options.md
  sources/@roots/bud-imagemin/docs/03-generators.md
  sources/@roots/bud-imagemin/docs/04-minimizers.md
  sources/@roots/bud-imagemin/src/configure/configure.md
  sources/@roots/bud-imagemin/src/configure/configure.test.ts
  sources/@roots/bud-imagemin/src/configure/configure.ts
  sources/@roots/bud-imagemin/src/encode/encode.md
  sources/@roots/bud-imagemin/src/encode/encode.test.ts
  sources/@roots/bud-imagemin/src/encode/encode.ts
  sources/@roots/bud-imagemin/src/extension.test.ts
  sources/@roots/bud-imagemin/src/extension.ts
  sources/@roots/bud-imagemin/src/index.ts
Labels: docs, @roots/bud-imagemin, test, 🚀!

#1893 📕 docs(none): generate release mdx with octokit
  sources/@repo/docs/content/releases/5.0.0.mdx
  sources/@repo/docs/content/releases/5.1.0.mdx
  sources/@repo/docs/content/releases/5.2.0.mdx
  sources/@repo/docs/content/releases/5.3.0.mdx
  sources/@repo/docs/content/releases/5.4.0.mdx
  sources/@repo/docs/content/releases/5.5.0.mdx
  sources/@repo/docs/content/releases/5.6.0.mdx
  sources/@repo/docs/content/releases/5.6.1.mdx
  sources/@repo/docs/content/releases/5.6.2.mdx
  sources/@repo/docs/content/releases/5.7.0.mdx
  sources/@repo/docs/content/releases/5.8.0.mdx
  sources/@repo/docs/content/releases/5.8.1.mdx
  sources/@repo/docs/content/releases/5.8.2.mdx
  sources/@repo/docs/content/releases/5.8.3.mdx
  sources/@repo/docs/content/releases/5.8.4.mdx
  sources/@repo/docs/content/releases/5.8.5.mdx
  sources/@repo/docs/content/releases/5.8.6.mdx
  sources/@repo/docs/content/releases/5.8.7.mdx
  sources/@repo/docs/content/releases/6.0.0.mdx
  sources/@repo/docs/content/releases/6.1.0.mdx
  sources/@repo/docs/content/releases/6.2.0.mdx
  sources/@repo/docs/content/releases/6.3.0.mdx
  sources/@repo/docs/content/releases/6.3.1.mdx
  sources/@repo/docs/content/releases/6.3.2.mdx
  sources/@repo/docs/content/releases/6.3.3.mdx
  sources/@repo/docs/content/releases/6.3.4.mdx
  sources/@repo/docs/content/releases/6.3.5.mdx
  sources/@repo/docs/content/releases/6.4.0.mdx
  sources/@repo/docs/content/releases/6.4.2.mdx
  sources/@repo/docs/content/releases/6.4.3.mdx
  sources/@repo/docs/content/releases/6.4.4.mdx
  sources/@repo/docs/content/releases/6.4.5.mdx
  sources/@repo/docs/content/releases/6.5.0.mdx
  sources/@repo/docs/content/releases/6.5.1.mdx
  sources/@repo/docs/content/releases/6.5.2.mdx
  sources/@repo/docs/content/releases/6.5.3.mdx
  sources/@repo/docs/content/releases/6.6.0.mdx
  sources/@repo/docs/content/releases/6.6.1.mdx
  sources/@repo/docs/content/releases/6.6.2.mdx
  sources/@repo/markdown-kit/package.json
  sources/@repo/markdown-kit/releases/index.ts
  sources/@repo/markdown-kit/tsconfig.json
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/docs/docs.command.ts
  yarn.lock
Labels: dependencies, 🚀!

#1898 🧹 dev(none): avoid shipping dynamic browserslist queries
  .yarnrc.yml
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/tsc.command.ts
  sources/@roots/browserslist-config/broad.cjs
  sources/@roots/browserslist-config/current.cjs
  sources/@roots/browserslist-config/index.cjs
  sources/@roots/browserslist-config/package.json
  sources/@roots/browserslist-config/scripts/generate.mjs
  sources/@roots/browserslist-config/scripts/index.mjs
  sources/@roots/bud/package.json
  tests/util/project/bud.config.mjs
  yarn.lock
Labels: dependencies, CI, @roots/bud, yarn, internal, 🚀!, config, @roots/browserslist-config

#1903 ✨ improve(patch): bud.hooks
  .yarnrc.yml
  examples/tailwindcss/package.json
  sources/@roots/bud-hooks/src/async/async.test.ts
  sources/@roots/bud-hooks/src/async/async.ts
  sources/@roots/bud-hooks/src/base/base.ts
  sources/@roots/bud-hooks/src/event/event.ts
  sources/@roots/bud-hooks/src/service.ts
  sources/@roots/bud-hooks/src/sync/sync.ts
  sources/@roots/bud-tailwindcss/src/__snapshots__/extension.test.ts.snap
  sources/@roots/bud-tailwindcss/src/extension.test.ts
  sources/@roots/bud-tailwindcss/src/extension.ts
Labels: examples, @roots/bud-hooks, @roots/bud-tailwindcss, test, yarn, 🚀!, config

#1911 🩹 fix: bud.provide does not accept string values in object
  sources/@roots/bud-api/src/methods/provide/index.test.ts
  sources/@roots/bud-api/src/methods/provide/index.ts
  sources/@roots/bud-api/src/methods/provide/provide.docs.md
Labels: @roots/bud-api, test, 🚀!
