Repository roots/bud, pull requests merged in 2022-07, with the labels that each got.

#1521 🔧 dev(none): easier local repo dev
  .github/workflows/release.yml
  .github/workflows/test.yml
  .yarnrc.yml
  config/verdaccio/.htpasswd
  config/verdaccio/config.yaml
  config/yarnrc.dev.yml
  docker-compose.yml
  examples/basic/package.json
  examples/critical-css/package.json
  examples/emotion/package.json
  examples/esbuild/package.json
  examples/eslint/package.json
  examples/html-template/package.json
  examples/imagemin/package.json
  examples/markdown/package.json
  examples/multi-compiler/package.json
  examples/node-api/package.json
  examples/postcss-sass/package.json
  examples/postcss/package.json
  examples/preset-recommend/package.json
  examples/purgecss/package.json
  examples/react/package.json
  examples/sass-tailwindcss/package.json
  examples/solid/package.json
  examples/tailwindcss/package.json
  examples/typescript/package.json
  examples/vue-3/package.json
  examples/vue-legacy/package.json
  examples/webpack-plugin/package.json
  examples/wordpress-theme/package.json
  sources/@repo/constants/index.js
  sources/@repo/docs/content/dev/index.mdx
  sources/@repo/docs/package.json
  sources/@repo/test-kit/project.ts
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/package.json
  sources/@repo/yarn-plugin-bud/sources/command/index.ts
  sources/@repo/yarn-plugin-bud/sources/command/verdaccio.command.ts
  yarn.lock
Labels: dependencies, CI, examples, dev

#1524 🩹 fix(patch): fix @roots/bud-vue #1523
  examples/vue-3/package.json
  examples/vue-3/src/App.vue
  examples/vue-3/src/components/BaseInputText.vue
  examples/vue-3/src/components/TodoList.vue
  examples/vue-3/src/components/TodoListItem.vue
  examples/vue-3/src/index.js
  sources/@roots/bud-vue/src/extension.ts
Labels: dependencies, examples, @roots/bud-vue

#1525 🔧 dev(none): fix ci error
  .github/workflows/test.yml
Labels: CI

#1526 🔧 dev(none): fix renovate ci error
  .github/workflows/test.yml
Labels: CI

#1529 🔧 dev(none): fix ci
  .github/workflows/test.yml
Labels: CI

#1530 🔧 dev(none): fix ci
  .github/workflows/test.yml
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/base.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/bud.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/clean.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/compile.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/dev.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/docs/dev.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/docs/docs.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/format.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/index.ts
  sources/@repo/yarn-plugin-bud/sources/command/lint.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/lint/dependencies.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/lint/eslint.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/lint/exports.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/lint/prettier.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/make.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/preinstall.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/release.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/test.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/tsc.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/vendor.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/version.command.ts
Labels: CI

#1532 🔧 dev(none): kodiak config
  .github/.kodiak.toml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/renovate.json
Labels: CI

#1538 ✨ improve(patch): context object
  .github/.kodiak.toml
  .yarnrc.yml
  examples/multi-compiler/.env
  examples/multi-compiler/bud.config.cjs
  examples/multi-compiler/plugin/src/plugin.css
  examples/multi-compiler/plugin/src/plugin.js
  examples/multi-compiler/src/global.css
  examples/multi-compiler/src/global.js
  examples/multi-compiler/src/index.html
  examples/multi-compiler/theme/src/theme.css
  examples/multi-compiler/theme/src/theme.js
  sources/@repo/test-kit/bud.ts
  sources/@roots/bud-build/src/config/builder.ts
  sources/@roots/bud-framework/src/bud.ts
  sources/@roots/bud-framework/src/config/context.ts
  sources/@roots/bud-framework/src/lifecycle/index.ts
  sources/@roots/bud-framework/src/logger/index.ts
  sources/@roots/bud-framework/src/methods/path.ts
  sources/@roots/bud-framework/src/module.ts
  sources/@roots/bud/README.md
  sources/@roots/bud/docs/03-node.md
  sources/@roots/bud/src/context/context.ts
  sources/@roots/bud/src/context/dir.ts
  sources/@roots/bud/src/context/disk.ts
  sources/@roots/bud/src/context/index.ts
  sources/@roots/bud/src/factory/index.ts
  sources/@roots/bud/src/factory/options.ts
  sources/@roots/bud/src/services/hooks/index.ts
  tests/integration/multi-compiler.test.ts
  tests/unit/tests/mock.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-build, examples, docs, test

#1544 🔧 fix(none): repo development
  .github/.kodiak.toml
  .github/workflows/test.yml
  .gitignore
  .yarnrc.yml
  sources/@repo/docs/content/dev/index.md
  sources/@repo/test-kit/project.ts
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/index.ts
  sources/@repo/yarn-plugin-bud/sources/command/lint/format.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/preinstall.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/registry/start.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/registry/stop.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/test.command.ts
  yarn.lock
Labels: dependencies, CI

#1545 🔧 dev(none): set default registry to npmjs
  .yarnrc.yml
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/registry/start.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/registry/stop.command.ts
  yarn.lock
Labels: dependencies, 🚀!

#1546 ✨ improve(patch): @roots/bud-postcss
  .github/renovate.json
  sources/@repo/compile-kit/ncc.config.js
  sources/@repo/compile-kit/src/cjs.ts
  sources/@repo/compile-kit/src/compiler/cjs.ts
  sources/@repo/compile-kit/src/compiler/compile.ts
  sources/@repo/compile-kit/src/compiler/esm.ts
  sources/@repo/compile-kit/src/esm.ts
  sources/@repo/docs/content/extensions/bud-postcss.mdx
  sources/@repo/docs/content/guides/general-use/optimizing.mdx
  sources/@roots/bud-postcss/src/env.ts
  sources/@roots/bud-postcss/src/extension.ts
  sources/@roots/bud-postcss/src/index.ts
  sources/@roots/bud-purgecss/src/api.ts
  sources/@roots/bud-tailwindcss/src/extension.ts
  tests/unit/bud-postcss/extension.test.ts
  tests/unit/bud-purgecss/extension.test.ts
  tests/unit/bud-tailwindcss/extension.test.ts
Labels: CI, @roots/bud-postcss, @roots/bud-purgecss, @roots/bud-tailwindcss, test

#1571 fix(patch): `bud clean` command path
  sources/@roots/bud/src/cli/commands/clean.ts
Labels: @roots/bud, 🚀!

#1575 🔧 dev(none): `@bud registry clean` command for consecutive tests
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/index.ts
  sources/@repo/yarn-plugin-bud/sources/command/registry/clean.command.ts
Labels: 🚀!

#1576 ✨ improve(patch): better html generation for entrypoints-webpack-plugin
  sources/@roots/entrypoints-webpack-plugin/src/html.emitter.ts
  sources/@roots/entrypoints-webpack-plugin/src/inline.emitter.ts
  sources/@roots/entrypoints-webpack-plugin/src/webpack.plugin.ts
Labels: @roots/entrypoints-webpack-plugin, 🚀!

#1574 🩹 fix(patch): acorn v2 public path incompatibility
  sources/@repo/yarn-plugin-bud/sources/command/registry/clean.command.ts
  sources/@roots/browserslist-config/broad.cjs
  sources/@roots/browserslist-config/current.cjs
  sources/@roots/browserslist-config/docs/configs.mdx
  sources/@roots/browserslist-config/index.cjs
  sources/@roots/bud-build/src/config/builder.ts
  sources/@roots/bud-build/src/shared/base.ts
  sources/@roots/bud-server/src/server/index.ts
  sources/@roots/bud/package.json
  sources/@roots/bud/src/extensions/bud-cdn/index.ts
  sources/@roots/bud/src/extensions/bud-esm/index.ts
  sources/@roots/bud/src/extensions/clean-webpack-plugin/index.ts
  sources/@roots/bud/src/extensions/mini-css-extract-plugin/index.ts
  sources/@roots/sage/src/acorn/extension.ts
  storage/package.json
  yarn.lock
Labels: dependencies, @roots/bud, @roots/bud-build, @roots/bud-server, @roots/sage, 🚀!

#1577 📕 docs(none): 6.3.2 release post
  sources/@repo/docs/content/blog/6.3.1.mdx
  sources/@repo/docs/content/blog/6.3.2.mdx
Labels: 🚀!

#1578 improve(patch): use shadowdom for client
  sources/@roots/bud-client/src/components/indicator/indicator.component.cts
  sources/@roots/bud-client/src/components/indicator/indicator.pulse.cts
  sources/@roots/bud-client/src/components/overlay/overlay.component.cts
  tests/e2e/__snapshots__/css.dev.test.ts.snap
  tests/e2e/__snapshots__/js.dev.test.ts.snap
Labels: test

#1581 ✨ improve(patch): bud.alias
  sources/@repo/docs/content/docs/bud.alias.mdx
  sources/@roots/bud-api/src/methods/alias/index.ts
  tests/unit/bud-api/methods/alias.test.ts
Labels: @roots/bud-api, test

#1580 ✨ improve(patch): improve sass configuration api
  sources/@repo/docs/content/extensions/bud-sass.mdx
  sources/@roots/bud-sass/README.md
  sources/@roots/bud-sass/docs/01-basics.md
  sources/@roots/bud-sass/docs/02-global-imports.md
  sources/@roots/bud-sass/docs/03-global-values.md
  sources/@roots/bud-sass/src/extension.ts
  sources/@roots/bud-sass/src/index.ts
  tests/unit/bud-sass/config.test.ts
  tests/unit/bud-sass/importGlobal.test.ts
  tests/unit/bud-sass/registerGlobal.test.ts
Labels: docs, @roots/bud-sass, test, 🚀!

#1582 🩹 fix(patch): correct extensions api inconsistencies
  sources/@repo/docs/content/guides/extending/index.mdx
  sources/@roots/bud-api/src/methods/template/interpolate-html-plugin.extension.ts
  sources/@roots/bud-framework/src/extension/decorators/development.ts
  sources/@roots/bud-framework/src/extension/decorators/production.ts
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-purgecss/src/extension.ts
  sources/@roots/bud-terser/src/extension.ts
  sources/@roots/bud-typescript/src/typecheck/index.ts
  sources/@roots/bud/src/extensions/bud-cdn/index.ts
  sources/@roots/bud/src/extensions/clean-webpack-plugin/index.ts
  sources/@roots/bud/src/extensions/copy-webpack-plugin/index.ts
  sources/@roots/sage/src/sage/extension.ts
  sources/@roots/sage/src/wp-theme-json/extension.ts
  tests/unit/bud-purgecss/extension.test.ts
Labels: @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-purgecss, @roots/bud-terser, @roots/bud-typescript, @roots/sage, test, 🚀!

#1588 📕 docs(none): 6.3.3 release
  sources/@repo/docs/content/blog/6.3.3.mdx
  sources/@roots/browserslist-config/README.md
Labels: docs, 🚀!

#1596 fix: missing module error during build
  sources/@roots/bud-tailwindcss/stylelint-config/scss.cjs
Labels: @roots/bud-tailwindcss, 🚀!

#1598 ✨ improve(patch): prevent repeated attempts to import optional deps
  sources/@roots/bud-extensions/src/service.ts
  sources/@roots/bud-framework/src/extension/decorators/index.ts
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-postcss/src/extension.ts
Labels: @roots/bud-framework, @roots/bud-extensions, @roots/bud-postcss

#1604 ✨Improve(patch): stringify env values
  examples/react/.env
  examples/react/public/index.html
  examples/react/src/app.css
  sources/@repo/docs/content/docs/bud.env.mdx
  sources/@roots/bud-api/src/methods/template/interpolate-html-plugin.extension.ts
  sources/@roots/bud/src/extensions/webpack-define-plugin/index.ts
  sources/@roots/bud/src/services/env/index.ts
Labels: @roots/bud, @roots/bud-api, examples

#1605 📕 docs(none): bud v6.3.4 release notes
  sources/@repo/docs/content/blog/6.3.4.mdx
  sources/@roots/bud-client/src/components/overlay/overlay.component.cts
Labels: 🚀!

#1608 🩹 fix(patch): directory containing spaces
  sources/@roots/bud-babel/src/extension.ts
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-framework/src/methods/path.ts
  sources/@roots/bud-framework/src/module.ts
Labels: @roots/bud-framework, @roots/bud-babel

#1609 🩹 fix(patch): remove fn from allowed uris array
  sources/@roots/bud/src/extensions/bud-cdn/index.ts
Labels: @roots/bud

#1615 🩹 fix(patch): unresolvable optional deps throw fatal error
  sources/@roots/bud-framework/src/module.ts
Labels: @roots/bud-framework

#1614 📕 docs(none): 6.3.5 release notes
  sources/@repo/docs/content/blog/6.3.5.mdx
Labels: 🚀!
