Repository roots/bud, pull requests merged in 2022-03, with the labels that each got.

#1209 Disable selector-id-pattern in Sage config
  sources/@roots/sage/stylelint-config/index.js
Labels: @roots/sage

#1199 👨🏽‍🔬 feature: theme.json handlers
  sources/@roots/bud-preset-wordpress/package.json
  sources/@roots/bud-preset-wordpress/src/index.ts
  sources/@roots/bud-preset-wordpress/src/theme.ts
  sources/@roots/sage/package.json
  sources/@roots/sage/src/index.ts
  sources/@roots/sage/src/sage.preset.ts
  sources/@roots/sage/src/theme/api/themeJson.ts
  sources/@roots/sage/src/theme/api/useTailwindColors.ts
  sources/@roots/sage/src/theme/extension.ts
  sources/@roots/sage/src/theme/index.ts
  sources/@roots/sage/src/theme/plugin.ts
  sources/@roots/sage/src/theme/tailwind.adapter.ts
Labels: dependencies, @roots/sage, @roots/bud-preset-wordpress

#1212 fix: docs
  config/monorepo.config.ts
  sources/@repo/docs/src/css/custom.css
  sources/@roots/container/README.md
  sources/@roots/critical-css-webpack-plugin/README.md
  sources/@roots/dependencies/README.md
  sources/@roots/entrypoints-webpack-plugin/README.md
  sources/@roots/eslint-config/README.md
  sources/@roots/filesystem/README.md
  sources/@roots/ink-prettier/README.md
Labels: @roots/container, docs, @roots/entrypoints-webpack-plugin, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/filesystem, @roots/ink-prettier

#1213 fix: assorted quick fixes
  sources/@roots/bud-api/src/api/methods/minimize/index.ts
  sources/@roots/bud-babel/src/index.ts
  sources/@roots/bud-build/src/Build/config/builder.ts
  sources/@roots/bud-compiler/src/Compiler/process/stats.ts
  sources/@roots/bud-dashboard/src/components/indicator.component.tsx
  sources/@roots/bud-dashboard/src/components/url.component.tsx
  sources/@roots/bud-framework/src/Server/Service.ts
  sources/@roots/bud-server/src/logger.ts
  sources/@roots/bud-server/src/middleware/proxy/index.ts
  sources/@roots/bud-server/src/seed.ts
  sources/@roots/bud-server/src/server/index.ts
  sources/@roots/bud-server/src/server/server.base.ts
  sources/@roots/bud-server/src/server/server.watcher.ts
  sources/@roots/bud/src/cli/Notifier/index.ts
  sources/@roots/bud/src/cli/commands/base.ts
  sources/@roots/bud/src/cli/commands/build.ts
  sources/@roots/bud/src/cli/config/override.config.ts
  sources/@roots/bud/src/factory/factory.interface.ts
  sources/@roots/bud/src/factory/index.ts
  sources/@roots/bud/src/seed.ts
  sources/@roots/sage/package.json
  tests/unit/bud-extensions/service.test.ts
  tests/unit/bud/services/project/project.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-build, @roots/bud-compiler, @roots/bud-server, @roots/bud-babel, @roots/sage, test

#1218 Ignore Tailwind theme function in Stylelint config
  sources/@roots/bud-tailwindcss/stylelint-config/index.js
Labels: @roots/bud-tailwindcss

#1188 improve: consolidate @roots/entrypoints-webpack-plugin options
  sources/@roots/entrypoints-webpack-plugin/src/webpack.plugin.ts
Labels: @roots/entrypoints-webpack-plugin

#1219 fix: hmr manifest
  sources/@roots/bud-compiler/src/Compiler/compiler.service.ts
Labels: @roots/bud-compiler

#1220 improve: theme-json-typedoc
  sources/@roots/bud-extensions/src/Controller/controller.service.ts
  sources/@roots/sage/src/index.ts
  sources/@roots/sage/src/theme/api/themeJson.ts
  sources/@roots/sage/src/theme/api/useTailwindColors.ts
Labels: @roots/bud-extensions, @roots/sage

#1221 docs: update
  sources/@repo/docs/content/blog/5.5.0.mdx
  sources/@repo/docs/content/docs/05-bud.serve.mdx
  sources/@repo/docs/content/extensions/sage.mdx
  sources/@repo/docs/content/releases/5.5.0.mdx
  sources/@repo/docs/src/components/cli-output/build.help.md
  sources/@repo/docs/src/components/cli-output/dev.help.md
  sources/@repo/docs/src/components/cli-output/help.md
  sources/@roots/sage/docs/eslint.mdx
  sources/@roots/sage/docs/stylelint.mdx
  sources/@roots/sage/docs/tailwind-colors.mdx
  sources/@roots/sage/docs/theme.json.mdx
  sources/@roots/sage/docs/with-sass.mdx
Labels: @roots/sage

#1234 ✨ add discourse topic release workflow
  .github/workflows/discourse.yml
Labels: CI

#1236 fix: macos notifier
  sources/@roots/bud/bin/bud.js
  sources/@roots/sage/src/sage.preset.ts
Labels: @roots/bud, @roots/sage

#1240 fix: theme.json generator
  sources/@roots/bud-esbuild/src/features/esbuild-ts.ts
  sources/@roots/bud-eslint/src/eslint.options.ts
  sources/@roots/bud-framework/src/Framework/methods/make.ts
  sources/@roots/bud-framework/src/Framework/methods/path.ts
  sources/@roots/bud-framework/src/Framework/methods/setPath.ts
  sources/@roots/bud-react/package.json
  sources/@roots/bud/src/seed.ts
  sources/@roots/sage/package.json
  sources/@roots/sage/src/theme/api/themeJson.ts
  sources/@roots/sage/src/theme/api/useTailwindColors.ts
  sources/@roots/sage/src/theme/extension.ts
  sources/@roots/sage/src/theme/plugin.ts
  tests/unit/bud-api/repository/alias.test.ts
  tests/unit/bud-build/config.test.ts
  tests/unit/bud-framework/path.test.ts
  tests/unit/sage/extension.ts
  tests/util/project/.eslintrc.js
  yarn.lock
Labels: dependencies, @roots/bud-esbuild, @roots/bud-framework, @roots/bud, @roots/bud-react, @roots/bud-eslint, @roots/sage, test

#1241 fix: typescript config
  sources/@repo/compile-kit/ncc.config.js
  sources/@roots/bud-compiler/src/Compiler/compiler.service.ts
  sources/@roots/bud-framework/src/Framework/index.ts
  sources/@roots/bud-framework/src/Framework/methods/ts.ts
  sources/@roots/bud-support/src/parsers/index.ts
  sources/@roots/bud-support/src/parsers/ts.ts
  sources/@roots/bud-typescript/package.json
  sources/@roots/bud/bin/bud.js
  sources/@roots/bud/src/services/Project/project.service.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-compiler, @roots/bud-support, @roots/bud-typescript

#1239 fix: remove rules section from bud-tailwindcss base stylelint config
  sources/@roots/bud-tailwindcss/stylelint-config/base.js
Labels: @roots/bud-tailwindcss

#1288 fix: add scss stylelint rules for tailwindcss
  sources/@roots/bud-tailwindcss/package.json
  sources/@roots/bud-tailwindcss/stylelint-config/common.js
  sources/@roots/bud-tailwindcss/stylelint-config/default.js
  sources/@roots/bud-tailwindcss/stylelint-config/scss.js
  sources/@roots/bud-tailwindcss/stylelint-config/scss/index.js
Labels: dependencies, @roots/bud-tailwindcss

#1248 fix: indicator/hmr errors
  sources/@roots/bud-api/src/api/facade/facade.interface.ts
  sources/@roots/bud-api/src/api/methods/watch/index.ts
  sources/@roots/bud-build/src/Build/index.ts
  sources/@roots/bud-compiler/src/Compiler/compiler.service.ts
  sources/@roots/bud-framework/src/Framework/index.ts
  sources/@roots/bud-framework/src/Store.ts
  sources/@roots/bud-server/package.json
  sources/@roots/bud-server/src/client/bridge.ts
  sources/@roots/bud-server/src/client/index.ts
  sources/@roots/bud-server/src/client/indicator/index.ts
  sources/@roots/bud-server/src/client/indicator/indicator.component.ts
  sources/@roots/bud-server/src/client/indicator/indicator.controller.ts
  sources/@roots/bud-server/src/client/indicator/indicator.pulse.ts
  sources/@roots/bud-server/src/client/overlay/blur.web-component.ts
  sources/@roots/bud-server/src/client/overlay/index.ts
  sources/@roots/bud-server/src/client/overlay/inner.web-component.ts
  sources/@roots/bud-server/src/client/overlay/messages.web-component.ts
  sources/@roots/bud-server/src/client/overlay/overlay.component.ts
  sources/@roots/bud-server/src/client/overlay/overlay.controller.ts
  sources/@roots/bud-server/src/client/overlay/overlay.web-component.ts
  sources/@roots/bud-server/src/client/process-update.js
  sources/@roots/bud-server/src/client/proxy-click-interceptor.js
  sources/@roots/bud-server/src/middleware/hot/index.ts
  sources/@roots/bud-server/src/middleware/hot/webpack-hot-middleware/helpers.js
  sources/@roots/bud-server/src/middleware/hot/webpack-hot-middleware/middleware.js
  sources/@roots/bud-server/src/seed.ts
  sources/@roots/bud-server/src/server/server.https.ts
  sources/@roots/bud/src/extensions/webpack-hot-module-replacement-plugin/index.ts
  sources/@roots/bud/src/seed.ts
  sources/@roots/sage/src/sage.preset.ts
  tests/unit/bud-api/repository/publicPath.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-build, @roots/bud-compiler, @roots/bud-server, @roots/sage, test

#1287 improve: bud.config
  sources/@roots/bud-api/src/api/methods/config/index.ts
Labels: @roots/bud-api

#1283 fix: bud.alias
  sources/@roots/bud-api/src/api/methods/alias/alias.interface.ts
  sources/@roots/bud-api/src/api/methods/alias/alias.method.ts
  sources/@roots/bud-api/src/api/methods/alias/index.ts
  sources/@roots/bud-api/src/api/methods/index.ts
  sources/@roots/bud-framework/src/Framework/methods/path.ts
  sources/@roots/bud-framework/src/Framework/methods/setPath.ts
  sources/@roots/sage/src/sage.preset.ts
  tests/unit/bud-framework/path.test.ts
  tests/unit/bud-framework/setPath.test.ts
Labels: @roots/bud-framework, @roots/bud-api, @roots/sage, test

#1290 fix: error logging
  sources/@roots/bud-compiler/src/Compiler/compiler.service.ts
  sources/@roots/bud-framework/src/Framework/framework.process.ts
  sources/@roots/bud-framework/src/Framework/index.ts
  sources/@roots/bud-framework/src/Framework/methods/close.ts
  sources/@roots/bud-framework/src/Logger/index.ts
  sources/@roots/bud-framework/src/Logger/logger.constants.ts
  sources/@roots/bud/src/cli/commands/doctor.ts
  sources/@roots/bud/src/cli/commands/install.ts
Labels: @roots/bud-framework, @roots/bud, @roots/bud-compiler

#1293 improve: client dev scripts
  docker-compose.yml
  sources/@repo/docs/content/guides/paths.mdx
  sources/@repo/docs/content/guides/requirements.mdx
  sources/@roots/bud-api/src/api/methods/proxy/index.ts
  sources/@roots/bud-api/src/api/methods/serve/index.ts
  sources/@roots/bud-api/src/api/methods/watch/index.ts
  sources/@roots/bud-build/src/Build/index.ts
  sources/@roots/bud-extensions/src/Controller/controller.service.ts
  sources/@roots/bud-framework/src/Framework/framework.process.ts
  sources/@roots/bud-framework/src/Framework/index.ts
  sources/@roots/bud-framework/src/Hooks.ts
  sources/@roots/bud-framework/src/Server/Connection.ts
  sources/@roots/bud-framework/src/Server/Middleware.ts
  sources/@roots/bud-hooks/src/Hooks/index.ts
  sources/@roots/bud-preset-wordpress/src/index.ts
  sources/@roots/bud-server/package.json
  sources/@roots/bud-server/src/client/index.ts
  sources/@roots/bud-server/src/client/indicator/index.ts
  sources/@roots/bud-server/src/client/indicator/indicator.component.ts
  sources/@roots/bud-server/src/client/indicator/indicator.controller.ts
  sources/@roots/bud-server/src/client/inject.ts
  sources/@roots/bud-server/src/client/overlay/index.ts
  sources/@roots/bud-server/src/client/overlay/overlay.component.ts
  sources/@roots/bud-server/src/client/overlay/overlay.controller.ts
  sources/@roots/bud-server/src/client/proxy-click-interceptor.js
  sources/@roots/bud-server/src/client/proxy-click-interceptor.ts
  sources/@roots/bud-server/src/middleware/cookie/index.ts
  sources/@roots/bud-server/src/middleware/index.ts
  sources/@roots/bud-server/src/middleware/proxy/index.ts
  sources/@roots/bud-server/src/middleware/proxy/res.interceptor.ts
  sources/@roots/bud-server/src/seed.ts
  sources/@roots/bud-server/src/server/index.ts
  sources/@roots/bud-server/src/server/server.base.ts
  sources/@roots/bud-server/src/server/server.http.ts
  sources/@roots/bud-server/src/server/server.https.ts
  sources/@roots/bud/src/cli/commands/build.ts
  sources/@roots/bud/src/context/env.ts
  sources/@roots/bud/src/services/Env/index.ts
  tests/unit/bud-api/repository/__snapshots__/watch.test.ts.snap
  tests/unit/bud-api/repository/server.test.ts
  tests/unit/bud-api/repository/watch.test.ts
  tests/unit/bud/services/project/project.test.ts
  tests/util/project/src/styles/app.css
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-extensions, @roots/bud-build, @roots/bud-server, @roots/bud-hooks, test, dev, @roots/bud-preset-wordpress

#1294 fix: bud.watch arrayed args
  sources/@repo/docs/content/blog/5.7.0.mdx
  sources/@repo/docs/content/docs/03-bud.assets.mdx
  sources/@repo/docs/content/docs/bud.watch/index.mdx
  sources/@repo/docs/content/guides/general-use/05-pathing.mdx
  sources/@repo/docs/content/guides/paths.mdx
  sources/@repo/docs/content/guides/requirements.mdx
  sources/@repo/docs/content/releases/5.7.0.mdx
  sources/@repo/docs/src/components/cli-output/build.help.md
  sources/@repo/docs/src/components/cli-output/dev.help.md
  sources/@repo/docs/src/components/cli-output/help.md
  sources/@roots/bud-api/src/api/methods/assets/assets.interface.ts
  sources/@roots/bud-api/src/api/methods/assets/assets.method.ts
  sources/@roots/bud-api/src/api/methods/watch/index.ts
  sources/@roots/bud-server/src/client/index.ts
  tests/unit/bud-api/repository/__snapshots__/watch.test.ts.snap
  tests/unit/bud-api/repository/assets.test.ts
  tests/unit/bud-api/repository/watch.test.ts
Labels: @roots/bud-api, @roots/bud-server, test

#1295 fix: dev publicPath
  sources/@roots/bud-server/src/seed.ts
Labels: @roots/bud-server

#1296 fix: tailwind scss stylelint config
  sources/@roots/bud-tailwindcss/package.json
  sources/@roots/bud-tailwindcss/stylelint-config/scss.js
Labels: dependencies, @roots/bud-tailwindcss

#1311 fix: unit test mock css
  tests/util/project/src/styles/app.css
Labels: test

#1297 🔧 `bud-tailwindcss`: update authors
  sources/@roots/bud-tailwindcss/package.json
Labels: dependencies, @roots/bud-tailwindcss

#1308 feat: add figures to @roots/bud-support
  sources/@roots/bud-framework/src/Logger/figures.ts
  sources/@roots/bud-framework/src/Logger/logger.constants.ts
  sources/@roots/bud-support/src/index.ts
  sources/@roots/bud-support/src/util/figures.ts
Labels: @roots/bud-framework, @roots/bud-support

#1310 typings: fix bud.build.rule type and parser
  sources/@roots/bud-framework/src/Build/Rule/index.ts
Labels: @roots/bud-framework

#1319 fix: proxy media
  sources/@roots/bud-api/src/api/methods/serve/index.ts
  sources/@roots/bud-framework/src/Hooks.ts
  sources/@roots/bud-framework/src/Server/Connection.ts
  sources/@roots/bud-preset-wordpress/src/index.ts
  sources/@roots/bud-server/src/client/proxy-click-interceptor.ts
  sources/@roots/bud-server/src/middleware/proxy/index.ts
  sources/@roots/bud-server/src/middleware/proxy/res.interceptor.ts
  sources/@roots/bud-server/src/seed.ts
  sources/@roots/bud-server/src/server/index.ts
  sources/@roots/bud-server/src/server/server.base.ts
  sources/@roots/bud-server/src/server/server.https.ts
  sources/@roots/bud/bin/bud.js
  sources/@roots/bud/src/cli/commands/build.ts
  sources/@roots/bud/src/cli/commands/install.ts
  sources/@roots/bud/src/context/env.ts
  sources/@roots/sage/src/hooks/event.compiler.done.ts
  tests/unit/bud-api/repository/server.test.ts
  tests/unit/bud-server/__snapshots__/service.test.ts.snap
  tests/unit/bud-server/service.test.ts
Labels: @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-server, @roots/sage, test, @roots/bud-preset-wordpress

#1322 fix: proxy
  sources/@roots/bud-api/src/api/methods/serve/index.ts
  sources/@roots/bud-api/src/api/methods/use/index.ts
  sources/@roots/bud-framework/src/Hooks.ts
  sources/@roots/bud-framework/src/Logger/logger.constants.ts
  sources/@roots/bud-framework/src/Server/Connection.ts
  sources/@roots/bud-framework/src/Server/Service.ts
  sources/@roots/bud-framework/src/Server/index.ts
  sources/@roots/bud-preset-wordpress/src/index.ts
  sources/@roots/bud-server/src/server/index.ts
  sources/@roots/bud-server/src/server/server.base.ts
  sources/@roots/bud-server/src/server/server.http.ts
  sources/@roots/bud-server/src/server/server.https.ts
  tests/unit/bud-api/repository/server.test.ts
  tests/unit/bud-server/service.test.ts
Labels: @roots/bud-framework, @roots/bud-api, @roots/bud-server, test, @roots/bud-preset-wordpress

#1306 feat: bud.path filename handle
  sources/@roots/bud-framework/src/Framework/methods/path.ts
Labels: @roots/bud-framework
