Repository roots/bud, pull requests merged in 2022-02, with the labels that each got.

#1071 update sponsors
  config/monorepo.config.ts
Labels: internal

#1099 fix: check for valid browserslist before defining
  sources/@roots/bud-build/src/Build/config.ts
Labels: @roots/bud-build

#1097 do not inject proxy client fix into non-proxy app
  sources/@roots/bud-server/src/server/index.ts
Labels: @roots/bud-server

#1098 fix(server): type error: watcher undefined
  sources/@roots/bud-server/src/server/index.ts
Labels: @roots/bud-server

#1104 improve: @roots/bud-react
  sources/@roots/bud-api/package.json
  sources/@roots/bud-api/src/api/methods/entry/index.ts
  sources/@roots/bud-framework/package.json
  sources/@roots/bud-framework/src/Hooks.ts
  sources/@roots/bud-framework/src/entry/index.ts
  sources/@roots/bud-react/package.json
  sources/@roots/bud-react/src/BudReactExtension.ts
  sources/@roots/bud-react/src/BudReactRefreshPlugin.ts
  sources/@roots/bud-react/src/extension.ts
  sources/@roots/bud-react/src/global.ts
  sources/@roots/bud-react/src/index.ts
  sources/@roots/bud-react/src/react-refresh/extension.ts
  sources/@roots/bud-react/src/react-refresh/index.ts
  sources/@roots/bud-react/src/react-refresh/reactRefresh.ts
  sources/@roots/bud-react/src/react-refresh/reducers.ts
  sources/@roots/bud-react/src/reactRefresh.ts
  sources/@roots/bud-react/tsconfig.json
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud-api, @roots/bud-react

#1096 improve: @roots/bud-dashboard rendering
  sources/@roots/bud-api/src/api/api.service.ts
  sources/@roots/bud-api/src/api/facade/facade.factory.ts
  sources/@roots/bud-compiler/src/Compiler/index.ts
  sources/@roots/bud-compiler/src/Compiler/writeToProcessOut.ts
  sources/@roots/bud-dashboard/src/Dashboard/index.tsx
  sources/@roots/bud-dashboard/src/components/assets/asset.component.tsx
  sources/@roots/bud-dashboard/src/components/assets/assets.component.tsx
  sources/@roots/bud-dashboard/src/components/index.tsx
  sources/@roots/bud-dashboard/src/components/input.component.tsx
  sources/@roots/bud-dashboard/src/components/loading.component.tsx
  sources/@roots/bud-dashboard/src/components/output.component.tsx
  sources/@roots/bud-dashboard/src/components/progress/bar/index.tsx
  sources/@roots/bud-dashboard/src/components/progress/progress.component.tsx
  sources/@roots/bud-dashboard/src/components/serve/serve.component.tsx
  sources/@roots/bud-eslint/src/eslint.options.ts
  sources/@roots/bud-framework/src/Framework/methods/publicPath.ts
  sources/@roots/bud-support/package.json
  sources/@roots/bud-support/src/external/boxen.ts
  sources/@roots/bud-support/src/external/table.ts
  sources/@roots/bud-support/src/index.ts
  sources/@roots/bud/src/cli/commands/serve.ts
  sources/@roots/bud/src/seed.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-compiler, @roots/bud-eslint, @roots/bud-support

#1114 improve: bud.assets
  sources/@roots/bud-api/src/api/facade/facade.interface.ts
  sources/@roots/bud-api/src/api/methods/assets/assets.interface.ts
  sources/@roots/bud-api/src/api/methods/assets/assets.method.ts
  tests/unit/bud-api/repository/assets.test.ts
Labels: @roots/bud-api, test

#1118 fix/improve(framework) pre 2.3.0 target items
  examples/sage/bud.config.js
  sources/@repo/docs/content/docs/07-bud.entry.mdx
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/clean.command.ts
  sources/@roots/bud-api/src/api/methods/entry/index.ts
  sources/@roots/bud-api/src/api/methods/hash/index.ts
  sources/@roots/bud-api/src/api/methods/proxy/index.ts
  sources/@roots/bud-api/src/api/methods/template/html-webpack-plugin.extension.ts
  sources/@roots/bud-build/src/Build/config.ts
  sources/@roots/bud-build/src/Build/items.ts
  sources/@roots/bud-build/src/Build/loaders.ts
  sources/@roots/bud-build/src/Build/rules.ts
  sources/@roots/bud-compiler/src/Compiler/compiler.service.ts
  sources/@roots/bud-compiler/src/Compiler/index.ts
  sources/@roots/bud-compiler/src/Compiler/process/index.ts
  sources/@roots/bud-compiler/src/Compiler/process/logger.ts
  sources/@roots/bud-compiler/src/Compiler/process/stats.ts
  sources/@roots/bud-compiler/src/index.ts
  sources/@roots/bud-dashboard/src/Dashboard/index.tsx
  sources/@roots/bud-dashboard/src/components/index.tsx
  sources/@roots/bud-dashboard/src/components/output.component.tsx
  sources/@roots/bud-dashboard/src/components/progress/progress.component.tsx
  sources/@roots/bud-dashboard/src/components/serve/serve.component.tsx
  sources/@roots/bud-eslint/src/eslint.api.ts
  sources/@roots/bud-eslint/src/eslint.extension.ts
  sources/@roots/bud-eslint/src/eslint.options.ts
  sources/@roots/bud-framework/src/Compiler.ts
  sources/@roots/bud-framework/src/Hooks.ts
  sources/@roots/bud-framework/src/entry/index.ts
  sources/@roots/bud-react/src/react-refresh/reducers.ts
  sources/@roots/bud/src/cli/Command/index.ts
  sources/@roots/bud/src/cli/Notifier/index.ts
  sources/@roots/bud/src/cli/Runner/config/override.config.ts
  sources/@roots/bud/src/cli/Runner/index.ts
  sources/@roots/bud/src/cli/commands/build.ts
  sources/@roots/bud/src/cli/commands/clean.ts
  sources/@roots/bud/src/cli/commands/install.ts
  sources/@roots/bud/src/cli/commands/serve.ts
  sources/@roots/bud/src/cli/flags/flags.build.ts
  sources/@roots/bud/src/cli/flags/flags.location.ts
  sources/@roots/bud/src/cli/flags/index.ts
  sources/@roots/bud/src/extensions/mini-css-extract-plugin/index.ts
  sources/@roots/bud/src/extensions/webpack-manifest-plugin/index.ts
  sources/@roots/bud/src/seed.ts
  sources/@roots/entrypoints-webpack-plugin/src/webpack.plugin.ts
  sources/@roots/sage/package.json
  sources/@roots/sage/src/client/domReady.ts
  sources/@roots/sage/src/client/index.ts
  sources/@roots/sage/src/hooks/event.compiler.stats.ts
  sources/@roots/sage/src/sage.preset.ts
  sources/@roots/sage/src/setPublicPath.ts
  tests/unit/bud-api/repository/publicPath.test.ts
  tests/unit/bud-build/__snapshots__/config.test.ts.snap
  tests/unit/bud-build/config.test.ts
  tests/unit/bud-extensions/__snapshots__/service.development.test.ts.snap
  tests/unit/bud-extensions/__snapshots__/service.production.test.ts.snap
  tests/unit/bud/cli/commands/__snapshots__/build.test.ts.snap
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-build, examples, @roots/bud-compiler, @roots/bud-react, @roots/entrypoints-webpack-plugin, @roots/bud-eslint, @roots/sage, test

#1130 🩹 ensure parallism is at least 1cpu by default
  sources/@roots/bud/src/seed.ts
Labels: @roots/bud

#1135 deps: update stylelint
  sources/@roots/bud-stylelint/package.json
  yarn.lock
Labels: dependencies, @roots/bud-stylelint

#1134 improve: eslint/stylelint base config
  CHANGELOG.md
  sources/@roots/bud-preset-recommend/package.json
  sources/@roots/bud-preset-wordpress/package.json
  sources/@roots/bud-preset-wordpress/stylelint-config/index.js
  sources/@roots/bud-stylelint/tsconfig.json
  sources/@roots/sage/package.json
  sources/@roots/sage/stylelint-config/index.js
  tests/unit/bud/services/project/__snapshots__/project.test.ts.snap
  tests/unit/bud/services/project/project.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-preset-recommend, @roots/bud-stylelint, @roots/sage, test, @roots/bud-preset-wordpress

#1140 fix: late extensions are assumed to be modules
  sources/@roots/bud-extensions/src/Controller/controller.service.ts
Labels: @roots/bud-extensions

#1141 fix: tailwindcss shouldn't throw when there is no config
  sources/@roots/bud-tailwindcss/src/tailwind.extension.ts
Labels: @roots/bud-tailwindcss

#1153 improve: replace oclif with clipanion
  .github/ISSUE_TEMPLATE/bug_report.yml
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/test.command.ts
  sources/@roots/bud-cache/src/Cache/index.ts
  sources/@roots/bud-framework/src/Logger/index.ts
  sources/@roots/bud-framework/src/Store.ts
  sources/@roots/bud/bin/bud.cmd
  sources/@roots/bud/bin/bud.js
  sources/@roots/bud/package.json
  sources/@roots/bud/src/cli/Command/index.ts
  sources/@roots/bud/src/cli/Notifier/index.ts
  sources/@roots/bud/src/cli/Runner/config/override.config.ts
  sources/@roots/bud/src/cli/Runner/index.ts
  sources/@roots/bud/src/cli/cli.dependencies.ts
  sources/@roots/bud/src/cli/cli.interface.ts
  sources/@roots/bud/src/cli/commands/build.ts
  sources/@roots/bud/src/cli/commands/clean.ts
  sources/@roots/bud/src/cli/commands/dev.ts
  sources/@roots/bud/src/cli/commands/doctor.ts
  sources/@roots/bud/src/cli/commands/install.ts
  sources/@roots/bud/src/cli/commands/serve.ts
  sources/@roots/bud/src/cli/config/dynamic.config.ts
  sources/@roots/bud/src/cli/config/manifest.config.ts
  sources/@roots/bud/src/cli/config/override.config.ts
  sources/@roots/bud/src/cli/flags/flags.base.ts
  sources/@roots/bud/src/cli/flags/flags.build.ts
  sources/@roots/bud/src/cli/flags/flags.interface.ts
  sources/@roots/bud/src/cli/flags/flags.location.ts
  sources/@roots/bud/src/cli/flags/flags.log.ts
  sources/@roots/bud/src/cli/flags/flags.target.ts
  sources/@roots/bud/src/cli/flags/index.ts
  sources/@roots/bud/src/cli/index.ts
  sources/@roots/bud/src/seed.ts
  sources/@roots/bud/src/services/Project/project.service.ts
  tests/integration/babel.test.ts
  tests/unit/bud/cli/__mocks__/bud.config.js
  tests/unit/bud/cli/__mocks__/index.ts
  tests/unit/bud/cli/cli.test.ts
  tests/unit/bud/cli/commands/__snapshots__/build.test.ts.snap
  tests/unit/bud/cli/commands/build.test.ts
  tests/unit/bud/cli/runner.test.ts
  yarn.lock
Labels: dependencies, CI, @roots/bud-framework, @roots/bud, @roots/bud-cache, test

#1150 fix(server): remove click interceptor instanceof check
  sources/@roots/bud-server/src/client/proxy-click-interceptor.js
Labels: @roots/bud-server

#1158 fix: ci logging
  sources/@roots/bud-compiler/src/Compiler/compiler.service.ts
  sources/@roots/bud-framework/src/Hooks.ts
Labels: @roots/bud-framework, @roots/bud-compiler

#1020 feature(lint) @roots/eslint-config
  examples/eslint/.eslintrc.js
  examples/imagemin/.eslintrc.js
  examples/preset-recommend/.eslintrc.js
  examples/sage/.eslintrc.js
  examples/sage/package.json
  examples/wordpress-theme/.eslintrc.js
  examples/wordpress-theme/package.json
  sources/@roots/bud-babel/eslint-config/index.js
  sources/@roots/bud-purgecss/src/index.ts
  sources/@roots/bud-react/eslint-config/index.js
  sources/@roots/eslint-config/LICENSE.md
  sources/@roots/eslint-config/README.md
  sources/@roots/eslint-config/babel.js
  sources/@roots/eslint-config/defaults.js
  sources/@roots/eslint-config/index.d.ts
  sources/@roots/eslint-config/package.json
  sources/@roots/eslint-config/react.js
  sources/@roots/eslint-config/recommended.js
  sources/@roots/eslint-config/sage.js
  sources/@roots/eslint-config/typescript.js
  sources/@roots/eslint-config/wordpress.js
  tests/integration/__snapshots__/sage.test.ts.snap
  yarn.lock
Labels: dependencies, examples, docs, @roots/bud-babel, @roots/bud-react, @roots/bud-purgecss, test

#1160 improve(repo): set pkg version 0.0.0
  sources/@roots/bud-api/package.json
  sources/@roots/bud-babel/package.json
  sources/@roots/bud-build/package.json
  sources/@roots/bud-cache/package.json
  sources/@roots/bud-compiler/package.json
  sources/@roots/bud-compress/package.json
  sources/@roots/bud-criticalcss/package.json
  sources/@roots/bud-dashboard/package.json
  sources/@roots/bud-emotion/package.json
  sources/@roots/bud-entrypoints/package.json
  sources/@roots/bud-esbuild/package.json
  sources/@roots/bud-eslint/package.json
  sources/@roots/bud-extensions/package.json
  sources/@roots/bud-framework/package.json
  sources/@roots/bud-hooks/package.json
  sources/@roots/bud-imagemin/package.json
  sources/@roots/bud-library/package.json
  sources/@roots/bud-mdx/package.json
  sources/@roots/bud-postcss/package.json
  sources/@roots/bud-preset-recommend/package.json
  sources/@roots/bud-preset-wordpress/package.json
  sources/@roots/bud-prettier/package.json
  sources/@roots/bud-purgecss/package.json
  sources/@roots/bud-react/package.json
  sources/@roots/bud-sass/package.json
  sources/@roots/bud-server/package.json
  sources/@roots/bud-solid/package.json
  sources/@roots/bud-stylelint/package.json
  sources/@roots/bud-support/package.json
  sources/@roots/bud-tailwindcss/package.json
  sources/@roots/bud-terser/package.json
  sources/@roots/bud-typescript/package.json
  sources/@roots/bud-vue/package.json
  sources/@roots/bud-wordpress-dependencies/package.json
  sources/@roots/bud-wordpress-externals/package.json
  sources/@roots/bud-wordpress-manifests/package.json
  sources/@roots/bud/package.json
  sources/@roots/container/package.json
  sources/@roots/critical-css-webpack-plugin/package.json
  sources/@roots/dependencies/package.json
  sources/@roots/entrypoints-webpack-plugin/package.json
  sources/@roots/filesystem/package.json
  sources/@roots/ink-prettier/package.json
  sources/@roots/ink-use-style/package.json
  sources/@roots/merged-manifest-webpack-plugin/package.json
  sources/@roots/sage/package.json
  sources/@roots/wordpress-dependencies-webpack-plugin/package.json
  sources/@roots/wordpress-externals-webpack-plugin/package.json
Labels: dependencies, @roots/container, @roots/bud-esbuild, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-extensions, @roots/bud-build, @roots/bud-cache, @roots/bud-compiler, @roots/bud-server, @roots/bud-babel, @roots/bud-preset-recommend, @roots/bud-react, @roots/bud-vue, @roots/entrypoints-webpack-plugin, @roots/merged-manifest-webpack-plugin, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, @roots/bud-criticalcss, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-eslint, @roots/bud-hooks, @roots/bud-imagemin, @roots/bud-library, @roots/bud-mdx, @roots/bud-postcss, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-sass, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/filesystem, @roots/ink-prettier, @roots/ink-use-style, @roots/sage, @roots/bud-solid, @roots/bud-compress, @roots/bud-preset-wordpress

#1143 deps: esm pkg workaround
  package.json
  sources/@repo/compile-kit/package.json
  sources/@repo/markdown-kit/cli-examples/index.ts
  sources/@repo/markdown-kit/package.json
  sources/@repo/test-kit/moduleNameMapper.js
  sources/@repo/test-kit/package.json
  sources/@repo/test-kit/project.ts
  sources/@roots/bud-api/src/api/methods/entry/entry.dependencies.ts
  sources/@roots/bud-api/src/api/methods/entry/index.ts
  sources/@roots/bud-api/src/api/methods/template/index.ts
  sources/@roots/bud-build/src/Build/config.ts
  sources/@roots/bud-dashboard/package.json
  sources/@roots/bud-framework/src/entry/index.ts
  sources/@roots/bud-server/package.json
  sources/@roots/bud-server/src/server/server.watcher.ts
  sources/@roots/bud-support/package.json
  sources/@roots/bud-support/src/external/execa.ts
  sources/@roots/bud-support/src/external/globby.ts
  sources/@roots/bud-support/src/external/globby/index.ts
  sources/@roots/bud-support/src/external/patch-console.ts
  sources/@roots/bud-support/src/external/pkg-up.ts
  sources/@roots/bud-support/src/index.ts
  sources/@roots/bud-support/tsconfig.json
  sources/@roots/bud/package.json
  sources/@roots/bud/src/services/Project/peers/peers.service.ts
  sources/@roots/bud/src/services/Project/project.dependencies.ts
  sources/@roots/bud/src/services/Project/project.service.ts
  sources/@roots/filesystem/package.json
  sources/@roots/filesystem/src/FileContainer/index.ts
  sources/@roots/filesystem/tsconfig.json
  tests/integration/__snapshots__/sage.test.ts.snap
  tests/integration/sage.test.ts
  tests/unit/bud-api/repository/entry.test.ts
  tests/unit/root/packaging.test.ts
  tests/util/project/bud.config.js
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-build, @roots/bud-server, @roots/bud-support, @roots/filesystem, test

#1157 improve: remove generic typings from hooks
  package.json
  sources/@roots/bud-api/src/api/api.service.ts
  sources/@roots/bud-api/src/api/methods/run/index.ts
  sources/@roots/bud-api/src/api/methods/splitChunks/splitChunks.method.ts
  sources/@roots/bud-api/src/api/methods/template/html-webpack-plugin.extension.ts
  sources/@roots/bud-build/src/Build/config.ts
  sources/@roots/bud-build/src/Build/config/builder.ts
  sources/@roots/bud-build/src/Build/config/filenameFormat.ts
  sources/@roots/bud-build/src/Build/config/index.ts
  sources/@roots/bud-build/src/Build/index.ts
  sources/@roots/bud-esbuild/src/features/esbuild-ts.ts
  sources/@roots/bud-framework/src/Framework/methods/publicPath.ts
  sources/@roots/bud-framework/src/Hooks.ts
  sources/@roots/bud-framework/src/Store.ts
  sources/@roots/bud-mdx/src/index.ts
  sources/@roots/bud-server/src/server/index.ts
  sources/@roots/bud-vue/src/vue.extension.ts
  sources/@roots/bud/src/seed.ts
  sources/@roots/eslint-config/package.json
Labels: dependencies, @roots/bud-esbuild, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-build, @roots/bud-server, @roots/bud-vue, @roots/bud-mdx

#1175 dev(none): fix PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI

#1174 config: add sources/deprecated to renovate ignore
  .github/renovate.json
Labels: CI

#1171 improve: process logger
  sources/@roots/bud-framework/src/Framework/framework.process.ts
  sources/@roots/bud-framework/src/Framework/index.ts
Labels: @roots/bud-framework

#1183 fix: json logging errors
  sources/@roots/bud-api/src/api/api.service.ts
  sources/@roots/bud-api/src/api/facade/facade.factory.ts
  sources/@roots/bud-build/src/Build/index.ts
  sources/@roots/bud-framework/src/Framework/parser/json.ts
Labels: @roots/bud-framework, @roots/bud-api, @roots/bud-build

#1179 feature: rule.includes as an array
  sources/@roots/bud-api/src/api/methods/persist/index.ts
  sources/@roots/bud-build/src/Build/rules.ts
  sources/@roots/bud-build/src/Rule/index.ts
  sources/@roots/bud-framework/src/Build/Rule/index.ts
  tests/unit/bud-build/__snapshots__/config.test.ts.snap
  tests/unit/bud-build/config.test.ts
  tests/unit/bud-build/rule.test.ts
  tests/unit/bud/services/project/project.test.ts
Labels: @roots/bud-framework, @roots/bud-api, @roots/bud-build, test

#1180 improve: cli backwards compatibility
  sources/@roots/bud-framework/src/Store.ts
  sources/@roots/bud/bin/bud.js
  sources/@roots/bud/src/cli/commands/base.ts
  sources/@roots/bud/src/cli/commands/build.ts
  sources/@roots/bud/src/cli/commands/clean.ts
  sources/@roots/bud/src/cli/commands/dev.ts
  sources/@roots/bud/src/cli/commands/doctor.ts
  sources/@roots/bud/src/cli/commands/install.ts
  sources/@roots/bud/src/cli/index.ts
Labels: @roots/bud-framework, @roots/bud

#1178 🧪 test(none): @roots/bud-typescript unit tests
  sources/@roots/bud-typescript/src/bud.extension.ts
  sources/@roots/bud-typescript/src/bud.typecheck.ts
  sources/@roots/bud-typescript/src/fork-ts-checker-webpack-plugin.ts
  sources/@roots/bud-typescript/src/index.ts
  tests/unit/bud-tailwindcss/extension.test.ts
  tests/unit/bud-typescript/extension.test.ts
Labels: @roots/bud-typescript, test

#1185 fix: @roots/bud-entrypoints option export
  sources/@roots/bud-entrypoints/src/index.ts
Labels: @roots/bud-entrypoints

#1186 fix: devtool facade typings
  sources/@roots/bud-api/src/api/facade/facade.interface.ts
  sources/@roots/bud-api/src/api/methods/devtool/index.ts
Labels: @roots/bud-api

#1192 improve: @roots/bud-tailwindcss
  config/monorepo.config.ts
  examples/sage/bud.config.js
  examples/sage/package.json
  examples/sage/resources/scripts/customizer.js
  examples/sage/tailwind.config.js
  examples/sage/tsconfig.json
  sources/@roots/bud-postcss/src/bud.postcss.ts
  sources/@roots/bud-postcss/src/postcss.extension.ts
  sources/@roots/bud-tailwindcss/src/bud.tailwind.ts
  sources/@roots/bud-tailwindcss/src/index.ts
  sources/@roots/bud-tailwindcss/src/tailwind.extension.ts
  sources/@roots/bud-tailwindcss/src/tailwind.requirements.ts
  sources/@roots/bud-tailwindcss/src/typings.ts
  tests/integration/__snapshots__/sage.test.ts.snap
  tests/integration/sage.test.ts
  tests/unit/bud-tailwindcss/extension.test.ts
Labels: dependencies, examples, @roots/bud-postcss, @roots/bud-tailwindcss, test

#1201 🩹 fix: docs generation
  CNAME
  README.md
  sources/@repo/docs/content/guides/advanced-use/writing-an-extension.mdx
  sources/@repo/docs/docusaurus.config.js
  sources/@repo/docs/src/components/cli-output/build.help.md
  sources/@repo/docs/src/components/cli-output/clean.help.md
  sources/@repo/docs/src/components/cli-output/dev.help.md
  sources/@repo/docs/src/components/cli-output/doctor.help.md
  sources/@repo/docs/src/components/cli-output/help.md
  sources/@repo/docs/src/components/cli-output/install.help.md
  sources/@repo/markdown-kit/cli-examples/index.ts
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/docs.command.ts
  sources/@roots/bud-build/src/index.ts
  sources/@roots/bud-esbuild/src/index.ts
  sources/@roots/bud-eslint/src/index.ts
  sources/@roots/bud-framework/src/index.ts
  sources/@roots/bud-imagemin/src/index.ts
  sources/@roots/bud-library/src/index.ts
  sources/@roots/bud-mdx/src/index.ts
  sources/@roots/bud-postcss/src/index.ts
  sources/@roots/bud-preset-recommend/src/index.ts
  sources/@roots/bud-preset-wordpress/src/index.ts
  sources/@roots/bud-prettier/src/index.ts
  sources/@roots/bud-sass/src/index.ts
  sources/@roots/bud-server/src/index.ts
  sources/@roots/bud-solid/src/index.ts
  sources/@roots/bud-stylelint/src/index.ts
  sources/@roots/bud-support/src/external/strip-ansi.ts
  sources/@roots/bud-support/src/index.ts
  sources/@roots/bud/src/index.ts
Labels: @roots/bud-esbuild, @roots/bud-framework, @roots/bud, @roots/bud-build, docs, @roots/bud-server, @roots/bud-preset-recommend, @roots/bud-eslint, @roots/bud-imagemin, @roots/bud-library, @roots/bud-mdx, @roots/bud-postcss, @roots/bud-prettier, @roots/bud-sass, @roots/bud-stylelint, @roots/bud-support, @roots/bud-solid, @roots/bud-preset-wordpress

#1202 improve: docs
  sources/@repo/docs/config/docusaurus.theme.ts
  sources/@repo/docs/config/index.ts
  sources/@repo/docs/content/blog/5.4.0.mdx
  sources/@repo/docs/content/docs/01-index.mdx
  sources/@repo/docs/content/docs/bud.alias/example.mdx
  sources/@repo/docs/content/docs/bud.alias/index.mdx
  sources/@repo/docs/content/releases/5.4.0.mdx
  sources/@repo/docs/netlify.toml
  sources/@repo/docs/package.json
  sources/@repo/docs/src/components/Card/index.tsx
  sources/@repo/docs/src/css/custom.css
  sources/@repo/docs/src/css/dank-mono.css
  yarn.lock
Labels: dependencies

#1205 docs: update
  .vscode/settings.json
  CHANGELOG.md
  README.md
  package.json
  sources/@repo/docs/config/index.ts
  sources/@repo/docs/content/docs/01-index.mdx
  sources/@repo/docs/content/docs/12-bud.hooks/reference.mdx
  sources/@repo/docs/content/docs/bud.alias/index.mdx
  sources/@repo/docs/content/guides/advanced-use/_category_.json
  sources/@repo/docs/content/guides/bud-cli/_category_.json
  sources/@repo/docs/content/guides/general-use/_category_.json
  sources/@repo/docs/content/guides/general-use/index.mdx
  sources/@repo/docs/content/guides/getting-started/_category_.json
  sources/@repo/docs/content/guides/index.mdx
  sources/@repo/docs/content/guides/installation.mdx
  sources/@repo/docs/content/guides/requirements.mdx
  sources/@repo/docs/content/releases/5.3.2.mdx
  sources/@repo/docs/package.json
  sources/@repo/docs/src/components/Card/index.tsx
  sources/@repo/docs/src/components/Hero.tsx
  sources/@repo/docs/src/components/Sandbox.tsx
  sources/@repo/docs/src/css/custom.css
  sources/@repo/markdown-kit/readme/templates/root.template.tsx
  yarn.lock
Labels: dependencies, docs
