Repository roots/bud, pull requests merged in 2022-01, with the labels that each got.

#900 fix(bud-build) directory for emitted assets
  packages/@roots/bud-build/src/Build/items.ts
  packages/@roots/bud-build/src/Build/rules.ts
  packages/@roots/bud-build/src/Rule/index.ts
  packages/@roots/bud-framework/src/Build/Rule/index.ts
  packages/@roots/bud/src/seed.ts
  packages/@roots/sage/package.json
  packages/@roots/sage/src/sage.preset.ts
  tests/integration/__snapshots__/babel.test.ts.snap
  tests/integration/__snapshots__/emotion.test.ts.snap
  tests/integration/emotion.test.ts
  tests/integration/imagemin.test.ts
  tests/unit/bud-build/__snapshots__/config.test.ts.snap
  tests/unit/bud-build/config.test.ts
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-build, @roots/sage, test

#904 fix(sage) public path
  examples/sage/bud.config.js
  packages/@roots/bud-server/src/middleware/proxy/res.interceptor.ts
  packages/@roots/bud-server/src/middleware/proxy/url.ts
  packages/@roots/sage/src/hooks/event.build.make.before.dev.ts
  packages/@roots/sage/src/hooks/event.build.make.before.production.ts
  packages/@roots/sage/src/sage.preset.ts
Labels: examples, @roots/bud-server, @roots/sage

#906 fix(api) bind extension api entries as facades
  packages/@roots/bud-extensions/src/Controller/controller.service.ts
  packages/@roots/bud-framework/src/Api.ts
  packages/@roots/bud-imagemin/src/imagemin.extension.ts
  packages/@roots/bud-imagemin/src/index.ts
  tests/unit/bud-extensions/controller.test.ts
  tests/unit/bud-imagemin/extension.test.ts
Labels: @roots/bud-framework, @roots/bud-extensions, @roots/bud-imagemin, test

#905 fix(purgecss)
  config/tsdoc.json
  examples/purgecss/.gitignore
  examples/purgecss/bud.config.js
  examples/purgecss/jsconfig.json
  examples/purgecss/package.json
  examples/purgecss/public/index.html
  examples/purgecss/src/app.css
  examples/purgecss/src/main.css
  packages/@roots/bud-purgecss/package.json
  packages/@roots/bud-purgecss/src/bud.env.ts
  packages/@roots/bud-purgecss/src/bud.purge.ts
  packages/@roots/bud-purgecss/src/index.ts
  packages/@roots/bud-purgecss/src/purge.interface.ts
  packages/@roots/bud-purgecss/tsconfig.json
  tests/integration/purgecss.test.ts
  tests/unit/bud-purgecss/extension.test.ts
  yarn.lock
Labels: dependencies, examples, @roots/bud-purgecss, test

#909 improve(server) always treat server/proxy url as node URL
  packages/@roots/bud-api/src/api/methods/proxy/index.ts
  packages/@roots/bud-api/src/api/methods/serve/index.ts
  packages/@roots/bud-dashboard/src/components/dashboard.component.tsx
  packages/@roots/bud-dashboard/src/components/serve/serve.component.tsx
  packages/@roots/bud-framework/src/Hooks.ts
  packages/@roots/bud-framework/src/Server/Config.ts
  packages/@roots/bud-framework/src/Server/Interface.ts
  packages/@roots/bud-framework/src/Store.ts
  packages/@roots/bud-server/package.json
  packages/@roots/bud-server/src/client/proxy-click-interceptor.js
  packages/@roots/bud-server/src/middleware/dev/index.ts
  packages/@roots/bud-server/src/middleware/proxy/proxy.middleware.ts
  packages/@roots/bud-server/src/middleware/proxy/res.interceptor.ts
  packages/@roots/bud-server/src/middleware/proxy/url.ts
  packages/@roots/bud-server/src/server/index.ts
  packages/@roots/bud-server/src/server/server.watcher.ts
  packages/@roots/bud-server/src/util/inject.ts
  packages/@roots/bud/src/seed.ts
  tests/unit/bud-api/repository/server.test.ts
  tests/unit/bud-server/__snapshots__/service.test.ts.snap
  tests/unit/bud-server/service.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-server, test

#912 fix(api) bud.assets: do not emit to assets dir
  packages/@roots/bud-api/src/api/methods/assets/assets.method.ts
Labels: @roots/bud-api

#922 fix(bud) module import/registration order
  config/jest.config.js
  dev/@bud/bundles/@yarnpkg/plugin-bud.js
  dev/@bud/sources/command/make.command.ts
  dev/@bud/sources/command/test.command.ts
  dev/jest/setup.afterEnv.js
  dev/jest/setup.global.js
  examples/emotion/package.json
  examples/eslint/package.json
  examples/markdown/package.json
  examples/postcss-sass/package.json
  examples/postcss/package.json
  examples/preset-recommend/package.json
  examples/react/package.json
  examples/sage/package.json
  examples/sass/package.json
  examples/solid/package.json
  examples/tailwindcss/package.json
  examples/typescript/package.json
  examples/vue/package.json
  examples/wordpress-theme/package.json
  packages/@roots/bud-extensions/src/Extensions/extensions.service.ts
  packages/@roots/bud-framework/src/Extensions/Extensions.ts
  packages/@roots/bud-framework/src/Framework/index.ts
  packages/@roots/bud-framework/src/Peers/Abstract.ts
  packages/@roots/bud-framework/src/Peers/Interface.ts
  packages/@roots/bud-framework/src/Peers/index.ts
  packages/@roots/bud-framework/src/Project/Abstract.ts
  packages/@roots/bud-framework/src/Project/Interface.ts
  packages/@roots/bud-framework/src/Project/index.ts
  packages/@roots/bud-framework/src/index.ts
  packages/@roots/bud-preset-recommend/package.json
  packages/@roots/bud-preset-wordpress/package.json
  packages/@roots/bud-sass/package.json
  packages/@roots/bud-sass/src/sass.extension.ts
  packages/@roots/bud-sass/src/sass.postcss.ts
  packages/@roots/bud-tailwindcss/package.json
  packages/@roots/bud-vue/package.json
  packages/@roots/bud/src/cli/commands/install.ts
  packages/@roots/bud/src/services/Project/peers/adjacencyList.ts
  packages/@roots/bud/src/services/Project/peers/peers.constants.ts
  packages/@roots/bud/src/services/Project/peers/peers.interface.ts
  packages/@roots/bud/src/services/Project/peers/peers.service.ts
  packages/@roots/bud/src/services/Project/project.repository.ts
  packages/@roots/bud/src/services/Project/project.service.ts
  packages/@roots/sage/package.json
  tests/integration/__snapshots__/emotion.test.ts.snap
  tests/unit/bud-build/config.test.ts
  tests/unit/bud/services/project/__snapshots__/project.test.ts.snap
  tests/unit/bud/services/project/adjacentList.test.ts
  tests/unit/bud/services/project/project.test.ts
  tests/util/bud.ts
  tests/util/project/package.json
  tests/util/project/src/scripts/app.js
  tests/util/project/src/styles/app.css
  tests/util/project/src/styles/common/global.css
  tests/util/project/src/styles/editor.css
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-extensions, examples, @roots/bud-preset-recommend, @roots/bud-vue, @roots/bud-sass, @roots/bud-tailwindcss, @roots/sage, test, dev, @roots/bud-preset-wordpress

#923 improve(api) fixes & coverage
  packages/@roots/bud-api/src/api/methods/persist/index.ts
  packages/@roots/bud-api/src/api/methods/watch/index.ts
  packages/@roots/bud-cache/src/Cache/index.ts
  tests/unit/bud-api/repository/__snapshots__/persist.test.ts.snap
  tests/unit/bud-api/repository/__snapshots__/watch.test.ts.snap
  tests/unit/bud-api/repository/assets.test.ts
  tests/unit/bud-api/repository/define.test.ts
  tests/unit/bud-api/repository/entry.test.ts
  tests/unit/bud-api/repository/hash.test.ts
  tests/unit/bud-api/repository/minimize.test.ts
  tests/unit/bud-api/repository/persist.test.ts
  tests/unit/bud-api/repository/use.test.ts
  tests/unit/bud-api/repository/watch.test.ts
  tests/unit/bud-babel/bud-babel.test.ts
  tests/unit/bud-build/rule.test.ts
  tests/unit/bud-compiler/service.test.ts
  tests/unit/bud-extensions/__snapshots__/service.development.test.ts.snap
  tests/unit/bud-extensions/__snapshots__/service.production.test.ts.snap
  tests/unit/bud-extensions/service.development.test.ts
  tests/unit/bud-extensions/service.production.test.ts
  tests/unit/bud-framework/children.test.ts
  tests/unit/bud-framework/framework.test.ts
  tests/unit/bud-framework/path.test.ts
  tests/unit/bud-server/service.test.ts
  tests/unit/bud-tailwindcss/extension.test.ts
  tests/util/bud.ts
Labels: @roots/bud-api, @roots/bud-cache, test

#925 fix(assets) nested directories
  examples/sage/bud.config.js
  examples/sage/resources/images/nested/image.jpeg
  packages/@roots/bud-api/src/api/methods/assets/assets.method.ts
  tests/util/project/bud.config.js
  tests/util/project/src/images/nested/image.jpeg
Labels: @roots/bud-api, examples, test

#924 improve(sage) push most deps onto roots/sage
  examples/sage/package.json
  packages/@roots/sage/package.json
  yarn.lock
Labels: dependencies, examples, @roots/sage

#901 feat(bud-build) support webp
  packages/@roots/bud-build/src/Build/rules.ts
  packages/@roots/bud-framework/src/Store.ts
  packages/@roots/bud/src/seed.ts
  tests/unit/bud-build/__snapshots__/config.test.ts.snap
  tests/unit/bud-build/config.test.ts
Labels: @roots/bud-framework, @roots/bud, @roots/bud-build, test

#942 fix(server) https protocol check always returns false
  packages/@roots/bud-server/src/server/index.ts
Labels: @roots/bud-server

#939 improve(example) multi-compiler
  examples/multi-compiler/bud.config.js
  examples/multi-compiler/src/index.html
Labels: examples

#938 fix(server) fix sourcemap warning
  packages/@roots/bud-server/tsconfig.json
Labels: @roots/bud-server

#930 test(bud) fix numerous disabled tests
  tests/integration/__snapshots__/multi-compiler.test.ts.snap
  tests/integration/__snapshots__/sage.test.ts.snap
  tests/integration/multi-compiler.test.ts
  tests/integration/sage.test.ts
  tests/unit/bud-api/repository/provide.test.ts
  tests/unit/bud-api/repository/publicPath.test.ts
  tests/unit/bud-api/repository/run.test.ts
  tests/unit/bud-api/repository/setPath.test.ts
  tests/unit/bud-extensions/service.test.ts
  tests/unit/bud-hooks/__snapshots__/service.test.ts.snap
  tests/unit/bud-hooks/service.test.ts
Labels: test

#937 fix(server) fix inject util for zero entry compilers
  packages/@roots/bud-server/src/util/inject.ts
Labels: @roots/bud-server

#945 fix(sage) remove unnecessary URL wrap in hmr.json
  packages/@roots/sage/src/hooks/event.compiler.done.ts
Labels: @roots/sage

#974 fix(dev) rebuild yarn plugin
  sources/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
Labels: dev

#977 fix(sage) various fixes
  sources/@roots/bud-build/src/Build/rules.ts
  sources/@roots/bud-postcss/src/postcss.extension.ts
  sources/@roots/bud-sass/src/sass.postcss.ts
  sources/@roots/sage/src/hooks/event.app.close.ts
  sources/@roots/sage/src/hooks/event.build.make.before.dev.ts
  sources/@roots/sage/src/hooks/event.build.make.before.production.ts
  sources/@roots/sage/src/sage.preset.ts
  tests/unit/bud-build/__snapshots__/config.test.ts.snap
  tests/unit/bud-build/config.test.ts
Labels: @roots/bud-build, @roots/bud-postcss, @roots/bud-sass, @roots/sage, test

#979 Fix release workflow
  .github/workflows/release.yml
Labels: CI

#980 Fix release command in workflow
  .github/workflows/release.yml
Labels: CI

#982 improve(dev): yarn @bud test command
  .github/workflows/main.yml
  sources/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/yarn-plugin-bud/sources/command/example/build.command.ts
  sources/yarn-plugin-bud/sources/command/example/install.command.ts
  sources/yarn-plugin-bud/sources/command/index.ts
  sources/yarn-plugin-bud/sources/command/test.command.ts
  sources/yarn-plugin-bud/sources/constants.ts
Labels: CI, dev

#985 improve: project service unit test
  package.json
  sources/@roots/bud/src/services/Project/peers/adjacencyList.ts
  tests/unit/bud-build/__snapshots__/config.test.ts.snap
  tests/unit/bud/services/project/__snapshots__/project.test.ts.snap
  tests/unit/bud/services/project/project.test.ts
  tests/util/project/.env
  tests/util/project/.gitignore
  tests/util/project/package.json
  yarn.lock
Labels: dependencies, @roots/bud, test

#986 fix(dev): fix dev cli commands
  README.md
  dev/readme/templates/root.template.tsx
  dev/site/cli-examples.ts
  sources/docs/src/components/cli-output/bud.build.help.md
  sources/docs/src/components/cli-output/bud.clean.help.md
  sources/docs/src/components/cli-output/bud.dev.help.md
  sources/docs/src/components/cli-output/bud.doctor.help.md
  sources/docs/src/components/cli-output/bud.help.md
  sources/docs/src/components/cli-output/bud.install.help.md
  sources/docs/src/components/cli-output/build.help.md
  sources/docs/src/components/cli-output/clean.help.md
  sources/docs/src/components/cli-output/dev.help.md
  sources/docs/src/components/cli-output/doctor.help.md
  sources/docs/src/components/cli-output/help.md
  sources/docs/src/components/cli-output/install.help.md
  sources/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/yarn-plugin-bud/sources/command/make.command.ts
Labels: docs, dev

#987 fix(dev): copy `./examples` before @bud test
  sources/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/yarn-plugin-bud/sources/command/test.command.ts
Labels: dev

#989 fix(dev) release workflow
  .github/workflows/release.yml
  examples/sage/tsconfig.json
Labels: CI, examples

#991 Update release script for testing
  sources/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/yarn-plugin-bud/sources/command/release/npm.command.ts
Labels: dev

#992 Proxy release needs to publish
  sources/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/yarn-plugin-bud/sources/command/release/proxy.command.ts
Labels: dev

#994 fix(dev): separate workflows for testing and publishing
  .github/workflows/release.yml
  .github/workflows/test.yml
  sources/@roots/bud/src/extensions/mini-css-extract-plugin/index.ts
  sources/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/yarn-plugin-bud/sources/command/build.command.ts
  sources/yarn-plugin-bud/sources/command/container/run.command.ts
  sources/yarn-plugin-bud/sources/command/lint.command.ts
  sources/yarn-plugin-bud/sources/command/release/npm.command.ts
  sources/yarn-plugin-bud/sources/command/release/proxy.command.ts
Labels: CI, @roots/bud, dev

#998 fix(dev) reusable workflow yml syntax
  .github/workflows/release.yml
Labels: CI

#999 fix(dev) release git command ending quote
  sources/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/yarn-plugin-bud/sources/command/release/npm.command.ts
Labels: dev

#1001 chore: 5.1.0 release post
  CHANGELOG.md
  sources/@roots/bud-api/package.json
  sources/@roots/bud-babel/package.json
  sources/@roots/bud-build/package.json
  sources/@roots/bud-cache/package.json
  sources/@roots/bud-compiler/package.json
  sources/@roots/bud-compress/package.json
  sources/@roots/bud-criticalcss/package.json
  sources/@roots/bud-dashboard/package.json
  sources/@roots/bud-emotion/package.json
  sources/@roots/bud-entrypoints/package.json
  sources/@roots/bud-esbuild/package.json
  sources/@roots/bud-eslint/package.json
  sources/@roots/bud-extensions/package.json
  sources/@roots/bud-framework/package.json
  sources/@roots/bud-hooks/package.json
  sources/@roots/bud-imagemin/package.json
  sources/@roots/bud-library/package.json
  sources/@roots/bud-mdx/package.json
  sources/@roots/bud-postcss/package.json
  sources/@roots/bud-preset-recommend/package.json
  sources/@roots/bud-preset-wordpress/package.json
  sources/@roots/bud-prettier/package.json
  sources/@roots/bud-purgecss/package.json
  sources/@roots/bud-react/package.json
  sources/@roots/bud-sass/package.json
  sources/@roots/bud-server/package.json
  sources/@roots/bud-solid/package.json
  sources/@roots/bud-stylelint/package.json
  sources/@roots/bud-support/package.json
  sources/@roots/bud-tailwindcss/package.json
  sources/@roots/bud-terser/package.json
  sources/@roots/bud-typescript/package.json
  sources/@roots/bud-vue/package.json
  sources/@roots/bud-wordpress-dependencies/package.json
  sources/@roots/bud-wordpress-externals/package.json
  sources/@roots/bud-wordpress-manifests/package.json
  sources/@roots/bud/package.json
  sources/@roots/container/package.json
  sources/@roots/critical-css-webpack-plugin/package.json
  sources/@roots/dependencies/package.json
  sources/@roots/entrypoints-webpack-plugin/package.json
  sources/@roots/filesystem/package.json
  sources/@roots/ink-prettier/package.json
  sources/@roots/ink-use-style/package.json
  sources/@roots/merged-manifest-webpack-plugin/package.json
  sources/@roots/sage/package.json
  sources/@roots/wordpress-dependencies-webpack-plugin/package.json
  sources/@roots/wordpress-externals-webpack-plugin/package.json
  sources/docs/blog/1-release-5.0.0.mdx
  sources/docs/blog/2-release-5.1.0.mdx
  sources/docs/docusaurus.config.js
  sources/docs/docusaurus.theme.js
  sources/docs/releases/1-5.0.0.mdx
  sources/docs/releases/2-5.1.0.mdx
  sources/docs/src/components/cli-output/help.md
Labels: dependencies, @roots/container, @roots/bud-esbuild, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-extensions, @roots/bud-build, @roots/bud-cache, @roots/bud-compiler, @roots/bud-server, @roots/bud-babel, @roots/bud-preset-recommend, @roots/bud-react, @roots/bud-vue, @roots/entrypoints-webpack-plugin, @roots/merged-manifest-webpack-plugin, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, @roots/bud-criticalcss, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-eslint, @roots/bud-hooks, @roots/bud-imagemin, @roots/bud-library, @roots/bud-mdx, @roots/bud-postcss, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-sass, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/filesystem, @roots/ink-prettier, @roots/ink-use-style, @roots/sage, @roots/bud-solid, @roots/bud-compress, @roots/bud-preset-wordpress

#988 renovate - target main
  .github/renovate.json
Labels: CI

#1008 improve(server) proxy middleware
  sources/@roots/bud-api/src/api/api.service.ts
  sources/@roots/bud-api/src/api/facade/facade.interface.ts
  sources/@roots/bud-api/src/api/methods/immediate.ts
  sources/@roots/bud-api/src/api/methods/index.ts
  sources/@roots/bud-api/src/api/methods/setPublicPath/setPublicPath.dependencies.ts
  sources/@roots/bud-api/src/api/methods/splitChunks/groups/bud.ts
  sources/@roots/bud-api/src/api/methods/splitChunks/groups/index.ts
  sources/@roots/bud-api/src/api/methods/splitChunks/groups/vendor.ts
  sources/@roots/bud-api/src/api/methods/splitChunks/index.ts
  sources/@roots/bud-api/src/api/methods/splitChunks/splitChunks.constant.ts
  sources/@roots/bud-api/src/api/methods/splitChunks/splitChunks.interface.ts
  sources/@roots/bud-api/src/api/methods/splitChunks/splitChunks.method.ts
  sources/@roots/bud-api/src/api/methods/use/index.ts
  sources/@roots/bud-framework/src/Framework/index.ts
  sources/@roots/bud-framework/src/Framework/methods/index.ts
  sources/@roots/bud-framework/src/Framework/methods/pipe.ts
  sources/@roots/bud-framework/src/Framework/methods/publicPath.ts
  sources/@roots/bud-framework/src/Framework/methods/setPublicPath.ts
  sources/@roots/bud-server/src/middleware/dev/index.ts
  sources/@roots/bud-server/src/middleware/proxy/proxy.middleware.ts
  sources/@roots/bud-server/src/middleware/proxy/proxy.options.ts
  sources/@roots/bud-server/src/middleware/proxy/req.interceptor.ts
  sources/@roots/bud-server/src/middleware/proxy/res.interceptor.ts
  sources/@roots/sage/src/hooks/event.build.make.before.dev.ts
  sources/@roots/sage/src/hooks/event.build.make.before.production.ts
  sources/@roots/sage/src/hooks/event.compiler.done.ts
  sources/@roots/sage/src/index.ts
  sources/@roots/sage/src/sage.preset.ts
  sources/@roots/sage/src/setPublicPath.ts
  tests/unit/bud-api/repository/publicPath.test.ts
  tests/unit/bud-api/repository/use.test.ts
Labels: @roots/bud-framework, @roots/bud-api, @roots/bud-server, @roots/sage, test

#1007 fix(server) bud.watch
  sources/@roots/bud-api/src/api/facade/facade.interface.ts
  sources/@roots/bud-api/src/api/methods/watch/index.ts
  sources/@roots/bud-framework/package.json
  sources/@roots/bud-framework/src/Server/Config.ts
  sources/@roots/bud-framework/src/Store.ts
  sources/@roots/bud-server/src/server/index.ts
  sources/@roots/bud-server/src/server/server.watcher.ts
  sources/@roots/bud/src/seed.ts
  tests/unit/bud-api/repository/__snapshots__/watch.test.ts.snap
  tests/unit/bud-api/repository/watch.test.ts
  tests/unit/bud-server/__snapshots__/service.test.ts.snap
  yarn.lock
Labels: bug, dependencies, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-server, test

#1016 fix(ci) release
  .github/workflows/release.yml
Labels: CI

#1053 add exception handling
  config/yarnrc.dev.yml
  docker-compose.yml
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/release.command.ts
  sources/@roots/bud-framework/src/Framework/framework.process.ts
  sources/@roots/bud-framework/src/Framework/index.ts
  sources/@roots/bud-framework/src/Framework/methods/close.ts
Labels: @roots/bud-framework, dev

#1056 fix: failing ci builds
  .docker/bud.dockerfile
  .github/workflows/test.yml
  docker-compose.yml
  sources/@repo/docs/content/dev/ci.mdx
Labels: CI, dev

#1052 fix(extensions-cwp): update interface
  sources/@roots/bud-api/package.json
  sources/@roots/bud-support/package.json
  sources/@roots/bud/src/extensions/copy-webpack-plugin/copy-webpack-plugin.interface.ts
  yarn.lock
Labels: dependencies, @roots/bud, @roots/bud-api, @roots/bud-support

#1023 docs(config) add /dev and workflow
  .github/workflows/docs.yml
  .gitignore
  sources/@repo/docs/config/docusaurus.theme.ts
  sources/@repo/docs/config/index.ts
  sources/@repo/docs/content/dev/index.mdx
  sources/@repo/docs/netlify.toml
Labels: CI

#1059 fix: bud doctor
  sources/@roots/bud/src/cli/commands/doctor.ts
Labels: @roots/bud

#1060 fix: move bud webpack cache into subdir
  sources/@roots/bud-api/src/api/methods/persist/index.ts
  tests/unit/bud-api/repository/persist.test.ts
Labels: @roots/bud-api, test

#1063 improve: `bud build` command
  sources/@roots/bud/src/cli/Runner/config/dynamic.config.ts
  sources/@roots/bud/src/cli/Runner/index.ts
  sources/@roots/bud/src/cli/commands/build.ts
Labels: @roots/bud

#1062 improve: @roots/bud-typescript configurability
  sources/@roots/bud-typescript/eslint-config/index.js
  sources/@roots/bud-typescript/package.json
  sources/@roots/bud-typescript/src/BudTypeCheckPlugin.ts
  sources/@roots/bud-typescript/src/api.ts
  sources/@roots/bud-typescript/src/bud.extension.ts
  sources/@roots/bud-typescript/src/bud.typecheck.ts
  sources/@roots/bud-typescript/src/constants.ts
  sources/@roots/bud-typescript/src/fork-ts-checker-webpack-plugin.ts
  sources/@roots/bud-typescript/src/index.ts
  sources/@roots/bud-typescript/src/options.ts
  sources/@roots/bud-typescript/templates/tsconfig.json
  sources/@roots/bud-typescript/tsconfig.json
  sources/@roots/bud-typescript/tsconfig/tsconfig.json
  sources/@roots/sage/package.json
  sources/@roots/sage/tsconfig.json
  sources/@roots/sage/tsconfig/tsconfig.json
  yarn.lock
Labels: dependencies, @roots/bud-typescript, @roots/sage

#1054 improve: bud dashboard rendering
  sources/@roots/bud-compiler/src/Compiler/index.ts
  sources/@roots/bud-dashboard/package.json
  sources/@roots/bud-dashboard/src/Dashboard/index.tsx
  sources/@roots/bud-dashboard/src/components/assets/asset.component.tsx
  sources/@roots/bud-dashboard/src/components/assets/assets.component.tsx
  sources/@roots/bud-dashboard/src/components/assets/index.ts
  sources/@roots/bud-dashboard/src/components/assets/summary.component.tsx
  sources/@roots/bud-dashboard/src/components/dashboard.component.tsx
  sources/@roots/bud-dashboard/src/components/index.tsx
  sources/@roots/bud-dashboard/src/components/input.component.tsx
  sources/@roots/bud-dashboard/src/components/message/index.tsx
  sources/@roots/bud-dashboard/src/components/message/message.component.tsx
  sources/@roots/bud-dashboard/src/components/message/messages.component.tsx
  sources/@roots/bud-dashboard/src/components/output.component.tsx
  sources/@roots/bud-dashboard/src/components/progress/bar/index.tsx
  sources/@roots/bud-dashboard/src/components/progress/progress.component.tsx
  sources/@roots/bud-dashboard/src/hooks/index.ts
  sources/@roots/bud-dashboard/src/hooks/useForceUpdate.ts
  sources/@roots/bud-dashboard/src/hooks/useFormatter.ts
  sources/@roots/bud-framework/src/Compiler.ts
  sources/@roots/bud-framework/src/Dashboard.ts
  sources/@roots/bud/src/seed.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-dashboard, @roots/bud-compiler

#1067 fix: conditial dashboard imports
  sources/@roots/bud-dashboard/src/Dashboard/index.tsx
Labels: @roots/bud-dashboard

#1068 fix: @roots/bud-eslint loader cache
  sources/@roots/bud-eslint/src/eslint.options.ts
Labels: @roots/bud-eslint
