Repository roots/bud, pull requests merged in 2023-07, with the labels that each got.

#2354 📕 docs: update readme
  README.md
  sources/@repo/markdown-kit/contributors/index.js
  sources/@repo/markdown-kit/readme/templates/root.md
  sources/@roots/bud-compiler/src/service.tsx
  sources/@roots/bud-dashboard/src/application.tsx
  sources/@roots/bud-dashboard/src/helpers/formatErrors.ts
  sources/@roots/bud-dashboard/src/service.tsx
  sources/@roots/bud-dashboard/test/service.test.tsx
  sources/@roots/bud-framework/package.json
  sources/@roots/bud-framework/src/bud.ts
  sources/@roots/bud-framework/src/console.ts
  sources/@roots/bud-framework/src/fs.ts
  sources/@roots/bud-framework/src/methods/after/after.ts
  sources/@roots/bud-framework/src/services/dashboard/index.ts
  sources/@roots/bud-framework/test/console.test.ts
  sources/@roots/bud-hooks/src/event/event.ts
  sources/@roots/bud-server/src/service/index.ts
  sources/@roots/bud-support/src/logger/index.ts
  sources/@roots/bud/src/cli/commands/bud.tsx
  tests/util/project/config/bud.config.js
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-dashboard, @roots/bud-compiler, @roots/bud-server, @roots/bud-hooks, @roots/bud-support, test, internal, 🚀!

#2359 🩹 fix: config.after
  sources/@roots/bud-build/src/config/resolve.ts
  sources/@roots/bud-extensions/src/tsconfig-values/index.ts
  sources/@roots/bud-framework/src/bootstrap.ts
  sources/@roots/bud-framework/src/methods/setPath/setPath.ts
  sources/@roots/bud-react/src/react-refresh/extension.ts
Labels: @roots/bud-framework, @roots/bud-extensions, @roots/bud-build, @roots/bud-react, 🚀!

#2360 🗂️ typings: @roots/bud/instance
  sources/@roots/bud-framework/src/registry/build.ts
  sources/@roots/bud/package.json
  sources/@roots/bud/src/instance.ts
  tests/util/project/.storage/@tests/project/cache/production/build/0.pack.br
  tests/util/project/.storage/@tests/project/cache/production/build/index.pack.br
  tests/util/project/.storage/@tests/project/modules.json
  tests/util/project/.storage/bud.commands.yml
  tests/util/project/.storage/bud.resolutions.yml
  tests/util/project/.storage/checksum.yml
  tests/util/project/.storage/commands.yml
  tests/util/project/.storage/configs/bud.config.ts/0a303f9624f7cfd77fa965816ce0562b56c43afe.js
  tests/util/project/.storage/configs/tailwind.config.ts/69b723d5727bce98629d68b9bbd981b333a07409.js
Labels: dependencies, @roots/bud-framework, @roots/bud, 🚀!

#2369 fix <alpha-value> Tailwind placeholder
  sources/@roots/bud-tailwindcss-theme-json/src/tailwind/palette.ts
Labels: 🚀!, @roots/bud-tailwindcss-theme-json

#2372 🩹 fix: register command type error after extension uninstall
  sources/@roots/bud-eslint/src/bud/commands/bud.eslint.command.tsx
  sources/@roots/bud-prettier/src/bud/commands/bud.prettier.command.tsx
  sources/@roots/bud-stylelint/src/bud/commands/bud.stylelint.command.tsx
  sources/@roots/bud-tailwindcss/src/bud/commands/tailwindcss/index.tsx
  sources/@roots/bud-typescript/src/bud/commands/bud.ts.check.command.tsx
  sources/@roots/bud-typescript/src/bud/commands/bud.tsc.command.tsx
  sources/@roots/bud/src/cli/app.tsx
  sources/@roots/bud/src/cli/commands/bud.build.development.tsx
  sources/@roots/bud/src/cli/commands/bud.build.tsx
  sources/@roots/bud/src/cli/commands/bud.clean.tsx
  sources/@roots/bud/src/cli/commands/bud.tsx
  sources/@roots/bud/src/cli/commands/bud.upgrade.tsx
  sources/@roots/bud/src/cli/commands/bud.view.tsx
  sources/@roots/bud/src/cli/commands/bud.webpack.tsx
  sources/@roots/bud/src/cli/commands/doctor/index.tsx
  sources/@roots/bud/src/cli/commands/repl/index.tsx
  sources/@roots/bud/src/cli/components/Menu.tsx
  sources/@roots/bud/src/cli/finder.ts
Labels: @roots/bud, @roots/bud-eslint, @roots/bud-prettier, @roots/bud-stylelint, @roots/bud-tailwindcss, @roots/bud-typescript, 🚀!

#2376 🧹 chore: cleanup
  README.md
  config/monorepo.config.cjs
  sources/@repo/docs/content/reference/bud.pipe.mdx
  sources/@repo/markdown-kit/readme/partials/what.md
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@roots/bud-criticalcss/test/extension.test.ts
  sources/create-bud-app/tsconfig.json
Labels: docs, test, internal, 🚀!, config

#2386 🩹 fix: parallelism
  sources/@roots/bud-build/src/config/infrastructureLogging.ts
  sources/@roots/bud-build/src/service.ts
  sources/@roots/bud-compiler/src/service.tsx
Labels: @roots/bud-build, @roots/bud-compiler, 🚀!

#2387 👍🏼 improve: build performance
  sources/@roots/bud-build/src/config/experiments.ts
  sources/@roots/bud-build/src/config/optimization.ts
  sources/@roots/bud-build/src/config/output/index.ts
  sources/@roots/bud-compiler/src/service.tsx
  sources/@roots/bud-framework/src/notifier.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud-build, @roots/bud-compiler, 🚀!

#2388 👍🏼 improve: error handling
  sources/@roots/bud-api/src/methods/compilePaths/compilePaths.method.ts
  sources/@roots/bud-api/src/methods/config/index.ts
  sources/@roots/bud-api/src/methods/provide/index.ts
  sources/@roots/bud-babel/src/extension.ts
  sources/@roots/bud-build/src/config/resolve.ts
  sources/@roots/bud-compiler/src/service.tsx
  sources/@roots/bud-dashboard/src/application.tsx
  sources/@roots/bud-dashboard/src/components/error.tsx
  sources/@roots/bud-dashboard/src/helpers/formatErrors.ts
  sources/@roots/bud-dashboard/src/service.tsx
  sources/@roots/bud-dashboard/src/views/compilation.tsx
  sources/@roots/bud-dashboard/src/views/node-error.tsx
  sources/@roots/bud-esbuild/src/extension.ts
  sources/@roots/bud-esbuild/test/extension.test.ts
  sources/@roots/bud-extensions/src/webpack-lifecycle-plugin/index.ts
  sources/@roots/bud-framework/src/bootstrap.ts
  sources/@roots/bud-framework/src/bud.ts
  sources/@roots/bud-framework/src/configuration/configuration.ts
  sources/@roots/bud-framework/src/configuration/index.ts
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-framework/src/fs.ts
  sources/@roots/bud-framework/src/methods/bindFacade.ts
  sources/@roots/bud-framework/src/methods/get.ts
  sources/@roots/bud-framework/src/methods/glob.ts
  sources/@roots/bud-framework/src/methods/setPath/index.ts
  sources/@roots/bud-framework/src/methods/setPath/validate.ts
  sources/@roots/bud-framework/src/methods/when.ts
  sources/@roots/bud-framework/src/module.ts
  sources/@roots/bud-framework/src/service.ts
  sources/@roots/bud-hooks/src/event/event.ts
  sources/@roots/bud-postcss/src/extension.ts
  sources/@roots/bud-preset-wordpress/src/extension.ts
  sources/@roots/bud-react/src/react-refresh/extension.ts
  sources/@roots/bud-sass/test/resolve-url.test.ts
  sources/@roots/bud-server/src/service/index.ts
  sources/@roots/bud-support/package.json
  sources/@roots/bud-support/src/errors/index.ts
  sources/@roots/bud-support/src/utilities/paths.ts
  sources/@roots/bud-support/src/which-pm/index.ts
  sources/@roots/bud-support/tsconfig.json
  sources/@roots/bud-tailwindcss/src/extension/index.ts
  sources/@roots/bud/src/cli/commands/bud.tsx
  sources/@roots/bud/src/cli/commands/bud.upgrade.tsx
  sources/@roots/bud/src/cli/commands/doctor/Doctor.tsx
  sources/@roots/bud/src/cli/commands/doctor/WinError.tsx
  sources/@roots/bud/src/cli/commands/doctor/index.tsx
  sources/@roots/bud/src/services/project.ts
  sources/@roots/filesystem/src/json.ts
  sources/@roots/sage/package.json
  sources/@roots/sage/src/index.ts
  sources/@roots/sage/src/types/index.ts
  sources/@roots/sage/stylelint-config/index.cjs
  sources/@roots/sage/tsconfig.json
  yarn.lock
Labels: dependencies, @roots/bud-esbuild, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-extensions, @roots/bud-build, @roots/bud-compiler, @roots/bud-server, @roots/bud-babel, @roots/bud-react, @roots/bud-hooks, @roots/bud-postcss, @roots/bud-support, @roots/bud-tailwindcss, @roots/filesystem, @roots/sage, test, @roots/bud-preset-wordpress, 🚀!, config

#2389 ✨ feat(minor): configurable wordpress externals
  config/vitest/alias.ts
  sources/@repo/docs/content/extensions/bud-preset-wordpress/index.mdx
  sources/@roots/bud-preset-wordpress/src/extension.ts
  sources/@roots/bud-wordpress-externals/src/extension.ts
  sources/@roots/wordpress-externals-webpack-plugin/src/index.ts
  sources/@roots/wordpress-externals-webpack-plugin/src/interface.ts
  sources/@roots/wordpress-externals-webpack-plugin/src/plugin.ts
  sources/@roots/wordpress-externals-webpack-plugin/test/plugin.test.ts
  sources/@roots/wordpress-transforms/package.json
  sources/@roots/wordpress-transforms/src/window.ts
  sources/@roots/wordpress-transforms/src/wordpress.ts
  sources/@roots/wordpress-transforms/test/handle.test.ts
  sources/@roots/wordpress-transforms/test/index.test.ts
  sources/@roots/wordpress-transforms/test/window.test.ts
Labels: dependencies, docs, @roots/wordpress-externals-webpack-plugin, @roots/bud-wordpress-externals, test, @roots/bud-preset-wordpress, internal, 🚀!, config

#2391 📕 docs: fix @roots/bud-sass installation docs
  sources/@repo/docs/content/learn/getting-started/adding-sass.mdx
Labels: docs, internal, 🚀!
