Repository roots/bud, pull requests merged in 2023-08, with the labels that each got.

#2395 ✨ improve: typings & tests
  config/eslint.config.cjs
  config/vitest/alias.ts
  sources/@roots/blade-loader/src/asset-loader.cts
  sources/@roots/blade-loader/src/loaders/index.cts
  sources/@roots/blade-loader/src/plugin.ts
  sources/@roots/bud-cache/package.json
  sources/@roots/bud-cache/src/index.ts
  sources/@roots/bud-cache/src/service.ts
  sources/@roots/bud-cache/test/service.test.ts
  sources/@roots/bud-cache/tsconfig.json
  sources/@roots/bud-client/package.json
  sources/@roots/bud-client/src/dom-ready.ts
  sources/@roots/bud-client/src/index.ts
  sources/@roots/bud-client/src/lazy.ts
  sources/@roots/bud-compiler/src/service.tsx
  sources/@roots/bud-compiler/test/compiler.test.ts
  sources/@roots/bud-compiler/tsconfig.json
  sources/@roots/bud-dashboard/test/service.test.tsx
  sources/@roots/bud-emotion/test/dependencies.test.ts
  sources/@roots/bud-sass/src/extension.ts
  sources/@roots/entrypoints-webpack-plugin/src/plugin.ts
  sources/@roots/sage/package.json
  sources/@roots/sage/src/acorn/index.ts
  sources/@roots/sage/src/client/dom-ready.ts
  sources/@roots/sage/src/client/index.ts
  sources/@roots/sage/src/client/lazy.ts
  sources/@roots/sage/src/sage/index.ts
  sources/@roots/sage/test/acorn/extension.test.ts
  sources/@roots/sage/tsconfig.json
  sources/@roots/wordpress-hmr/src/editor.ts
  sources/@roots/wordpress-hmr/src/plugin.ts
  yarn.lock
Labels: dependencies, @roots/bud-cache, @roots/bud-compiler, @roots/entrypoints-webpack-plugin, @roots/bud-sass, @roots/sage, test, 🚀!, @roots/bud-client, @roots/wordpress-hmr, config, @roots/blade-loader

#2397 📕 docs(none): wordpress enqueues
  sources/@repo/docs/content/extensions/bud-preset-wordpress/index.mdx
  sources/@roots/bud-babel/src/extension.ts
  sources/@roots/bud-babel/src/index.ts
  sources/@roots/bud-build/src/config/dependencies.ts
  sources/@roots/bud-build/src/config/infrastructureLogging.ts
  sources/@roots/bud-build/src/config/module.ts
  sources/@roots/bud-build/src/config/parallelism.ts
  sources/@roots/bud-build/src/config/resolve.ts
  sources/@roots/bud-build/src/registry/index.ts
  sources/@roots/bud-compiler/src/service/index.tsx
  sources/@roots/bud-mdx/src/extension.ts
Labels: @roots/bud-build, docs, @roots/bud-compiler, @roots/bud-babel, @roots/bud-mdx, internal, 🚀!

#2398 🩹 fix(patch): fix casing in dashboard of Dev
  sources/@roots/bud-dashboard/src/views/server.tsx
  sources/@roots/bud-dashboard/test/app.test.tsx
Labels: @roots/bud-dashboard, test, 🚀!

#2400 ✨ improve(patch): heal cli commands cache
  sources/@roots/bud-compiler/src/service/index.tsx
  sources/@roots/bud-dashboard/src/components/error.tsx
  sources/@roots/bud-dashboard/src/views/server.tsx
  sources/@roots/bud-eslint/src/bud/commands/bud.eslint.command.tsx
  sources/@roots/bud-framework/src/bud.ts
  sources/@roots/bud-framework/src/context.ts
  sources/@roots/bud-hooks/src/base/base.ts
  sources/@roots/bud-prettier/src/bud/commands/bud.prettier.command.tsx
  sources/@roots/bud-stylelint/src/bud/commands/bud.stylelint.command.tsx
  sources/@roots/bud-support/src/errors/index.ts
  sources/@roots/bud-support/src/ink/index.ts
  sources/@roots/bud-tailwindcss/src/bud/commands/tailwindcss/index.tsx
  sources/@roots/bud-typescript/src/bud/commands/bud.ts.check.command.tsx
  sources/@roots/bud-typescript/src/bud/commands/bud.ts.command.tsx
  sources/@roots/bud/package.json
  sources/@roots/bud/src/bud/index.ts
  sources/@roots/bud/src/cli/app.tsx
  sources/@roots/bud/src/cli/commands/build/development/index.tsx
  sources/@roots/bud/src/cli/commands/build/index.tsx
  sources/@roots/bud/src/cli/commands/build/production/index.tsx
  sources/@roots/bud/src/cli/commands/clean/index.tsx
  sources/@roots/bud/src/cli/commands/doctor/index.tsx
  sources/@roots/bud/src/cli/commands/index.tsx
  sources/@roots/bud/src/cli/commands/repl/index.tsx
  sources/@roots/bud/src/cli/commands/upgrade/index.tsx
  sources/@roots/bud/src/cli/commands/view/index.tsx
  sources/@roots/bud/src/cli/commands/webpack/index.tsx
  sources/@roots/bud/src/cli/components/Menu.tsx
  sources/@roots/bud/src/cli/decorators/dry.ts
  sources/@roots/bud/src/cli/finder.ts
  sources/@roots/bud/src/cli/index.ts
  sources/@roots/bud/src/context/index.ts
  sources/@roots/bud/src/factory/index.ts
  sources/@roots/bud/src/index.ts
  sources/@roots/bud/src/instance/index.ts
  sources/@roots/bud/test/factory.test.ts
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-dashboard, @roots/bud-compiler, @roots/bud-eslint, @roots/bud-hooks, @roots/bud-prettier, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-typescript, test, 🚀!

#2401 🗂️ types(patch): include @types directory (criticalcss)
  sources/@roots/bud-criticalcss/package.json
  sources/@roots/critical-css-webpack-plugin/package.json
Labels: dependencies, 🚀!

#2402 ✨ improve(patch): nested errors
  sources/@roots/bud-dashboard/src/components/error.tsx
  sources/@roots/bud-dashboard/src/helpers/formatErrors.ts
  sources/@roots/bud-support/src/errors/index.ts
  sources/@roots/bud/src/cli/app.tsx
Labels: @roots/bud, @roots/bud-dashboard, @roots/bud-support, 🚀!

#2403 ✨ improve(patch): --use flag
  sources/@roots/bud-support/src/utilities/args.ts
  sources/@roots/bud/src/cli/app.tsx
  sources/@roots/bud/src/cli/commands/build/development/index.tsx
  sources/@roots/bud/src/cli/commands/build/index.tsx
  sources/@roots/bud/src/cli/commands/index.tsx
  sources/@roots/bud/src/cli/finder.ts
  sources/@roots/bud/src/cli/flags/splitChunks.ts
  sources/@roots/bud/src/context/extensions.ts
  sources/@roots/bud/src/context/index.ts
Labels: @roots/bud, @roots/bud-support, 🚀!

#2406 📕 docs(none): entrypoints manifest
  sources/@repo/docs/content/learn/config/entrypoints.mdx
Labels: docs, internal, 🚀!

#2408 ⚙️ internal(none): security.md
  SECURITY.md
Labels: 🚀!

#2409 🩹 fix(patch): create-bud-app dependencies
  sources/create-bud-app/src/tasks/install.dev.ts
Labels: 🚀!

#2410 ✨ improve(patch): improve cache.buildDependencies
  examples/sage/tsconfig.json
  sources/@roots/bud-babel/src/extension.ts
  sources/@roots/bud-cache/package.json
  sources/@roots/bud-cache/src/helpers.ts
  sources/@roots/bud-cache/src/service.ts
  sources/@roots/bud-cache/test/service.test.ts
  sources/@roots/bud-criticalcss/test/extension.test.ts
  sources/@roots/bud-framework/src/registry/build.ts
  sources/@roots/bud-framework/src/services/cache/index.ts
Labels: dependencies, @roots/bud-framework, @roots/bud-cache, examples, @roots/bud-babel, test, 🚀!, config

#2413 🩹 fix(patch): sass-loader resolve
  sources/@roots/bud-sass/src/extension.ts
Labels: @roots/bud-sass, 🚀!

#2417 ⚙️ internal(none): fix @bud docs command
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/_netlify.ts
  yarn.lock
Labels: dependencies, internal, 🚀!

#2418 ⚙️ internal(none): patch @yarnpkg/builder
  .yarn/patches/@yarnpkg-builder-npm-4.0.0-rc.49-3bed67fd94.patch
  package.json
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/package.json
  sources/@repo/yarn-plugin-package/package.json
  yarn.lock
Labels: dependencies, yarn, internal, 🚀!, config

#2414 📦 deps(patch): upgrade dependencies
  package.json
  sources/@repo/constants/package.json
  sources/@repo/docs/package.json
  sources/@repo/markdown-kit/package.json
  sources/@repo/notifier/package.json
  sources/@repo/test-kit/package.json
  sources/@repo/yarn-plugin-package/package.json
  sources/@roots/bud-dashboard/package.json
  sources/@roots/bud-imagemin/package.json
  sources/@roots/bud-postcss/package.json
  sources/@roots/bud-prettier/package.json
  sources/@roots/bud-purgecss/package.json
  sources/@roots/bud-react/package.json
  sources/@roots/bud-sass/package.json
  sources/@roots/bud-swc/package.json
  sources/@roots/bud-tailwindcss/package.json
  sources/@roots/eslint-config/package.json
  sources/@roots/wordpress-hmr/package.json
  sources/@roots/wordpress-hmr/src/format.ts
  sources/create-bud-app/package.json
  yarn.lock
Labels: dependencies, docs, internal, 🚀!, @roots/wordpress-hmr, @roots/eslint-config

#2419 ⚙️ internal(none): improve @examples/node-api
  examples/node-api/package.json
  examples/node-api/webpack.config.js
  yarn.lock
Labels: dependencies, examples, 🚀!

#2421 👍🏼 improve(patch): support *.module.scss (@roots/bud-sass)
  examples/css-module/package.json
  examples/css-module/src/index.js
  examples/css-module/src/style.module.css
  examples/css-module/tsconfig.json
  examples/sass-module/package.json
  examples/sass-module/src/index.js
  examples/sass-module/src/style.module.scss
  examples/sass-module/src/vars.scss
  examples/sass-module/tsconfig.json
  examples/watch/bud.config.ts
  examples/watch/package.json
  examples/watch/src/app.css
  examples/watch/src/app.js
  examples/watch/src/components/App.js
  examples/watch/src/components/logo.svg
  examples/watch/tsconfig.json
  examples/watch/watched/foo.html
  sources/@roots/bud-build/src/index.ts
  sources/@roots/bud-build/src/items/index.ts
  sources/@roots/bud-build/src/registry/index.ts
  sources/@roots/bud-build/src/rules/css.module.ts
  sources/@roots/bud-client/src/hot/client.ts
  sources/@roots/bud-client/src/types/index.d.ts
  sources/@roots/bud-postcss/src/extension/index.ts
  sources/@roots/bud-sass/src/extension.ts
  sources/@roots/bud-sass/src/index.ts
  sources/@roots/bud-support/src/lodash/kebabCase/index.ts
  sources/@roots/bud-tailwindcss/src/index.ts
  sources/@roots/bud-tailwindcss/src/types/index.ts
  sources/@roots/bud-tailwindcss/test/extension/index.test.ts
  sources/@roots/bud-tailwindcss/test/fixture.test.ts
  tests/e2e/watch.test.ts
  tests/integration/__snapshots__/css-module.test.ts.snap
  tests/integration/__snapshots__/sass-module.test.ts.snap
  tests/integration/css-module.test.ts
  tests/integration/remote-sources.test.ts
  tests/integration/sass-module.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-build, examples, @roots/bud-postcss, @roots/bud-sass, @roots/bud-support, @roots/bud-tailwindcss, test, 🚀!, @roots/bud-client, config

#2420 fix: Syntax error when using default export - filters.md
  sources/@roots/wordpress-hmr/docs/usage/filters.md
Labels: docs, 🚀!

#2422 👍🏼 improve(patch): prevent duplicate dashboard renders
  sources/@roots/bud-dashboard/src/application.tsx
  sources/@roots/bud-dashboard/test/app.test.tsx
Labels: @roots/bud-dashboard, test, 🚀!

#2425 Update adding-postcss.mdx
  sources/@repo/docs/content/learn/getting-started/adding-postcss.mdx
Labels: docs, internal, 🚀!

#2427 🩹 fix(patch): fix proxy url
  config/tsconfig.json
  sources/@roots/bud-api/src/methods/proxy/helpers.ts
  sources/@roots/bud-api/src/methods/proxy/proxy.types.ts
  sources/@roots/bud-dashboard/src/application.tsx
  sources/@roots/bud-dashboard/src/service.tsx
  sources/@roots/bud-framework/src/registry/dev.ts
  sources/@roots/bud-server/src/middleware/proxy/factory.ts
  sources/@roots/bud-server/src/middleware/proxy/index.ts
  sources/@roots/bud-server/src/middleware/proxy/responseInterceptor.ts
  sources/@roots/bud-server/src/middleware/proxy/url.ts
  sources/@roots/bud-server/test/middleware-proxy.test.ts
  sources/@roots/bud-support/package.json
  sources/@roots/bud-support/src/filter-undefined/index.ts
  sources/@roots/bud-support/src/jsx-dev-runtime/index.cjs
  sources/@roots/bud-support/src/jsx-dev-runtime/index.d.cts
  sources/@roots/bud-support/src/jsx-runtime/index.cjs
  sources/@roots/bud-support/src/jsx-runtime/index.d.cts
Labels: dependencies, @roots/bud-framework, @roots/bud-api, @roots/bud-dashboard, @roots/bud-server, @roots/bud-support, test, 🚀!, config
