Repository roots/bud, pull requests merged in 2023-03, with the labels that each got.

#2129 ✨ improve (@roots/blade-loader)
  sources/@roots/blade-loader/package.json
  sources/@roots/blade-loader/src/loaders/css.cts
  sources/@roots/blade-loader/src/loaders/index.cts
  sources/@roots/blade-loader/src/loaders/js.cts
  sources/@roots/blade-loader/src/loaders/scss.cts
  sources/@roots/blade-loader/src/loaders/ts.cts
  sources/@roots/blade-loader/src/loaders/vue.cts
  sources/@roots/blade-loader/src/module-loader.cts
  sources/@roots/blade-loader/src/plugin.ts
  sources/@roots/blade-loader/tsconfig.json
  sources/@roots/blade-loader/vendor/View/Directives/EndModule.php
  sources/@roots/blade-loader/vendor/View/Directives/Module.php
  sources/@roots/bud-api/src/methods/devtool/index.ts
  sources/@roots/bud-api/src/methods/entry/handlePrimitive.ts
  sources/@roots/bud-api/src/methods/entry/index.test.ts
  sources/@roots/bud-build/src/config/output/chunkFilename.ts
  sources/@roots/bud-build/src/config/output/filename.ts
  sources/@roots/bud-build/src/config/output/index.ts
  sources/@roots/bud-criticalcss/test/__snapshots__/extension.test.ts.snap
  sources/@roots/bud-criticalcss/test/extension.test.ts
  sources/@roots/bud-dashboard/src/dashboard/app.test.tsx
  sources/@roots/bud-dashboard/src/dashboard/app.tsx
  sources/@roots/bud-dashboard/src/dashboard/compilation/compilation.component.tsx
  sources/@roots/bud-dashboard/src/dashboard/server/index.tsx
  sources/@roots/bud-emotion/src/extension.ts
  sources/@roots/bud-framework/src/lifecycle/init.ts
  sources/@roots/bud-framework/src/methods/publicPath.ts
  sources/@roots/bud-framework/src/methods/sequence.ts
  sources/@roots/bud-framework/src/methods/setPath/isType.ts
  sources/@roots/bud-framework/src/methods/setPath/setPath.test.ts
  sources/@roots/bud-framework/src/methods/setPath/setPath.ts
  sources/@roots/bud-framework/src/methods/setPath/validate.ts
  sources/@roots/bud-framework/src/methods/tap.ts
  sources/@roots/bud-framework/src/methods/when.ts
  sources/@roots/bud-framework/src/types/registry/index.ts
  sources/@roots/bud-framework/src/types/registry/locations.ts
  sources/@roots/bud-server/src/middleware/dev/factory.ts
  sources/@roots/sage/src/acorn/hooks/event.compiler.done.ts
  sources/@roots/sage/src/sage/extension.ts
  sources/@roots/sage/test/sage/extension.test.ts
  storage/package.json
  storage/yarn.lock
  tests/util/project/bud.config.mjs
Labels: dependencies, @roots/bud-framework, @roots/bud-api, @roots/bud-dashboard, @roots/bud-build, @roots/bud-server, @roots/bud-criticalcss, @roots/bud-emotion, @roots/sage, test, 🚀!, config

#2131 🩹fix(@roots/bud-vue): #2126
  sources/@roots/bud-vue/src/extension.ts
  tests/reproductions/.gitignore
  tests/reproductions/issue-2126.test.ts
  tests/reproductions/issue-2126/bud.config.js
  tests/reproductions/issue-2126/jsconfig.json
  tests/reproductions/issue-2126/package.json
  tests/reproductions/issue-2126/resources/App.vue
  tests/reproductions/issue-2126/resources/components/TodoList.vue
  tests/reproductions/issue-2126/resources/index.js
  tests/reproductions/issue-2126/resources/index.scss
  tests/reproductions/issue-2126/resources/variables.scss
  yarn.lock
Labels: dependencies, 🚀!, config

#2130 🩹 fix(@roots/bud): paths
  sources/@roots/bud-framework/src/methods/path/path.ts
  sources/@roots/bud-framework/src/methods/relPath.ts
  sources/@roots/bud-framework/src/methods/setPath/setPath.ts
Labels: @roots/bud-framework, 🚀!

#2127 🧹 chore: Update sponsors
  README.md
  config/monorepo.config.cjs
  sources/@roots/blade-loader/README.md
  sources/@roots/browserslist-config/README.md
  sources/@roots/bud-api/README.md
  sources/@roots/bud-babel/README.md
  sources/@roots/bud-build/README.md
  sources/@roots/bud-cache/README.md
  sources/@roots/bud-client/README.md
  sources/@roots/bud-compiler/README.md
  sources/@roots/bud-compress/README.md
  sources/@roots/bud-criticalcss/README.md
  sources/@roots/bud-dashboard/README.md
  sources/@roots/bud-emotion/README.md
  sources/@roots/bud-entrypoints/README.md
  sources/@roots/bud-esbuild/README.md
  sources/@roots/bud-eslint/README.md
  sources/@roots/bud-extensions/README.md
  sources/@roots/bud-framework/README.md
  sources/@roots/bud-hooks/README.md
  sources/@roots/bud-imagemin/README.md
  sources/@roots/bud-mdx/README.md
  sources/@roots/bud-postcss/README.md
  sources/@roots/bud-preset-recommend/README.md
  sources/@roots/bud-preset-wordpress/README.md
  sources/@roots/bud-prettier/README.md
  sources/@roots/bud-purgecss/README.md
  sources/@roots/bud-react/README.md
  sources/@roots/bud-sass/README.md
  sources/@roots/bud-server/README.md
  sources/@roots/bud-solid/README.md
  sources/@roots/bud-stylelint/README.md
  sources/@roots/bud-support/README.md
  sources/@roots/bud-swc/README.md
  sources/@roots/bud-tailwindcss-theme-json/README.md
  sources/@roots/bud-tailwindcss/README.md
  sources/@roots/bud-terser/README.md
  sources/@roots/bud-typescript/README.md
  sources/@roots/bud-vue/README.md
  sources/@roots/bud-wordpress-dependencies/README.md
  sources/@roots/bud-wordpress-externals/README.md
  sources/@roots/bud-wordpress-manifests/README.md
  sources/@roots/bud-wordpress-theme-json/README.md
  sources/@roots/bud/README.md
  sources/@roots/container/README.md
  sources/@roots/critical-css-webpack-plugin/README.md
  sources/@roots/dependencies/README.md
  sources/@roots/entrypoints-webpack-plugin/README.md
  sources/@roots/eslint-config/README.md
  sources/@roots/filesystem/README.md
  sources/@roots/merged-manifest-webpack-plugin/README.md
  sources/@roots/sage/README.md
  sources/@roots/wordpress-dependencies-webpack-plugin/README.md
  sources/@roots/wordpress-externals-webpack-plugin/README.md
  sources/@roots/wordpress-hmr/README.md
  sources/@roots/wordpress-theme-json-webpack-plugin/README.md
Labels: @roots/bud-esbuild, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-extensions, @roots/bud-build, @roots/bud-cache, @roots/bud-compiler, @roots/bud-server, @roots/bud-babel, @roots/bud-preset-recommend, @roots/bud-react, @roots/entrypoints-webpack-plugin, @roots/merged-manifest-webpack-plugin, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, @roots/bud-criticalcss, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-eslint, @roots/bud-hooks, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-sass, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/filesystem, @roots/sage, @roots/bud-solid, @roots/bud-compress, @roots/bud-preset-wordpress, 🚀!, @roots/bud-client, @roots/wordpress-hmr, config, @roots/browserslist-config, @roots/bud-swc, @roots/eslint-config

#2097 ✨ improve(@roots/bud): static config parsing
  examples/config-json/bud.config.json
  examples/config-json/package.json
  examples/config-json/src/app.js
  examples/config-json/src/global.css
  examples/config-yml/bud.config.yml
  examples/config-yml/package.json
  examples/config-yml/src/app.js
  examples/config-yml/src/global.css
  sources/@repo/docs/content/guides/general-use/alternative-config-syntax.mdx
  sources/@roots/bud-framework/src/configuration/configuration.test.ts
  sources/@roots/bud-framework/src/configuration/configuration.ts
Labels: @roots/bud-framework, examples, docs, test, internal, 🚀!

#2132 📕 docs: Install component
  sources/@repo/docs/content/extensions/bud-tailwindcss.mdx
Labels: docs, internal, 🚀!

#2136 fix (@bud/prettier): bud format command
  sources/@roots/bud-prettier/src/bud/commands/bud.prettier.command.tsx
Labels: @roots/bud-prettier, 🚀!

#2137 ✨ improve(@roots/wordpress-hmr): add loader
  examples/wordpress-editor/package.json
  examples/wordpress-editor/src/example.block.js
  examples/wordpress-editor/src/example.plugin.js
  examples/wordpress-editor/src/index.js
  examples/wordpress-editor/src/quote.variation.js
  examples/wordpress-editor/src/underline.format.js
  sources/@repo/docs/content/docs/bud.tapAsync.mdx
  sources/@repo/docs/content/extensions/bud-preset-wordpress/editor-integration/blocks.mdx
  sources/@repo/docs/content/extensions/bud-preset-wordpress/editor-integration/filters.mdx
  sources/@repo/docs/content/extensions/bud-preset-wordpress/editor-integration/formats.mdx
  sources/@repo/docs/content/extensions/bud-preset-wordpress/editor-integration/index.mdx
  sources/@repo/docs/content/extensions/bud-preset-wordpress/editor-integration/plugins.mdx
  sources/@repo/docs/content/extensions/bud-preset-wordpress/editor-integration/styles.mdx
  sources/@repo/docs/content/extensions/bud-preset-wordpress/editor-integration/variations.mdx
  sources/@repo/docs/content/extensions/bud-preset-wordpress/index.mdx
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/release.command.ts
  sources/@roots/bud-criticalcss/test/__snapshots__/extension.test.ts.snap
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-preset-wordpress/package.json
  sources/@roots/bud-preset-wordpress/src/extension.ts
  sources/@roots/bud-preset-wordpress/src/types.ts
  sources/@roots/bud-tailwindcss/src/extension/__snapshots__/index.test.ts.snap
  sources/@roots/bud-tailwindcss/src/extension/index.test.ts
  sources/@roots/wordpress-hmr/README.md
  sources/@roots/wordpress-hmr/docs/01-overview.md
  sources/@roots/wordpress-hmr/docs/usage/blocks.md
  sources/@roots/wordpress-hmr/docs/usage/filters.md
  sources/@roots/wordpress-hmr/docs/usage/formats.md
  sources/@roots/wordpress-hmr/docs/usage/plugins.md
  sources/@roots/wordpress-hmr/docs/usage/styles.md
  sources/@roots/wordpress-hmr/docs/usage/variations.md
  sources/@roots/wordpress-hmr/package.json
  sources/@roots/wordpress-hmr/src/block.ts
  sources/@roots/wordpress-hmr/src/blocks.ts
  sources/@roots/wordpress-hmr/src/cache.ts
  sources/@roots/wordpress-hmr/src/editor.ts
  sources/@roots/wordpress-hmr/src/filter.ts
  sources/@roots/wordpress-hmr/src/filters.ts
  sources/@roots/wordpress-hmr/src/format.ts
  sources/@roots/wordpress-hmr/src/formats.ts
  sources/@roots/wordpress-hmr/src/index.ts
  sources/@roots/wordpress-hmr/src/loader.cts
  sources/@roots/wordpress-hmr/src/package.test.ts
  sources/@roots/wordpress-hmr/src/plugin.ts
  sources/@roots/wordpress-hmr/src/plugins.ts
  sources/@roots/wordpress-hmr/src/style.ts
  sources/@roots/wordpress-hmr/src/styles.ts
  sources/@roots/wordpress-hmr/src/utility.ts
  sources/@roots/wordpress-hmr/src/variation.ts
  sources/@roots/wordpress-hmr/src/variations.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, examples, docs, @roots/bud-criticalcss, @roots/bud-tailwindcss, test, @roots/bud-preset-wordpress, internal, 🚀!, @roots/wordpress-hmr

#2141 Fix typo
  sources/@repo/docs/content/guides/extending/index.mdx
Labels: docs, internal, 🚀!

#2145 🩹 fix: release workflow 2
  .github/workflows/release-main.yml
  .github/workflows/release-nightly.yml
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/base.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/bud.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/ci.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/clean.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/compile.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/dev.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/docs/dev.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/docs/docs.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/docs/netlify.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/format.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/index.ts
  sources/@repo/yarn-plugin-bud/sources/command/info.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/lint.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/lint/dependencies.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/lint/exports.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/pm2.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/registry/clean.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/registry/install.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/registry/start.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/registry/stop.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/release.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/run.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/test/test.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/test/test.e2e.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/test/test.integration.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/test/test.unit.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/tsc.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/vendor.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/version.command.ts
  sources/@repo/yarn-plugin-bud/sources/yarnrc/yarnrc.ts
  sources/@repo/yarn-plugin-bud/sources/yarnrc/yml.ts
Labels: CI, internal, 🚀!

#2147 🔧 dev: release latest workflow
  .github/workflows/release-main.yml
Labels: CI, 🚀!

#2148 Improve @bud cli
  .github/workflows/test.integration.yml
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/base.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/docs/docs.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/format.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/index.ts
  sources/@repo/yarn-plugin-bud/sources/command/registry/clean.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/registry/start.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/registry/stop.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/release.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/test.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/test/test.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/test/test.e2e.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/test/test.integration.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/test/test.unit.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/tsc.command.ts
  sources/@repo/yarn-plugin-bud/sources/hooks/afterAllInstalled.ts
  sources/@roots/bud-compiler/src/compiler.service.tsx
  sources/@roots/bud-framework/src/methods/run.ts
  sources/@roots/bud-hooks/src/service.test.ts
  sources/@roots/bud-server/src/service/index.ts
  sources/@roots/bud-support/package.json
  sources/@roots/bud/package.json
  sources/@roots/entrypoints-webpack-plugin/package.json
  tests/e2e/babel.test.ts
  tests/e2e/swc.test.ts
  tests/e2e/util/install.ts
  yarn.lock
Labels: dependencies, CI, @roots/bud-framework, @roots/bud, @roots/bud-compiler, @roots/bud-server, @roots/entrypoints-webpack-plugin, @roots/bud-hooks, @roots/bud-support, test, internal, 🚀!

#2150 🔧 dev: main release workflow
  .github/workflows/release-main.yml
  .github/workflows/release-nightly.yml
  sources/@roots/bud-api/src/methods/html/index.test.ts
Labels: CI, @roots/bud-api, test, 🚀!

#2152 🔧 bud.js.org: Disable trailing slash
  sources/@repo/docs/config/index.cjs
Labels: docs, internal, 🚀!

#2155 🧪 fix: unit test timeout
  config/vitest.unit.config.ts
Labels: test, 🚀!, config

#2153 📕 docs: add missing docs
  sources/@repo/docs/config/docusaurus.theme.cjs
  sources/@repo/docs/content/docs/bud.assets/index.mdx
  sources/@repo/docs/content/docs/bud.copyDir/index.mdx
  sources/@repo/docs/content/docs/bud.copyFile/index.mdx
  sources/@repo/docs/content/docs/bud.fs/index.mdx
  sources/@repo/docs/content/docs/bud.fs/s3/index.mdx
  sources/@repo/docs/content/docs/bud.proxy/index.mdx
  sources/@repo/docs/content/docs/bud.proxy/modifying-the-response-body.mdx
  sources/@repo/docs/content/docs/bud.proxy/options.mdx
  sources/@repo/docs/content/docs/bud.serve/index.mdx
  sources/@repo/docs/content/docs/bud.setProxyUrl/index.mdx
  sources/@repo/docs/content/docs/bud.setPublicProxyUrl/index.mdx
  sources/@repo/docs/content/docs/bud.setPublicUrl/index.mdx
  sources/@repo/docs/content/docs/bud.setUrl/index.mdx
  sources/@repo/docs/content/docs/bud.use.mdx
  sources/@repo/docs/content/docs/bud.watch/index.mdx
  sources/@repo/markdown-kit/releases/data.ts
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/index.ts
  sources/@repo/yarn-plugin-bud/sources/command/netlify.command.ts
  sources/@roots/bud-api/README.md
  sources/@roots/bud-api/docs/01-api.md
  sources/@roots/bud-api/docs/copyFile/overview.md
  sources/@roots/bud-api/docs/proxy/overview.md
  sources/@roots/bud-api/docs/serve/overview.md
  sources/@roots/bud-api/docs/setProxyUrl/overview.md
  sources/@roots/bud-api/docs/setProxyUrl/usage.md
  sources/@roots/bud-api/docs/setPublicProxyUrl/overview.md
  sources/@roots/bud-api/docs/setUrl/overview.md
  sources/@roots/bud-api/docs/setUrl/usage.md
Labels: @roots/bud-api, docs, internal, 🚀!

#2154 ✨ improve(@roots/eslint-config): remove react-in-jsx-scope
  sources/@roots/eslint-config/babel.cjs
  sources/@roots/eslint-config/defaults.cjs
  sources/@roots/eslint-config/index.d.ts
  sources/@roots/eslint-config/react.cjs
  sources/@roots/eslint-config/recommended.cjs
  sources/@roots/eslint-config/sage.cjs
  sources/@roots/eslint-config/typescript.cjs
  sources/@roots/eslint-config/wordpress.cjs
Labels: 🚀!, @roots/eslint-config

#2151 🩹 fix(dev): @bud deprecate command
  .github/workflows/release-deprecate.yml
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/package.json
  sources/@repo/yarn-plugin-bud/sources/command/deprecate.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/index.ts
  yarn.lock
Labels: dependencies, CI, internal, 🚀!

#2161 🔧 dev: improve yarnrc
  .yarnrc.yml
  yarn.lock
Labels: dependencies, yarn, 🚀!, config

#2169 🩹 fix(@roots/browserslist-config) no update in ci
  sources/@roots/browserslist-config/scripts/postinstall.mjs
  sources/@roots/bud-framework/scripts/postinstall.mjs
Labels: @roots/bud-framework, 🚀!, @roots/browserslist-config

#2157 Update 01-configuration.md eslint filname should be js
  sources/@roots/bud-eslint/docs/01-configuration.md
Labels: docs, @roots/bud-eslint, 🚀!

#2170 📕 docs: bud.config and dev docs
  sources/@repo/docs/content/dev/index.md
  sources/@repo/docs/content/docs/bud.assets/index.mdx
  sources/@repo/docs/content/docs/bud.config/index.mdx
  sources/@repo/docs/content/docs/bud.entry/index.mdx
  sources/@repo/docs/content/docs/bud.hooks/index.mdx
  sources/@repo/docs/content/guides/index.mdx
  sources/@roots/bud-api/docs/assets/related.md
  sources/@roots/bud-api/docs/compilePaths/usage.md
  sources/@roots/bud-api/docs/config/overview.md
  sources/@roots/bud-api/docs/config/usage.md
  sources/@roots/bud-api/docs/copyDir/usage.md
  sources/@roots/bud-api/docs/copyFile/usage.md
Labels: @roots/bud-api, docs, internal, 🚀!

#2174 📂 typings: improve typings
  .yarnrc.yml
  sources/@roots/bud-api/src/methods/minimize/index.ts
  sources/@roots/bud-api/src/repository.ts
  sources/@roots/bud-compress/src/brotli.ts
  sources/@roots/bud-compress/src/extension.ts
  sources/@roots/bud-compress/src/gzip.ts
  sources/@roots/bud-compress/src/types.ts
  sources/@roots/bud-criticalcss/src/extension.ts
  sources/@roots/bud-criticalcss/src/types.ts
  sources/@roots/bud-entrypoints/src/types.ts
  sources/@roots/bud-esbuild/src/extension.ts
  sources/@roots/bud-eslint/src/cache-fix/extension.ts
  sources/@roots/bud-eslint/src/extension.ts
  sources/@roots/bud-eslint/src/types.ts
  sources/@roots/bud-extensions/package.json
  sources/@roots/bud-extensions/src/types.ts
  sources/@roots/bud-framework/package.json
  sources/@roots/bud-framework/src/bud.ts
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-framework/src/methods/when.ts
  sources/@roots/bud-framework/src/types/services/extensions/index.ts
  sources/@roots/bud-framework/src/types/services/server/service.ts
  sources/@roots/bud-postcss/package.json
  sources/@roots/bud-postcss/src/extension.ts
  sources/@roots/bud-postcss/src/types.ts
  sources/@roots/bud-preset-wordpress/package.json
  sources/@roots/bud-preset-wordpress/src/extension.ts
  sources/@roots/bud-preset-wordpress/src/types.ts
  sources/@roots/bud-server/src/service/index.ts
  sources/@roots/bud-stylelint/src/extension.ts
  sources/@roots/bud-support/src/decorators/deprecated.ts
  sources/@roots/bud/package.json
  sources/@roots/bud/src/types.ts
  sources/@roots/sage/package.json
  sources/@roots/sage/src/acorn-v2-public-path/extension.ts
  sources/@roots/sage/src/acorn-v2-public-path/index.ts
  sources/@roots/sage/src/acorn/extension.test.ts
  sources/@roots/sage/src/acorn/extension.ts
  sources/@roots/sage/src/acorn/hooks/event.compiler.done.ts
  sources/@roots/sage/src/acorn/index.ts
  sources/@roots/sage/src/sage/extension.ts
  sources/@roots/sage/src/types/index.ts
  sources/@roots/sage/test/acorn/extension.test.ts
  sources/@roots/sage/test/sage/extension.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-esbuild, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-extensions, @roots/bud-server, @roots/bud-criticalcss, @roots/bud-entrypoints, @roots/bud-eslint, @roots/bud-stylelint, @roots/bud-support, @roots/sage, test, @roots/bud-compress, @roots/bud-preset-wordpress, yarn, 🚀!, config

#2178 📕 docs: bud.define
  sources/@repo/docs/content/docs/bud.assets/index.mdx
  sources/@repo/docs/content/docs/bud.compilePaths/index.mdx
  sources/@repo/docs/content/docs/bud.config/index.mdx
  sources/@repo/docs/content/docs/bud.copyDir/index.mdx
  sources/@repo/docs/content/docs/bud.copyFile/index.mdx
  sources/@repo/docs/content/docs/bud.define/index.mdx
  sources/@repo/docs/content/docs/bud.entry/index.mdx
  sources/@repo/docs/content/docs/bud.fs/index.mdx
  sources/@roots/bud-api/README.md
  sources/@roots/bud-api/docs/01-api.md
  sources/@roots/bud-api/docs/config/overview.md
  sources/@roots/bud-api/docs/define/overview.md
  sources/@roots/bud-api/docs/define/usage.md
  sources/@roots/bud-api/src/methods/define/__snapshots__/define.test.ts.snap
  sources/@roots/bud-api/src/methods/define/define.test.ts
  sources/@roots/bud-eslint/README.md
  sources/@roots/bud-extensions/src/extensions/interpolate-html-webpack-plugin/index.ts
  sources/@roots/bud-extensions/src/extensions/interpolate-html-webpack-plugin/plugin/index.ts
  sources/@roots/bud-extensions/src/extensions/webpack-define-plugin/index.ts
  sources/@roots/bud-terser/README.md
  sources/@roots/bud-terser/docs/config.md
  sources/@roots/bud-terser/docs/overview.md
  sources/@roots/bud/test/cli-flag-filter/filter-flag.test.ts
Labels: @roots/bud, @roots/bud-api, @roots/bud-extensions, docs, @roots/bud-eslint, @roots/bud-terser, test, internal, 🚀!

#2179 🩹 fix(cli): ink static renderer
  sources/@roots/bud-dashboard/src/service.tsx
  sources/@roots/bud-framework/src/types/services/dashboard/index.ts
  sources/@roots/bud/package.json
  sources/@roots/bud/src/cli/app.ts
  sources/@roots/bud/src/cli/commands/bud.clean.tsx
  sources/@roots/bud/src/cli/commands/bud.tsx
  sources/@roots/bud/src/cli/commands/bud.view.tsx
  sources/@roots/bud/src/cli/commands/doctor/Doctor.tsx
  sources/@roots/bud/src/cli/commands/doctor/index.tsx
  sources/@roots/bud/src/cli/commands/repl/Repl.tsx
  sources/@roots/bud/src/cli/commands/repl/index.tsx
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-dashboard, 🚀!

#2190 ✨ improve(@roots/bud-tailwindcss): define `bud.tailwind.theme`
  sources/@roots/bud-tailwindcss/src/extension/index.ts
Labels: @roots/bud-tailwindcss, 🚀!

#2191 ✨ improve(@roots/bud-eslint): eslint plugin v4
  sources/@roots/bud-api/src/api/service.ts
  sources/@roots/bud-build/src/handlers/rules/yml.ts
  sources/@roots/bud-build/src/rule/index.ts
  sources/@roots/bud-build/src/service.ts
  sources/@roots/bud-cache/src/service/index.ts
  sources/@roots/bud-cache/test/invalidate-cache.test.ts
  sources/@roots/bud-eslint/docs/01-configuration.md
  sources/@roots/bud-eslint/package.json
  sources/@roots/bud-eslint/src/cache-fix/extension.ts
  sources/@roots/bud-eslint/src/cache-fix/index.ts
  sources/@roots/bud-eslint/src/extension.ts
  sources/@roots/bud-eslint/src/types.ts
  sources/@roots/bud-extensions/src/service/index.ts
  sources/@roots/bud-framework/src/bud.ts
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-framework/src/lifecycle/bootstrap.test.ts
  sources/@roots/bud-framework/src/lifecycle/bootstrap.ts
  sources/@roots/bud-framework/src/methods/after/after.ts
  sources/@roots/bud-framework/src/module.ts
  sources/@roots/bud-hooks/src/base/base.ts
  sources/@roots/bud-hooks/src/event/event.ts
  sources/@roots/bud-support/src/utilities/logger.ts
  sources/@roots/bud/src/services/project/project.ts
  sources/@roots/filesystem/src/yml.ts
  tests/util/project/package.json
  tests/util/project/src/scripts/app.js
  tests/util/project/src/scripts/components/App.js
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-extensions, @roots/bud-build, @roots/bud-cache, docs, @roots/bud-eslint, @roots/bud-hooks, @roots/bud-support, @roots/filesystem, test, 🚀!

#2194 ✨ improve: move `.budfiles` to os cache directory
  sources/@repo/docs/content/docs/bud.path.mdx
  sources/@repo/docs/content/guides/configure/paths.mdx
  sources/@repo/docs/content/guides/general-use/remote-sources.mdx
  sources/@repo/docs/src/components/cli-output/build.development.help.md
  sources/@repo/docs/src/components/cli-output/build.help.md
  sources/@repo/docs/src/components/cli-output/build.production.help.md
  sources/@repo/docs/src/components/cli-output/clean.help.md
  sources/@repo/docs/src/components/cli-output/dev.help.md
  sources/@repo/docs/src/components/cli-output/doctor.help.md
  sources/@repo/docs/src/components/cli-output/help.md
  sources/@repo/docs/src/components/cli-output/repl.help.md
  sources/@repo/docs/src/components/cli-output/upgrade.help.md
  sources/@repo/docs/src/components/cli-output/view.help.md
  sources/@roots/bud-build/src/config/index.test.ts
  sources/@roots/bud-build/src/config/recordsPath.ts
  sources/@roots/bud-build/src/config/snapshot.ts
  sources/@roots/bud-cache/src/invalidate-cache/index.ts
  sources/@roots/bud-cache/src/service/index.ts
  sources/@roots/bud-eslint/README.md
  sources/@roots/bud-extensions/src/extensions/cdn/index.ts
  sources/@roots/bud-framework/src/bud.ts
  sources/@roots/bud-framework/src/lifecycle/bootstrap.ts
  sources/@roots/bud-framework/src/lifecycle/init.ts
  sources/@roots/bud-framework/src/module.ts
  sources/@roots/bud-framework/src/types/options/context.ts
  sources/@roots/bud-framework/src/types/registry/locations.ts
  sources/@roots/bud-support/package.json
  sources/@roots/bud-support/src/utilities/env.ts
  sources/@roots/bud-support/src/utilities/files.ts
  sources/@roots/bud-support/src/utilities/filesystem.ts
  sources/@roots/bud-support/src/utilities/paths.ts
  sources/@roots/bud-support/src/which-pm/index.ts
  sources/@roots/bud-terser/README.md
  sources/@roots/bud-typescript/README.md
  sources/@roots/bud/src/cli/commands/bud.build.tsx
  sources/@roots/bud/src/cli/commands/bud.clean.tsx
  sources/@roots/bud/src/cli/commands/bud.tsx
  sources/@roots/bud/src/cli/commands/doctor/index.tsx
  sources/@roots/bud/src/services/project/project.ts
  tests/integration/sage.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-extensions, @roots/bud-build, @roots/bud-cache, docs, @roots/bud-eslint, @roots/bud-support, @roots/bud-terser, @roots/bud-typescript, test, internal, 🚀!

#2203 ✨ improve storage dx
  sources/@repo/docs/content/docs/bud.path.mdx
  sources/@roots/bud-build/src/config/recordsPath.ts
  sources/@roots/bud-cache/src/service/index.ts
  sources/@roots/bud-dashboard/src/app/error.tsx
  sources/@roots/bud-extensions/src/extensions/cdn/index.ts
  sources/@roots/bud-framework/src/configuration/configuration.ts
  sources/@roots/bud-framework/src/configuration/index.ts
  sources/@roots/bud-framework/src/lifecycle/bootstrap.ts
  sources/@roots/bud-framework/src/lifecycle/init.ts
  sources/@roots/bud-framework/src/methods/setPath/setPath.ts
  sources/@roots/bud-framework/src/module.ts
  sources/@roots/bud-support/src/utilities/env.ts
  sources/@roots/bud-support/src/utilities/files.ts
  sources/@roots/bud-support/src/utilities/logger.ts
  sources/@roots/bud-support/src/utilities/paths.ts
  sources/@roots/bud/src/services/project/project.ts
  tests/util/project/config/bud.config.ts
Labels: @roots/bud-framework, @roots/bud, @roots/bud-dashboard, @roots/bud-extensions, @roots/bud-build, @roots/bud-cache, docs, @roots/bud-support, internal, 🚀!

#2201 docs: `bud-vue` update syntax for `runtimeOnly`
  sources/@roots/bud-vue/README.md
Labels: 🚀!

#2200 docs: `bud-tailwindcss` - fix tailwind website URL
  sources/@repo/docs/content/extensions/bud-tailwindcss.mdx
Labels: docs, internal, 🚀!

#2204 🚗 improve: configuration performance
  sources/@repo/markdown-kit/cli-examples/index.ts
  sources/@repo/markdown-kit/contributors/index.js
  sources/@roots/bud-api/src/methods/html/index.test.ts
  sources/@roots/bud-api/src/methods/html/index.ts
  sources/@roots/bud-eslint/src/extension.ts
  sources/@roots/bud-framework/src/methods/setPath/setPath.ts
  sources/@roots/bud-support/src/utilities/files.ts
  sources/@roots/bud-support/src/utilities/paths.ts
  sources/@roots/bud-tailwindcss/src/bud/commands/tailwindcss/index.tsx
  sources/@roots/bud-tailwindcss/src/extension/index.ts
  tests/util/project/.gitignore
  tests/util/project/config/bud.config.ts
Labels: @roots/bud-framework, @roots/bud-api, @roots/bud-eslint, @roots/bud-support, @roots/bud-tailwindcss, test, internal, 🚀!, config
