Repository roots/bud, pull requests merged in 2023-02, with the labels that each got.

#2075 ✨ feat(@roots/bud-vue): support typescript
  examples/vue-typescript/package.json
  examples/vue-typescript/src/App.vue
  examples/vue-typescript/src/components/TodoList.vue
  examples/vue-typescript/src/index.ts
  examples/vue-typescript/src/variables.scss
  examples/vue-typescript/tsconfig.json
  examples/vue-typescript/types/index.d.ts
  sources/@repo/docs/content/extensions/bud-imagemin/index.mdx
  sources/@repo/docs/content/extensions/bud-vue.mdx
  sources/@repo/docs/content/extensions/bud-vue/index.mdx
  sources/@roots/bud-criticalcss/src/index.ts
  sources/@roots/bud-criticalcss/test/__fixtures__/.gitignore
  sources/@roots/bud-criticalcss/test/__fixtures__/extract-func/bud.config.js
  sources/@roots/bud-criticalcss/test/__fixtures__/extract-func/package.json
  sources/@roots/bud-criticalcss/test/__fixtures__/extract-func/src/index.css
  sources/@roots/bud-criticalcss/test/__fixtures__/extract/bud.config.js
  sources/@roots/bud-criticalcss/test/__fixtures__/extract/package.json
  sources/@roots/bud-criticalcss/test/__fixtures__/extract/src/index.css
  sources/@roots/bud-criticalcss/test/__fixtures__/no-extract/bud.config.js
  sources/@roots/bud-criticalcss/test/__fixtures__/no-extract/package.json
  sources/@roots/bud-criticalcss/test/__fixtures__/no-extract/src/index.css
  sources/@roots/bud-criticalcss/test/__snapshots__/extension.test.ts.snap
  sources/@roots/bud-criticalcss/test/extension.test.ts
  sources/@roots/bud-extensions/src/extensions/mini-css-extract-plugin/index.ts
  sources/@roots/bud-typescript/README.md
  sources/@roots/bud-typescript/docs/01-config.mdx
  sources/@roots/bud-vue/README.md
  sources/@roots/bud-vue/docs/01-usage.md
  sources/@roots/bud-vue/docs/02-language-support.md
  sources/@roots/bud-vue/docs/03-legacy-support.md
  sources/@roots/bud-vue/package.json
  sources/@roots/bud-vue/src/extension.test.ts
  sources/@roots/bud-vue/src/extension.ts
  sources/@roots/bud-vue/src/types.ts
  storage/package.json
  storage/yarn.lock
  tests/integration/__snapshots__/vue-typescript.test.ts.snap
  tests/integration/vue-typescript.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-extensions, examples, docs, @roots/bud-criticalcss, @roots/bud-typescript, test, internal, 🚀!, config

#2078 ✨ improve(@roots/bud): options api
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-typescript/src/extension.ts
  sources/@roots/bud-typescript/src/typecheck/extension.test.ts
  sources/@roots/bud-vue/src/extension.test.ts
  sources/@roots/bud-vue/src/extension.ts
Labels: @roots/bud-framework, @roots/bud-typescript, test, 🚀!

#2082 🩹 fix: @examples/vue-typescript
  sources/@roots/bud-build/src/config/module.ts
  sources/@roots/bud-build/src/rule/index.ts
  sources/@roots/bud-sass/src/extension.ts
  sources/@roots/bud-sass/src/resolve-url/extension.ts
  sources/@roots/bud-sass/test/extension.test.ts
  sources/@roots/bud-vue/src/extension.ts
  sources/@roots/bud/src/context/index.test.ts
  tests/integration/__snapshots__/vue-typescript.test.ts.snap
  tests/integration/vue-typescript.test.ts
Labels: @roots/bud, @roots/bud-build, @roots/bud-sass, test, 🚀!

#2083 ✨ feat(@roots/bud): bud.compilePaths
  sources/@repo/docs/content/docs/bud.compileSources/index.mdx
  sources/@roots/bud-api/README.md
  sources/@roots/bud-api/docs/01-api.md
  sources/@roots/bud-api/docs/compilePaths/overview.md
  sources/@roots/bud-api/docs/compilePaths/usage.md
  sources/@roots/bud-api/src/api/__snapshots__/service.test.ts.snap
  sources/@roots/bud-api/src/methods/compilePaths/compilePaths.method.ts
  sources/@roots/bud-api/src/methods/compilePaths/compilePaths.types.ts
  sources/@roots/bud-api/src/methods/compilePaths/index.ts
  sources/@roots/bud-api/src/methods/index.ts
  sources/@roots/bud-api/src/repository.ts
  sources/@roots/bud-build/src/service.ts
  sources/@roots/bud-framework/src/types/services/build/index.ts
Labels: @roots/bud-framework, @roots/bud-api, @roots/bud-build, docs, internal, 🚀!

#2087 📕 docs: Update readme sponsors section
  README.md
  sources/@repo/markdown-kit/readme/partials/sponsors.md
  sources/@roots/blade-loader/README.md
  sources/@roots/browserslist-config/README.md
  sources/@roots/bud-api/README.md
  sources/@roots/bud-babel/README.md
  sources/@roots/bud-build/README.md
  sources/@roots/bud-cache/README.md
  sources/@roots/bud-client/README.md
  sources/@roots/bud-compiler/README.md
  sources/@roots/bud-compress/README.md
  sources/@roots/bud-criticalcss/README.md
  sources/@roots/bud-dashboard/README.md
  sources/@roots/bud-emotion/README.md
  sources/@roots/bud-entrypoints/README.md
  sources/@roots/bud-esbuild/README.md
  sources/@roots/bud-eslint/README.md
  sources/@roots/bud-extensions/README.md
  sources/@roots/bud-framework/README.md
  sources/@roots/bud-hooks/README.md
  sources/@roots/bud-imagemin/README.md
  sources/@roots/bud-mdx/README.md
  sources/@roots/bud-postcss/README.md
  sources/@roots/bud-preset-recommend/README.md
  sources/@roots/bud-preset-wordpress/README.md
  sources/@roots/bud-prettier/README.md
  sources/@roots/bud-purgecss/README.md
  sources/@roots/bud-react/README.md
  sources/@roots/bud-sass/README.md
  sources/@roots/bud-server/README.md
  sources/@roots/bud-solid/README.md
  sources/@roots/bud-stylelint/README.md
  sources/@roots/bud-support/README.md
  sources/@roots/bud-swc/README.md
  sources/@roots/bud-tailwindcss-theme-json/README.md
  sources/@roots/bud-tailwindcss/README.md
  sources/@roots/bud-terser/README.md
  sources/@roots/bud-typescript/README.md
  sources/@roots/bud-vue/README.md
  sources/@roots/bud-wordpress-dependencies/README.md
  sources/@roots/bud-wordpress-externals/README.md
  sources/@roots/bud-wordpress-manifests/README.md
  sources/@roots/bud-wordpress-theme-json/README.md
  sources/@roots/bud/README.md
  sources/@roots/container/README.md
  sources/@roots/critical-css-webpack-plugin/README.md
  sources/@roots/dependencies/README.md
  sources/@roots/entrypoints-webpack-plugin/README.md
  sources/@roots/eslint-config/README.md
  sources/@roots/filesystem/README.md
  sources/@roots/merged-manifest-webpack-plugin/README.md
  sources/@roots/sage/README.md
  sources/@roots/wordpress-dependencies-webpack-plugin/README.md
  sources/@roots/wordpress-externals-webpack-plugin/README.md
  sources/@roots/wordpress-hmr/README.md
  sources/@roots/wordpress-theme-json-webpack-plugin/README.md
Labels: @roots/bud-esbuild, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-extensions, @roots/bud-build, @roots/bud-cache, @roots/bud-compiler, @roots/bud-server, @roots/bud-babel, @roots/bud-preset-recommend, @roots/bud-react, @roots/entrypoints-webpack-plugin, @roots/merged-manifest-webpack-plugin, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, @roots/bud-criticalcss, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-eslint, @roots/bud-hooks, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-sass, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/filesystem, @roots/sage, @roots/bud-solid, @roots/bud-compress, @roots/bud-preset-wordpress, internal, 🚀!, @roots/bud-client, @roots/wordpress-hmr, @roots/browserslist-config, @roots/bud-swc, @roots/eslint-config

#2091 📕 docs: update docs
  sources/@repo/docs/_redirects
  sources/@repo/docs/config/docusaurus.theme.cjs
  sources/@repo/docs/content/docs/bud.compilePaths/index.mdx
  sources/@repo/docs/content/guides/general-use/compiler-sources.mdx
  sources/@repo/docs/content/guides/general-use/transpiler-sources.mdx
  sources/@repo/docs/content/guides/index.mdx
  sources/@repo/docs/sidebars/guides.js
Labels: docs, internal, 🚀!

#2089 🩹 fix(@roots/bud-swc): tree shaking
  sources/@roots/bud-swc/src/extension/index.test.ts
  sources/@roots/bud-swc/src/extension/index.ts
  tests/integration/__snapshots__/remote-sources.test.ts.snap
  tests/integration/remote-sources.test.ts
  tests/reproductions/issue-2088.test.ts
  tests/reproductions/issue-2088/bud.config.mjs
  tests/reproductions/issue-2088/package.json
  tests/reproductions/issue-2088/src/index.ts
  tests/reproductions/issue-2088/tsconfig.json
  yarn.lock
Labels: dependencies, test, 🚀!, config, @roots/bud-swc

#2086 🔧 fix: normalize paths
  sources/@roots/bud-api/src/methods/assets/index.ts
  sources/@roots/bud-api/src/methods/bundle/index.ts
  sources/@roots/bud-api/src/methods/runtime/index.ts
  sources/@roots/bud-api/src/methods/splitChunks/index.ts
  sources/@roots/bud-framework/src/methods/setPath/setPath.ts
  sources/@roots/bud-framework/src/methods/setPublicPath.ts
  sources/@roots/bud-vue/src/extension.ts
  sources/@roots/critical-css-webpack-plugin/src/plugin.ts
Labels: @roots/bud-framework, @roots/bud-api, @roots/critical-css-webpack-plugin, 🚀!

#2092 🔧 improve(@roots/bud-compress): general improvements
  sources/@roots/bud-compress/package.json
  sources/@roots/bud-compress/src/brotli.test.ts
  sources/@roots/bud-compress/src/brotli.ts
  sources/@roots/bud-compress/src/extension.test.ts
  sources/@roots/bud-compress/src/extension.ts
  sources/@roots/bud-compress/src/gzip.test.ts
  sources/@roots/bud-compress/src/gzip.ts
  sources/@roots/bud-compress/src/index.ts
  sources/@roots/bud-compress/src/types.ts
Labels: dependencies, test, @roots/bud-compress, 🚀!

#2098 ✨ improve(@roots/bud-sass)
  sources/@roots/bud-sass/src/extension.ts
  sources/@roots/bud-sass/src/resolve-url/extension.ts
  sources/@roots/bud-sass/test/extension.test.ts
Labels: @roots/bud-sass, test, 🚀!

#2099 ✨ improve(@roots/bud-eslint): deprecate bud.eslint.fix
  examples/eslint/bud.config.cjs
  examples/eslint/src/app.js
  sources/@roots/bud-eslint/package.json
  sources/@roots/bud-eslint/src/bud/commands/bud.eslint.command.tsx
  sources/@roots/bud-eslint/src/extension.ts
  sources/@roots/bud-eslint/src/index.ts
  sources/@roots/bud-eslint/src/types.ts
  yarn.lock
Labels: dependencies, examples, @roots/bud-eslint, 🚀!

#2084 🔧 improve(@roots/bud-typescript): general improvements
  sources/@roots/bud-typescript/src/extension.ts
  sources/@roots/bud-typescript/src/index.ts
  sources/@roots/bud-vue/src/extension.test.ts
  sources/@roots/bud-vue/src/extension.ts
  sources/@roots/bud-vue/src/types.ts
Labels: @roots/bud-typescript, test, 🚀!

#2108 🩹 fix(@roots/bud-emotion): dependency hoisting
  examples/emotion/package.json
  sources/@roots/bud-build/src/config/optimization.ts
  sources/@roots/bud-emotion/package.json
  sources/@roots/bud-emotion/test/dependencies.test.ts
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-framework/src/types/registry/build.ts
  sources/@roots/bud-support/src/terser-webpack-plugin/index.ts
  sources/@roots/bud-swc/README.md
  sources/@roots/bud-swc/docs/01-configuration.md
  sources/@roots/bud-swc/docs/02-typechecking.md
  sources/@roots/bud-swc/src/extension/index.ts
  sources/@roots/bud-terser/src/css-minimizer/extension.ts
  sources/@roots/bud-terser/src/extension.test.ts
  sources/@roots/bud-terser/src/extension.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud-build, examples, docs, @roots/bud-emotion, @roots/bud-support, @roots/bud-terser, test, 🚀!, @roots/bud-swc

#2115 🩹 fix: swc minify callback
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-support/src/terser-webpack-plugin/index.ts
  sources/@roots/bud-terser/src/extension.ts
Labels: @roots/bud-framework, @roots/bud-support, @roots/bud-terser, 🚀!

#2117 🩹 fix(@roots/bud-swc): #2116
  sources/@roots/bud-swc/src/extension/index.ts
  sources/@roots/bud-swc/src/types/index.ts
  tests/reproductions/issue-2116.test.ts
  tests/reproductions/issue-2116/package.json
  tests/reproductions/issue-2116/src/index.js
  tests/reproductions/issue-2116/src/test.js
  tests/reproductions/issue-2116/tsconfig.json
  yarn.lock
Labels: dependencies, 🚀!, config, @roots/bud-swc

#2118 ✨ improve(@roots/bud): safer postinstall scripts
  sources/@roots/browserslist-config/scripts/postinstall.mjs
  sources/@roots/bud-framework/scripts/postinstall.mjs
Labels: @roots/bud-framework, 🚀!, @roots/browserslist-config

#2119 Revert "🩹 fix(@roots/bud-swc): #2116"
  sources/@roots/bud-swc/src/extension/index.ts
  sources/@roots/bud-swc/src/types/index.ts
  tests/reproductions/issue-2116.test.ts
  tests/reproductions/issue-2116/package.json
  tests/reproductions/issue-2116/src/index.js
  tests/reproductions/issue-2116/src/test.js
  tests/reproductions/issue-2116/tsconfig.json
  yarn.lock
Labels: dependencies, 🚀!, config, @roots/bud-swc

#2121 🩹 fix: bud.run
  sources/@roots/bud-framework/src/methods/run.ts
Labels: @roots/bud-framework, 🚀!

#2124 🩹 fix(@roots/bud): fix mixed magic paths
  sources/@roots/bud-framework/src/methods/path/path.test.ts
  sources/@roots/bud-framework/src/methods/path/path.ts
Labels: @roots/bud-framework, test, 🚀!

#2125 ✨ improve(@roots/bud): add bud.copyFile and bud.copyDir
  sources/@roots/bud-api/src/api/__snapshots__/service.test.ts.snap
  sources/@roots/bud-api/src/methods/assets/index.test.ts
  sources/@roots/bud-api/src/methods/assets/index.ts
  sources/@roots/bud-api/src/methods/copyDir/index.test.ts
  sources/@roots/bud-api/src/methods/copyDir/index.ts
  sources/@roots/bud-api/src/methods/copyFile/index.test.ts
  sources/@roots/bud-api/src/methods/copyFile/index.ts
  sources/@roots/bud-api/src/methods/index.ts
  sources/@roots/bud-api/src/repository.ts
  sources/@roots/bud-dashboard/src/dashboard/chunk/asset.component.tsx
  sources/@roots/bud-dashboard/src/dashboard/compilation/compilation.component.tsx
Labels: @roots/bud-api, @roots/bud-dashboard, test, 🚀!

#2128 ✨ improve(@roots/bud): 📕 docs, ✨ bud.copyFile/bud.copyDir
  sources/@repo/docs/content/docs/bud.assets.mdx
  sources/@repo/docs/content/docs/bud.assets/index.mdx
  sources/@repo/docs/content/docs/bud.copyDir/index.mdx
  sources/@repo/docs/content/docs/bud.copyFile/index.mdx
  sources/@roots/bud-api/README.md
  sources/@roots/bud-api/docs/01-api.md
  sources/@roots/bud-api/docs/assets/overview.md
  sources/@roots/bud-api/docs/assets/usage.md
  sources/@roots/bud-api/docs/copyDir/overview.md
  sources/@roots/bud-api/docs/copyDir/usage.md
  sources/@roots/bud-api/docs/copyFile/overview.md
  sources/@roots/bud-api/docs/copyFile/usage.md
  sources/@roots/bud-api/src/methods/assets/index.test.ts
  sources/@roots/bud-api/src/methods/assets/index.ts
  sources/@roots/bud-api/src/methods/copyDir/index.test.ts
  sources/@roots/bud-api/src/methods/copyDir/index.ts
  sources/@roots/bud-api/src/methods/copyFile/index.test.ts
  sources/@roots/bud-api/src/methods/copyFile/index.ts
  sources/@roots/bud-api/src/methods/hash/index.ts
  sources/@roots/bud-api/src/methods/html/index.test.ts
  sources/@roots/bud-build/src/config/output/assetModuleFilename.ts
  sources/@roots/bud-build/src/config/output/filename.ts
  sources/@roots/bud-build/src/config/output/index.ts
  sources/@roots/bud-dashboard/src/dashboard/chunk/asset.component.tsx
  sources/@roots/bud-dashboard/src/dashboard/compilation/compilation.component.tsx
  sources/@roots/bud-dashboard/src/dashboard/console/log.tsx
  sources/@roots/bud-dashboard/src/dashboard/display/space.component.tsx
  sources/@roots/bud-dashboard/src/dashboard/display/title.component.tsx
  sources/@roots/bud-dashboard/src/dashboard/format.ts
  sources/@roots/bud-dashboard/src/dashboard/input.tsx
  sources/@roots/bud-dashboard/src/dashboard/server/index.tsx
  sources/@roots/bud-extensions/src/extensions/mini-css-extract-plugin/index.ts
  sources/@roots/bud-framework/src/bud.ts
  sources/@roots/bud-framework/src/configuration/configuration.ts
  sources/@roots/bud-framework/src/configuration/index.ts
  sources/@roots/bud-framework/src/methods/path/path.test.ts
  sources/@roots/bud-framework/src/methods/path/path.ts
  sources/@roots/bud-framework/src/methods/relPath.ts
  sources/@roots/bud-framework/src/services/console.ts
  sources/@roots/bud-framework/src/types/services/logger/index.ts
  sources/@roots/bud-solid/README.md
  sources/@roots/bud-swc/src/extension/index.ts
  sources/@roots/bud/src/cli/commands/bud.tsx
  sources/@roots/bud/src/logger/index.ts
  tests/util/project/bud.config.mjs
  tests/util/project/src/fonts/test.otf
Labels: @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-extensions, @roots/bud-build, docs, test, @roots/bud-solid, internal, 🚀!, @roots/bud-swc
