Repository roots/bud, pull requests merged in 2023-09, with the labels that each got.

#2428 ⚙️ internal(none): fix rc versioning
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/release.ts
Labels: internal, 🚀!

#2430 ⚙️ internal(none): update contributors
  contributors.yml
  sources/@roots/blade-loader/contributors.yml
  sources/@roots/browserslist-config/contributors.yml
  sources/@roots/bud-api/contributors.yml
  sources/@roots/bud-babel/contributors.yml
  sources/@roots/bud-build/contributors.yml
  sources/@roots/bud-cache/contributors.yml
  sources/@roots/bud-client/contributors.yml
  sources/@roots/bud-compiler/contributors.yml
  sources/@roots/bud-compress/contributors.yml
  sources/@roots/bud-criticalcss/contributors.yml
  sources/@roots/bud-dashboard/contributors.yml
  sources/@roots/bud-emotion/contributors.yml
  sources/@roots/bud-entrypoints/contributors.yml
  sources/@roots/bud-esbuild/contributors.yml
  sources/@roots/bud-eslint/contributors.yml
  sources/@roots/bud-extensions/contributors.yml
  sources/@roots/bud-framework/contributors.yml
  sources/@roots/bud-hooks/contributors.yml
  sources/@roots/bud-imagemin/contributors.yml
  sources/@roots/bud-mdx/contributors.yml
  sources/@roots/bud-minify/contributors.yml
  sources/@roots/bud-postcss/contributors.yml
  sources/@roots/bud-preset-recommend/contributors.yml
  sources/@roots/bud-preset-wordpress/contributors.yml
  sources/@roots/bud-prettier/contributors.yml
  sources/@roots/bud-purgecss/contributors.yml
  sources/@roots/bud-react/contributors.yml
  sources/@roots/bud-sass/contributors.yml
  sources/@roots/bud-server/contributors.yml
  sources/@roots/bud-solid/contributors.yml
  sources/@roots/bud-stylelint/contributors.yml
  sources/@roots/bud-support/contributors.yml
  sources/@roots/bud-swc/contributors.yml
  sources/@roots/bud-tailwindcss-theme-json/contributors.yml
  sources/@roots/bud-tailwindcss-theme-json/package.json
  sources/@roots/bud-tailwindcss/contributors.yml
  sources/@roots/bud-typescript/contributors.yml
  sources/@roots/bud-vue/contributors.yml
  sources/@roots/bud-wordpress-dependencies/contributors.yml
  sources/@roots/bud-wordpress-externals/contributors.yml
  sources/@roots/bud-wordpress-theme-json/contributors.yml
  sources/@roots/bud/contributors.yml
  sources/@roots/container/contributors.yml
  sources/@roots/critical-css-webpack-plugin/contributors.yml
  sources/@roots/dependencies/contributors.yml
  sources/@roots/entrypoints-webpack-plugin/contributors.yml
  sources/@roots/eslint-config/contributors.yml
  sources/@roots/filesystem/contributors.yml
  sources/@roots/sage/contributors.yml
  sources/@roots/wordpress-dependencies-webpack-plugin/contributors.yml
  sources/@roots/wordpress-externals-webpack-plugin/contributors.yml
  sources/@roots/wordpress-hmr/contributors.yml
  sources/@roots/wordpress-hmr/package.json
  sources/@roots/wordpress-theme-json-webpack-plugin/contributors.yml
  sources/@roots/wordpress-transforms/contributors.yml
Labels: dependencies, 🚀!, @roots/eslint-config

#2431 🩹 fix(patch): revert server port check
  sources/@roots/bud-server/src/server/base.ts
Labels: @roots/bud-server, 🚀!

#2429 ⚙️ internal(none): fix nightly action
  .github/workflows/release-nightly.yml
Labels: CI, 🚀!

#2432 ✨ improve(patch): improve yarn berry and pnpm support
  config/eslint.config.cjs
  config/vitest/config.e2e.ts
  config/vitest/config.integration.ts
  config/vitest/config.unit.ts
  package.json
  sources/@repo/docs/src/theme/BlogTagsPostsPage/index.js
  sources/@roots/bud-cache/src/service.ts
  sources/@roots/bud-client/src/hot/components/indicator/indicator.component.ts
  sources/@roots/bud-client/src/hot/components/overlay/overlay.component.ts
  sources/@roots/bud-client/src/hot/events.ts
  sources/@roots/bud-compiler/src/service/index.tsx
  sources/@roots/bud-eslint/src/api.ts
  sources/@roots/bud-eslint/src/bud/commands/bud.eslint.command.tsx
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-prettier/src/bud/commands/bud.prettier.command.tsx
  sources/@roots/bud-server/src/server/base.ts
  sources/@roots/bud-stylelint/src/api.ts
  sources/@roots/bud-stylelint/src/bud/commands/bud.stylelint.command.tsx
  sources/@roots/bud-support/src/errors/index.ts
  sources/@roots/bud-support/src/value/index.ts
  sources/@roots/bud-support/src/which-pm/index.ts
  sources/@roots/bud-tailwindcss/src/bud/commands/tailwindcss/index.tsx
  sources/@roots/bud-typescript/src/bud/commands/bud.ts.check.command.tsx
  sources/@roots/bud-typescript/src/bud/commands/bud.ts.command.tsx
  sources/@roots/bud/src/cli/app.tsx
  sources/@roots/bud/src/cli/commands/build/index.tsx
  sources/@roots/bud/src/cli/commands/build/production/index.tsx
  sources/@roots/bud/src/cli/commands/clean/index.tsx
  sources/@roots/bud/src/cli/commands/doctor/index.tsx
  sources/@roots/bud/src/cli/commands/index.tsx
  sources/@roots/bud/src/cli/commands/repl/index.tsx
  sources/@roots/bud/src/cli/commands/upgrade/index.tsx
  sources/@roots/bud/src/cli/commands/view/index.tsx
  sources/@roots/bud/src/cli/commands/webpack/index.tsx
  sources/@roots/entrypoints-webpack-plugin/src/plugin.ts
  sources/@roots/wordpress-theme-json-webpack-plugin/src/plugin.ts
  sources/create-bud-app/src/commands/create.ts
  sources/create-bud-app/src/flags/package-manager.ts
  sources/create-bud-app/src/flags/support.ts
  sources/create-bud-app/src/prompts/packageManager.ts
  sources/create-bud-app/src/tasks/build.ts
  sources/create-bud-app/src/tasks/install.dev.ts
  sources/create-bud-app/src/tasks/install.prod.ts
  sources/create-bud-app/src/tasks/write.bud.config.ts
  sources/create-bud-app/src/tasks/write.eslintrc.ts
  sources/create-bud-app/src/tasks/write.readme.ts
  sources/create-bud-app/src/tasks/write.tsconfig.ts
  sources/create-bud-app/src/tasks/write.types.ts
  sources/create-bud-app/src/tasks/write.yarn.lock.ts
  sources/create-bud-app/src/tasks/write.yarnrc.ts
  sources/create-bud-app/src/tasks/yarn-version.ts
  sources/create-bud-app/templates/.eslintrc.cjs.hbs
  sources/create-bud-app/templates/.yarnrc.yml.hbs
  sources/create-bud-app/templates/README.md.hbs
  sources/create-bud-app/templates/tsconfig.json.hbs
  sources/create-bud-app/templates/types.d.hbs
  tests/reproductions/issue-1886.test.ts
  tests/reproductions/issue-1890.test.ts
  tests/reproductions/issue-2088.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-cache, docs, @roots/bud-compiler, @roots/bud-server, @roots/entrypoints-webpack-plugin, @roots/bud-eslint, @roots/bud-prettier, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-typescript, internal, 🚀!, @roots/bud-client, config, @roots/wordpress-theme-json-webpack-plugin

#2433 🩹 fix(patch): fix bud menu selection
  sources/@roots/bud/src/cli/components/Menu.tsx
Labels: @roots/bud, 🚀!

#2437 📁 types(patch): fix @roots/bud-framework type exports
  sources/@roots/bud-framework/package.json
  yarn.lock
Labels: dependencies, 🚀!

#2438 🩹 fix(patch): fix `bud upgrade`
  sources/@roots/bud/src/cli/commands/upgrade/index.tsx
Labels: @roots/bud, 🚀!

#2442 📁 types(patch): improve typings (@roots/bud-react)
  sources/@roots/bud-react/package.json
  sources/@roots/bud-react/src/babel-refresh/extension.ts
  sources/@roots/bud-react/src/babel-refresh/index.ts
  sources/@roots/bud-react/src/extension/extension.ts
  sources/@roots/bud-react/src/extension/index.ts
  sources/@roots/bud-react/src/index.ts
  sources/@roots/bud-react/src/react-refresh/extension.ts
  sources/@roots/bud-react/src/react-refresh/index.ts
  sources/@roots/bud-react/src/types.ts
  sources/@roots/bud-react/src/typescript-refresh/extension.ts
  sources/@roots/bud-react/src/typescript-refresh/index.ts
  sources/@roots/bud-react/test/babel-refresh/extension.test.ts
  sources/@roots/bud-react/test/extension.test.ts
  sources/@roots/bud-react/test/extension/extension.test.ts
  sources/@roots/bud-react/test/react-refresh/extension.test.ts
  sources/@roots/bud-react/test/swc-refresh/extension.test.ts
  sources/@roots/bud-react/test/typescript-refresh/extension.test.ts
Labels: dependencies, @roots/bud-react, test, 🚀!

#2445 📕 docs(none): add community extensions to README.md
  README.md
  sources/@repo/markdown-kit/readme/partials/what.md
  sources/@repo/markdown-kit/readme/templates/root.md
  sources/@roots/wordpress-hmr/README.md
Labels: internal, 🚀!

#2446 🩹 fix(patch): create-bud-app readme template link update
  sources/create-bud-app/templates/README.md.hbs
Labels: 🚀!

#2447 📕 docs(none): fix community extensions URL in README.md
  README.md
  sources/@repo/markdown-kit/readme/templates/root.md
Labels: internal, 🚀!

#2450 🧹 chore: Update sponsors
  README.md
  config/monorepo.config.cjs
  sources/@roots/blade-loader/README.md
  sources/@roots/browserslist-config/README.md
  sources/@roots/bud-api/README.md
  sources/@roots/bud-babel/README.md
  sources/@roots/bud-build/README.md
  sources/@roots/bud-cache/README.md
  sources/@roots/bud-client/README.md
  sources/@roots/bud-compiler/README.md
  sources/@roots/bud-compress/README.md
  sources/@roots/bud-criticalcss/README.md
  sources/@roots/bud-dashboard/README.md
  sources/@roots/bud-emotion/README.md
  sources/@roots/bud-entrypoints/README.md
  sources/@roots/bud-esbuild/README.md
  sources/@roots/bud-eslint/README.md
  sources/@roots/bud-extensions/README.md
  sources/@roots/bud-framework/README.md
  sources/@roots/bud-hooks/README.md
  sources/@roots/bud-imagemin/README.md
  sources/@roots/bud-mdx/README.md
  sources/@roots/bud-minify/README.md
  sources/@roots/bud-postcss/README.md
  sources/@roots/bud-preset-recommend/README.md
  sources/@roots/bud-preset-wordpress/README.md
  sources/@roots/bud-prettier/README.md
  sources/@roots/bud-purgecss/README.md
  sources/@roots/bud-react/README.md
  sources/@roots/bud-sass/README.md
  sources/@roots/bud-server/README.md
  sources/@roots/bud-solid/README.md
  sources/@roots/bud-stylelint/README.md
  sources/@roots/bud-support/README.md
  sources/@roots/bud-swc/README.md
  sources/@roots/bud-tailwindcss-theme-json/README.md
  sources/@roots/bud-tailwindcss/README.md
  sources/@roots/bud-typescript/README.md
  sources/@roots/bud-vue/README.md
  sources/@roots/bud-wordpress-dependencies/README.md
  sources/@roots/bud-wordpress-externals/README.md
  sources/@roots/bud-wordpress-theme-json/README.md
  sources/@roots/bud/README.md
  sources/@roots/container/README.md
  sources/@roots/critical-css-webpack-plugin/README.md
  sources/@roots/dependencies/README.md
  sources/@roots/entrypoints-webpack-plugin/README.md
  sources/@roots/eslint-config/README.md
  sources/@roots/filesystem/README.md
  sources/@roots/sage/README.md
  sources/@roots/wordpress-dependencies-webpack-plugin/README.md
  sources/@roots/wordpress-externals-webpack-plugin/README.md
  sources/@roots/wordpress-hmr/README.md
  sources/@roots/wordpress-theme-json-webpack-plugin/README.md
  sources/@roots/wordpress-transforms/README.md
Labels: 🚀!, config, @roots/eslint-config

#2451 ✨ improve(patch): prevent duplicate entrypoint imports
  sources/@roots/bud-build/src/config/entry.ts
Labels: @roots/bud-build, 🚀!

#2453 ✨ improve(patch): better organize server service
  sources/@roots/bud-server/src/service/index.ts
Labels: @roots/bud-server, 🚀!

#2452 ✨ improve(patch): cleanup doctor command
  sources/@roots/bud/src/cli/commands/doctor/index.tsx
Labels: @roots/bud, 🚀!

#2448 ✨ improve(patch): upgradeable community extensions
  sources/@repo/markdown-kit/readme/templates/root.md
  sources/@roots/bud-support/package.json
  sources/@roots/bud-support/src/semver/index.ts
  sources/@roots/bud/src/cli/commands/build/index.tsx
  sources/@roots/bud/src/cli/commands/index.tsx
  sources/@roots/bud/src/cli/commands/upgrade/index.tsx
  yarn.lock
Labels: dependencies, @roots/bud, @roots/bud-support, internal, 🚀!

#2457 ✨ improve(patch): improve @roots/bud-solid exports map
  sources/@roots/bud-solid/package.json
  sources/@roots/bud-solid/src/extension.ts
  sources/@roots/bud-solid/src/index.ts
  sources/@roots/bud-solid/src/types.ts
  sources/@roots/bud-solid/test/extension.test.ts
Labels: dependencies, test, @roots/bud-solid, 🚀!

#2443 ✨ improve(minor): reasonable defaults for purgecss (@roots/bud-purgecss)
  examples/purgecss/bud.config.js
  examples/purgecss/bud.config.ts
  examples/purgecss/src/index.css
  examples/purgecss/src/index.html
  examples/purgecss/src/index.js
  examples/purgecss/tsconfig.json
  sources/@roots/bud-postcss/src/extension/index.ts
  sources/@roots/bud-postcss/src/extension/options.ts
  sources/@roots/bud-purgecss/package.json
  sources/@roots/bud-purgecss/src/api.ts
  sources/@roots/bud-purgecss/src/extension.ts
  sources/@roots/bud-purgecss/src/extension/base.ts
  sources/@roots/bud-purgecss/src/extension/index.ts
  sources/@roots/bud-purgecss/src/extension/model.ts
  sources/@roots/bud-purgecss/src/facade/index.ts
  sources/@roots/bud-purgecss/src/index.ts
  sources/@roots/bud-purgecss/test/extension.test.ts
  sources/@roots/bud-purgecss/tsconfig.json
  tests/integration/purgecss.test.ts
  yarn.lock
Labels: dependencies, examples, @roots/bud-postcss, @roots/bud-purgecss, test, 🚀!, config

#2458 ✨ improve(patch): improve @roots/bud-esbuild exports map
  examples/esbuild/bud.config.js
  examples/esbuild/src/app.js
  sources/@roots/bud-esbuild/package.json
  sources/@roots/bud-esbuild/src/extension/index.ts
  sources/@roots/bud-esbuild/src/index.ts
  sources/@roots/bud-esbuild/src/types.ts
  sources/@roots/bud-esbuild/test/extension.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-esbuild, examples, test, 🚀!

#2460 docs: `--target` becomes `--filter`
  README.md
  sources/@repo/docs/content/learn/general-use/multi-instance.mdx
Labels: docs, internal, 🚀!

#2462 📕 docs(none): improve root README.md
  README.md
  sources/@repo/markdown-kit/readme/templates/root.md
Labels: internal, 🚀!

#2464 ✨ improve(patch): bud upgrade
  package.json
  sources/@roots/bud-support/src/which-pm/basedir.ts
  sources/@roots/bud-support/src/which-pm/file.ts
  sources/@roots/bud-support/src/which-pm/index.ts
  sources/@roots/bud-support/src/which-pm/manifest.ts
  sources/@roots/bud-support/src/which-pm/pmString.ts
  sources/@roots/bud/src/cli/commands/index.tsx
  sources/@roots/bud/src/cli/commands/upgrade/index.tsx
Labels: dependencies, @roots/bud, @roots/bud-support, 🚀!
