Repository roots/bud, pull requests merged in 2023-12, with the labels that each got.

#2506 📕 docs(none): add `ConfigExample` component
  sources/@repo/docs/config/index.cjs
  sources/@repo/docs/content/extensions/bud-babel.mdx
  sources/@repo/docs/content/extensions/bud-criticalcss.mdx
  sources/@repo/docs/content/extensions/bud-emotion.mdx
  sources/@repo/docs/content/extensions/bud-entrypoints.mdx
  sources/@repo/docs/content/extensions/bud-esbuild.mdx
  sources/@repo/docs/content/extensions/bud-eslint.mdx
  sources/@repo/docs/content/extensions/bud-imagemin/index.mdx
  sources/@repo/docs/content/extensions/bud-postcss.mdx
  sources/@repo/docs/content/extensions/bud-preset-recommend.mdx
  sources/@repo/docs/content/extensions/bud-preset-wordpress/index.mdx
  sources/@repo/docs/content/extensions/bud-purgecss.mdx
  sources/@repo/docs/content/extensions/bud-react.mdx
  sources/@repo/docs/content/extensions/bud-sass.mdx
  sources/@repo/docs/content/extensions/bud-solid.mdx
  sources/@repo/docs/content/extensions/bud-stylelint.mdx
  sources/@repo/docs/content/extensions/bud-swc.mdx
  sources/@repo/docs/content/extensions/bud-tailwindcss.mdx
  sources/@repo/docs/content/extensions/bud-typescript.mdx
  sources/@repo/docs/content/extensions/bud-vue/index.mdx
  sources/@repo/docs/content/extensions/sage/index.mdx
  sources/@repo/docs/content/learn/config/assets.mdx
  sources/@repo/docs/content/learn/config/entrypoints.mdx
  sources/@repo/docs/content/learn/config/files/bud.config.mdx
  sources/@repo/docs/content/learn/config/files/env.mdx
  sources/@repo/docs/content/learn/config/optimization.mdx
  sources/@repo/docs/content/learn/config/paths.mdx
  sources/@repo/docs/content/learn/config/server.mdx
  sources/@repo/docs/content/learn/extending/index.mdx
  sources/@repo/docs/content/learn/extending/lifecycle.mdx
  sources/@repo/docs/content/learn/extending/packaging.mdx
  sources/@repo/docs/content/learn/general-use/compiler-sources.mdx
  sources/@repo/docs/content/learn/getting-started/adding-emotion.mdx
  sources/@repo/docs/content/learn/getting-started/adding-eslint.mdx
  sources/@repo/docs/content/learn/getting-started/adding-react.mdx
  sources/@repo/docs/content/learn/getting-started/adding-stylelint.mdx
  sources/@repo/docs/content/learn/getting-started/adding-vue.mdx
  sources/@repo/docs/content/learn/getting-started/adding-wordpress-support.mdx
  sources/@repo/docs/content/learn/getting-started/index.mdx
  sources/@repo/docs/content/learn/modules/css-modules.mdx
  sources/@repo/docs/content/learn/modules/js-modules.mdx
  sources/@repo/docs/content/reference/bud.bundle.mdx
  sources/@repo/docs/content/reference/bud.devtool.mdx
  sources/@repo/docs/content/reference/bud.relPath.mdx
  sources/@repo/docs/content/reference/bud.use.mdx
  sources/@repo/docs/content/reference/bud.when.mdx
  sources/@repo/docs/src/components/example.jsx
  sources/@repo/docs/src/components/multi-language.jsx
  sources/@roots/bud-api/docs/entry/globbing.md
  sources/@roots/bud-eslint/README.md
  sources/@roots/bud-eslint/docs/01-configuration.md
  sources/@roots/bud-stylelint/README.md
  sources/@roots/bud-stylelint/docs/03-usage.md
  sources/@roots/bud-tailwindcss/README.md
  sources/@roots/bud-tailwindcss/docs/01-configuration.md
Labels: docs, internal, 🚀!

#2509 ✨ improve(patch): improve @roots/bud-vue
  examples/vue-3/src/index.js
  examples/vue-legacy/bud.config.js
  examples/vue-legacy/tsconfig.json
  sources/@repo/docs/static/bud.package.json
  sources/@repo/test-kit/integration-test.ts
  sources/@roots/bud-api/test/devtool.test.ts
  sources/@roots/bud-build/src/config/entry.ts
  sources/@roots/bud-build/src/config/module.ts
  sources/@roots/bud-build/src/config/resolve.ts
  sources/@roots/bud-build/src/config/resolveLoader.ts
  sources/@roots/bud-build/src/index.ts
  sources/@roots/bud-build/test/config.test.ts
  sources/@roots/bud-cache/src/service.ts
  sources/@roots/bud-cache/test/service.test.ts
  sources/@roots/bud-extensions/package.json
  sources/@roots/bud-extensions/src/import-map/index.ts
  sources/@roots/bud-extensions/src/index.ts
  sources/@roots/bud-extensions/src/service/index.ts
  sources/@roots/bud-extensions/src/webpack-profile-plugin/index.ts
  sources/@roots/bud-extensions/test/service/__snapshots__/index.test.ts.snap
  sources/@roots/bud-extensions/test/service/index.test.ts
  sources/@roots/bud-framework/package.json
  sources/@roots/bud-framework/src/bootstrap.ts
  sources/@roots/bud-framework/src/env/index.ts
  sources/@roots/bud-framework/src/registry/build.ts
  sources/@roots/bud-framework/src/service.ts
  sources/@roots/bud-preset-recommend/src/extension.ts
  sources/@roots/bud-server/src/service/index.ts
  sources/@roots/bud-support/src/filesystem/index.ts
  sources/@roots/bud-support/src/utilities/paths.ts
  sources/@roots/bud-vue/src/extension.test.ts
  sources/@roots/bud-vue/src/extension.ts
  sources/@roots/bud/src/bud/index.ts
  sources/@roots/bud/src/cli/commands/build/index.tsx
  sources/@roots/bud/src/cli/commands/index.tsx
  sources/@roots/bud/src/cli/helpers/override.ts
  sources/@roots/bud/src/context/extensions.ts
  sources/@roots/bud/src/context/index.ts
  tests/integration/__snapshots__/vue-legacy.test.ts.snap
  tests/integration/babel.test.ts
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-extensions, @roots/bud-build, @roots/bud-cache, examples, docs, @roots/bud-server, @roots/bud-preset-recommend, @roots/bud-vue, @roots/bud-support, test, internal, 🚀!, config

#2512 🧹 chore: Update sponsors
  README.md
  config/monorepo.config.cjs
  sources/@roots/blade-loader/README.md
  sources/@roots/browserslist-config/README.md
  sources/@roots/bud-api/README.md
  sources/@roots/bud-babel/README.md
  sources/@roots/bud-build/README.md
  sources/@roots/bud-cache/README.md
  sources/@roots/bud-client/README.md
  sources/@roots/bud-compiler/README.md
  sources/@roots/bud-compress/README.md
  sources/@roots/bud-criticalcss/README.md
  sources/@roots/bud-dashboard/README.md
  sources/@roots/bud-emotion/README.md
  sources/@roots/bud-entrypoints/README.md
  sources/@roots/bud-esbuild/README.md
  sources/@roots/bud-eslint/README.md
  sources/@roots/bud-extensions/README.md
  sources/@roots/bud-framework/README.md
  sources/@roots/bud-hooks/README.md
  sources/@roots/bud-imagemin/README.md
  sources/@roots/bud-mdx/README.md
  sources/@roots/bud-minify/README.md
  sources/@roots/bud-postcss/README.md
  sources/@roots/bud-preset-recommend/README.md
  sources/@roots/bud-preset-wordpress/README.md
  sources/@roots/bud-prettier/README.md
  sources/@roots/bud-purgecss/README.md
  sources/@roots/bud-react/README.md
  sources/@roots/bud-sass/README.md
  sources/@roots/bud-server/README.md
  sources/@roots/bud-solid/README.md
  sources/@roots/bud-stylelint/README.md
  sources/@roots/bud-support/README.md
  sources/@roots/bud-swc/README.md
  sources/@roots/bud-tailwindcss-theme-json/README.md
  sources/@roots/bud-tailwindcss/README.md
  sources/@roots/bud-typescript/README.md
  sources/@roots/bud-vue/README.md
  sources/@roots/bud-wordpress-dependencies/README.md
  sources/@roots/bud-wordpress-externals/README.md
  sources/@roots/bud-wordpress-theme-json/README.md
  sources/@roots/bud/README.md
  sources/@roots/container/README.md
  sources/@roots/critical-css-webpack-plugin/README.md
  sources/@roots/dependencies/README.md
  sources/@roots/entrypoints-webpack-plugin/README.md
  sources/@roots/eslint-config/README.md
  sources/@roots/filesystem/README.md
  sources/@roots/sage/README.md
  sources/@roots/wordpress-dependencies-webpack-plugin/README.md
  sources/@roots/wordpress-externals-webpack-plugin/README.md
  sources/@roots/wordpress-hmr/README.md
  sources/@roots/wordpress-theme-json-webpack-plugin/README.md
  sources/@roots/wordpress-transforms/README.md
Labels: 🚀!, config, @roots/eslint-config

#2515 ✨ improve(patch): improve webpack plugin api
  examples/splide/package.json
  examples/webpack-plugin/WebpackPlugin.js
  examples/webpack-plugin/bud.config.ts
  sources/@repo/test-kit/integration-test.ts
  sources/@roots/bud-api/src/methods/use/index.ts
  sources/@roots/bud-build/src/config/resolveLoader.ts
  sources/@roots/bud-extensions/src/service/index.ts
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-framework/src/project.ts
  sources/@roots/bud-framework/src/registry/modules.ts
  sources/@roots/bud-framework/src/services/extensions/index.ts
  sources/@roots/bud-support/src/filesystem/index.ts
  sources/@roots/bud-support/src/ink/index.ts
  sources/@roots/bud/src/cli/commands/config/displayConfigFiles.tsx
  sources/@roots/bud/src/cli/commands/doctor/children.tsx
  sources/@roots/bud/src/cli/commands/doctor/extensions.tsx
  sources/@roots/bud/src/cli/commands/doctor/index.tsx
  sources/@roots/bud/src/cli/commands/doctor/server.tsx
  sources/@roots/bud/src/cli/commands/doctor/versions.tsx
  sources/@roots/bud/src/cli/commands/env/displayEnv.tsx
  sources/@roots/bud/src/cli/components/LabelBox.tsx
  sources/@roots/critical-css-webpack-plugin/src/index.ts
  sources/@roots/critical-css-webpack-plugin/src/plugin.ts
  tests/integration/sage.test.ts
  tests/integration/webpack-plugin.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-extensions, @roots/bud-build, examples, @roots/bud-support, @roots/critical-css-webpack-plugin, internal, 🚀!

#2513 🧹 chore(none): update contributors
  contributors.yml
  examples/vue-3/tsconfig.json
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@roots/blade-loader/contributors.yml
  sources/@roots/browserslist-config/contributors.yml
  sources/@roots/bud-api/contributors.yml
  sources/@roots/bud-babel/contributors.yml
  sources/@roots/bud-build/contributors.yml
  sources/@roots/bud-cache/contributors.yml
  sources/@roots/bud-client/contributors.yml
  sources/@roots/bud-compiler/contributors.yml
  sources/@roots/bud-compress/contributors.yml
  sources/@roots/bud-criticalcss/contributors.yml
  sources/@roots/bud-dashboard/contributors.yml
  sources/@roots/bud-emotion/contributors.yml
  sources/@roots/bud-entrypoints/contributors.yml
  sources/@roots/bud-esbuild/contributors.yml
  sources/@roots/bud-eslint/contributors.yml
  sources/@roots/bud-extensions/contributors.yml
  sources/@roots/bud-framework/contributors.yml
  sources/@roots/bud-hooks/contributors.yml
  sources/@roots/bud-imagemin/contributors.yml
  sources/@roots/bud-mdx/contributors.yml
  sources/@roots/bud-minify/contributors.yml
  sources/@roots/bud-postcss/contributors.yml
  sources/@roots/bud-preset-recommend/contributors.yml
  sources/@roots/bud-preset-wordpress/contributors.yml
  sources/@roots/bud-prettier/contributors.yml
  sources/@roots/bud-purgecss/contributors.yml
  sources/@roots/bud-react/contributors.yml
  sources/@roots/bud-sass/contributors.yml
  sources/@roots/bud-server/contributors.yml
  sources/@roots/bud-solid/contributors.yml
  sources/@roots/bud-stylelint/contributors.yml
  sources/@roots/bud-support/contributors.yml
  sources/@roots/bud-swc/contributors.yml
  sources/@roots/bud-tailwindcss-theme-json/contributors.yml
  sources/@roots/bud-tailwindcss/contributors.yml
  sources/@roots/bud-typescript/contributors.yml
  sources/@roots/bud-vue/contributors.yml
  sources/@roots/bud-wordpress-dependencies/contributors.yml
  sources/@roots/bud-wordpress-externals/contributors.yml
  sources/@roots/bud-wordpress-theme-json/contributors.yml
  sources/@roots/bud/contributors.yml
  sources/@roots/container/contributors.yml
  sources/@roots/critical-css-webpack-plugin/contributors.yml
  sources/@roots/dependencies/contributors.yml
  sources/@roots/entrypoints-webpack-plugin/contributors.yml
  sources/@roots/eslint-config/contributors.yml
  sources/@roots/eslint-config/package.json
  sources/@roots/filesystem/contributors.yml
  sources/@roots/sage/contributors.yml
  sources/@roots/wordpress-dependencies-webpack-plugin/contributors.yml
  sources/@roots/wordpress-externals-webpack-plugin/contributors.yml
  sources/@roots/wordpress-hmr/contributors.yml
  sources/@roots/wordpress-theme-json-webpack-plugin/contributors.yml
  sources/@roots/wordpress-transforms/contributors.yml
Labels: dependencies, examples, internal, 🚀!, config, @roots/eslint-config

#2516 🩹 fix(patch): fix expanded env overrides
  .devcontainer/devcontainer.json
  .docker/chrome.dockerfile
  .vscode/settings.json
  .yarnrc.yml
  config/vitest/config.e2e.ts
  config/vitest/config.integration.ts
  config/vitest/config.shared.ts
  config/vitest/config.unit.ts
  config/vitest/reporters.ts
  sources/@repo/test-kit/integration-test.ts
  sources/@roots/bud-support/src/utilities/args.ts
  sources/@roots/bud-support/src/utilities/env.ts
  sources/@roots/bud/src/cli/commands/build/development/index.tsx
  sources/@roots/bud/src/cli/commands/build/production/index.tsx
  sources/@roots/bud/src/context/extensions.ts
  sources/@roots/bud/src/factory/index.ts
  sources/@roots/bud/src/index.ts
  tests/e2e/__snapshots__/babel.test.ts.snap
  tests/e2e/babel.test.ts
  tests/e2e/basic.test.ts
  tests/e2e/helpers/index.ts
  tests/e2e/react.test.ts
  tests/e2e/swc.test.ts
  tests/e2e/util/copy.ts
  tests/e2e/util/install.ts
  tests/e2e/watch.test.ts
  tests/integration/critical-css.test.ts
  tests/integration/css-module.test.ts
  tests/integration/sage.test.ts
Labels: @roots/bud, @roots/bud-support, yarn, internal, 🚀!, config, docker

#2517 🧹 chore: Update sponsors
  README.md
  config/monorepo.config.cjs
  sources/@roots/blade-loader/README.md
  sources/@roots/browserslist-config/README.md
  sources/@roots/bud-api/README.md
  sources/@roots/bud-babel/README.md
  sources/@roots/bud-build/README.md
  sources/@roots/bud-cache/README.md
  sources/@roots/bud-client/README.md
  sources/@roots/bud-compiler/README.md
  sources/@roots/bud-compress/README.md
  sources/@roots/bud-criticalcss/README.md
  sources/@roots/bud-dashboard/README.md
  sources/@roots/bud-emotion/README.md
  sources/@roots/bud-entrypoints/README.md
  sources/@roots/bud-esbuild/README.md
  sources/@roots/bud-eslint/README.md
  sources/@roots/bud-extensions/README.md
  sources/@roots/bud-framework/README.md
  sources/@roots/bud-hooks/README.md
  sources/@roots/bud-imagemin/README.md
  sources/@roots/bud-mdx/README.md
  sources/@roots/bud-minify/README.md
  sources/@roots/bud-postcss/README.md
  sources/@roots/bud-preset-recommend/README.md
  sources/@roots/bud-preset-wordpress/README.md
  sources/@roots/bud-prettier/README.md
  sources/@roots/bud-purgecss/README.md
  sources/@roots/bud-react/README.md
  sources/@roots/bud-sass/README.md
  sources/@roots/bud-server/README.md
  sources/@roots/bud-solid/README.md
  sources/@roots/bud-stylelint/README.md
  sources/@roots/bud-support/README.md
  sources/@roots/bud-swc/README.md
  sources/@roots/bud-tailwindcss-theme-json/README.md
  sources/@roots/bud-tailwindcss/README.md
  sources/@roots/bud-typescript/README.md
  sources/@roots/bud-vue/README.md
  sources/@roots/bud-wordpress-dependencies/README.md
  sources/@roots/bud-wordpress-externals/README.md
  sources/@roots/bud-wordpress-theme-json/README.md
  sources/@roots/bud/README.md
  sources/@roots/container/README.md
  sources/@roots/critical-css-webpack-plugin/README.md
  sources/@roots/dependencies/README.md
  sources/@roots/entrypoints-webpack-plugin/README.md
  sources/@roots/eslint-config/README.md
  sources/@roots/filesystem/README.md
  sources/@roots/sage/README.md
  sources/@roots/wordpress-dependencies-webpack-plugin/README.md
  sources/@roots/wordpress-externals-webpack-plugin/README.md
  sources/@roots/wordpress-hmr/README.md
  sources/@roots/wordpress-theme-json-webpack-plugin/README.md
  sources/@roots/wordpress-transforms/README.md
Labels: 🚀!, config, @roots/eslint-config

#2520 🧹 chore(none): add simple git commit-msg hook
  .github/hooks/commit-msg
  .github/hooks/pre-commit
  .github/workflows/release-main.yml
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/hooks/afterAllInstalled.ts
Labels: CI, internal, 🚀!

#2524 🩹 fix(patch): fix module cache invalidation
  sources/@roots/bud-framework/src/bootstrap.ts
  sources/@roots/bud-framework/src/module.ts
  sources/@roots/bud-framework/test/module.test.ts
  sources/@roots/bud-support/src/import-meta-resolve/index.ts
  sources/@roots/bud-support/src/utilities/paths.ts
Labels: @roots/bud-framework, @roots/bud-support, test, 🚀!

#2525 🩹 fix(none): fix commit-msg git hook
  .github/hooks/commit-msg
  .github/hooks/pre-commit
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/git.commit-msg.ts
  sources/@repo/yarn-plugin-bud/sources/command/index.ts
  sources/@roots/bud-framework/src/module.ts
Labels: CI, @roots/bud-framework, internal, 🚀!

#2521 📦 deps(none): upgrade docusaurus to v3
  sources/@repo/docs/config/docusaurus.theme.cjs
  sources/@repo/docs/generated/releases/.gitkeep
  sources/@repo/docs/package.json
  sources/@repo/markdown-kit/releases/data.ts
  sources/@repo/markdown-kit/releases/index.ts
  sources/@roots/filesystem/package.json
  yarn.lock
Labels: dependencies, docs, internal, 🚀!

#2526 📕 docs(none): docusaurus@v3 codeblock compatibility
  sources/@repo/docs/content/learn/config/paths.mdx
  sources/@repo/docs/package.json
  sources/@repo/docs/src/components/example.jsx
  yarn.lock
Labels: dependencies, docs, internal, 🚀!

#2527 📦 deps(none): patch @yarnpkg/builder@npm:4.0.0
  .yarn/patches/@yarnpkg-builder-npm-4.0.0-1be968e10e.patch
  .yarn/patches/@yarnpkg-builder-npm-4.0.0-rc.49-3bed67fd94.patch
  .yarn/patches/@yarnpkg-builder-npm-4.0.0-rc.51-a6d8b2b637.patch
  package.json
  sources/@repo/yarn-plugin-bud/package.json
  sources/@repo/yarn-plugin-package/package.json
  yarn.lock
Labels: dependencies, yarn, internal, 🚀!, config

#2532 📦 deps(patch): downgrade globby to v13
  sources/@repo/markdown-kit/package.json
  sources/@repo/test-kit/package.json
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/package.json
  sources/@roots/bud-support/package.json
  sources/@roots/filesystem/package.json
  yarn.lock
Labels: dependencies, internal, 🚀!

#2530 🩹 fix(patch): WordPress module reload failures
  sources/@roots/bud-preset-wordpress/src/extension.ts
  sources/@roots/bud-preset-wordpress/src/index.ts
  sources/@roots/bud-react/src/extension/index.ts
  sources/@roots/bud-wordpress-theme-json/src/extension.ts
  sources/@roots/bud-wordpress-theme-json/src/index.ts
  sources/@roots/wordpress-dependencies-webpack-plugin/src/plugin.ts
  sources/@roots/wordpress-externals-webpack-plugin/src/plugin.ts
  sources/@roots/wordpress-theme-json-webpack-plugin/src/index.ts
  sources/@roots/wordpress-theme-json-webpack-plugin/src/plugin.ts
  tests/reproductions/issue-2126/theme.json
Labels: @roots/bud-react, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, @roots/bud-preset-wordpress, 🚀!, @roots/bud-wordpress-theme-json, @roots/wordpress-theme-json-webpack-plugin

#2528 ✨ feat(patch): add theme.spacing support to theme.json generator
  examples/sage/bud.config.js
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/git.commit-msg.ts
  sources/@roots/bud-tailwindcss-theme-json/src/extension.ts
  sources/@roots/bud-tailwindcss-theme-json/src/tailwind/index.ts
  sources/@roots/bud-tailwindcss-theme-json/src/tailwind/spacing.ts
  sources/@roots/bud-tailwindcss/src/extension/options.ts
  sources/@roots/bud-tailwindcss/test/extension/__snapshots__/index.test.ts.snap
  sources/@roots/bud-wordpress-theme-json/README.md
  sources/@roots/bud-wordpress-theme-json/docs/01-managing-theme-json.md
  sources/@roots/bud-wordpress-theme-json/src/extension.ts
  tests/integration/sage.test.ts
Labels: examples, docs, @roots/bud-tailwindcss, internal, 🚀!, @roots/bud-tailwindcss-theme-json, @roots/bud-wordpress-theme-json
