Repository roots/bud, pull requests merged in 2023-01, with the labels that each got.

#1976 🩹 fix: `server is not a constructor`
  sources/@roots/bud-server/src/server/https.ts
  sources/@roots/bud-support/package.json
  yarn.lock
Labels: dependencies, @roots/bud-server, @roots/bud-support, 🚀!

#1985 fix: ensure process exit code is set on compilation error
  sources/@roots/bud-compiler/src/compiler.service.ts
  sources/@roots/bud-compiler/src/compiler.test.ts
  sources/@roots/bud/src/cli/commands/bud.build.tsx
  sources/@roots/bud/src/cli/commands/bud.tsx
  sources/@roots/bud/src/notifier/notifier.ts
  tests/reproductions/issue-1955.test.ts
  tests/reproductions/issue-1986.test.ts
  tests/reproductions/issue-1986/.gitignore
  tests/reproductions/issue-1986/bud.config.mjs
  tests/reproductions/issue-1986/package.json
  tests/reproductions/issue-1986/src/scripts/app.js
  tests/reproductions/issue-1986/src/styles/app.css
  tests/reproductions/issue-1986/tsconfig.json
  yarn.lock
Labels: dependencies, @roots/bud, @roots/bud-compiler, test, 🚀!, config

#1983 🩹 fix(@roots/sage): serve options including hostname
  sources/@roots/bud-server/src/middleware/proxy/factory.ts
  sources/@roots/bud-server/src/middleware/proxy/handler/requestInterceptor.ts
  sources/@roots/bud-server/src/middleware/proxy/index.ts
  sources/@roots/bud-server/src/middleware/proxy/middleware.test.ts
  sources/@roots/bud-server/src/middleware/proxy/responseInterceptor.ts
Labels: @roots/bud-server, test, 🚀!

#1991 📦 lockfix
  yarn.lock
Labels: dependencies, 🚀!

#1993 🔧 Update sponsors
  README.md
  config/monorepo.config.cjs
  sources/@roots/browserslist-config/README.md
  sources/@roots/bud-api/README.md
  sources/@roots/bud-babel/README.md
  sources/@roots/bud-build/README.md
  sources/@roots/bud-cache/README.md
  sources/@roots/bud-client/README.md
  sources/@roots/bud-compiler/README.md
  sources/@roots/bud-compress/README.md
  sources/@roots/bud-criticalcss/README.md
  sources/@roots/bud-dashboard/README.md
  sources/@roots/bud-emotion/README.md
  sources/@roots/bud-entrypoints/README.md
  sources/@roots/bud-esbuild/README.md
  sources/@roots/bud-eslint/README.md
  sources/@roots/bud-extensions/README.md
  sources/@roots/bud-framework/README.md
  sources/@roots/bud-hooks/README.md
  sources/@roots/bud-imagemin/README.md
  sources/@roots/bud-mdx/README.md
  sources/@roots/bud-postcss/README.md
  sources/@roots/bud-preset-recommend/README.md
  sources/@roots/bud-preset-wordpress/README.md
  sources/@roots/bud-prettier/README.md
  sources/@roots/bud-purgecss/README.md
  sources/@roots/bud-react/README.md
  sources/@roots/bud-sass/README.md
  sources/@roots/bud-server/README.md
  sources/@roots/bud-solid/README.md
  sources/@roots/bud-stylelint/README.md
  sources/@roots/bud-support/README.md
  sources/@roots/bud-swc/README.md
  sources/@roots/bud-tailwindcss-theme-json/README.md
  sources/@roots/bud-tailwindcss/README.md
  sources/@roots/bud-terser/README.md
  sources/@roots/bud-typescript/README.md
  sources/@roots/bud-vue/README.md
  sources/@roots/bud-wordpress-dependencies/README.md
  sources/@roots/bud-wordpress-externals/README.md
  sources/@roots/bud-wordpress-manifests/README.md
  sources/@roots/bud-wordpress-theme-json/README.md
  sources/@roots/bud/README.md
  sources/@roots/container/README.md
  sources/@roots/critical-css-webpack-plugin/README.md
  sources/@roots/dependencies/README.md
  sources/@roots/entrypoints-webpack-plugin/README.md
  sources/@roots/eslint-config/README.md
  sources/@roots/filesystem/README.md
  sources/@roots/merged-manifest-webpack-plugin/README.md
  sources/@roots/sage/README.md
  sources/@roots/wordpress-dependencies-webpack-plugin/README.md
  sources/@roots/wordpress-externals-webpack-plugin/README.md
  sources/@roots/wordpress-hmr/README.md
  sources/@roots/wordpress-theme-json-webpack-plugin/README.md
Labels: @roots/bud-esbuild, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-extensions, @roots/bud-build, @roots/bud-cache, @roots/bud-compiler, @roots/bud-server, @roots/bud-babel, @roots/bud-preset-recommend, @roots/bud-react, @roots/entrypoints-webpack-plugin, @roots/merged-manifest-webpack-plugin, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, @roots/bud-criticalcss, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-eslint, @roots/bud-hooks, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-sass, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/filesystem, @roots/sage, @roots/bud-solid, @roots/bud-compress, @roots/bud-preset-wordpress, 🚀!, @roots/bud-client, @roots/wordpress-hmr, config, @roots/browserslist-config, @roots/bud-swc, @roots/eslint-config

#1992 🩹 fix: --filter arg
  .gitignore
  package.json
  sources/@roots/bud/src/cli/commands/bud.tsx
  sources/@roots/bud/test/cli-flag-filter/filter-flag.test.ts
  sources/@roots/bud/test/cli-flag-filter/project/bud.config.js
  sources/@roots/bud/test/cli-flag-filter/project/package.json
  sources/@roots/bud/test/cli-flag-filter/project/project-a/src/index.js
  sources/@roots/bud/test/cli-flag-filter/project/project-b/src/index.js
  yarn.lock
Labels: dependencies, @roots/bud, test, 🚀!, config

#1998 📁 types: improve @roots/bud-swc
  sources/@roots/bud-swc/package.json
  sources/@roots/bud-swc/src/extension/index.ts
  sources/@roots/bud-swc/src/index.ts
  sources/@roots/bud-swc/src/types/index.ts
Labels: dependencies, 🚀!, @roots/bud-swc

#2009 🔧 dev: add vscode launch.json for debugging
  .vscode/launch.json
Labels: 🚀!, config

#2010 ✨ improve(@roots/bud-build): allow adding raw webpack rules
  sources/@repo/docs/content/guides/general-use/customizing-loaders.mdx
  sources/@roots/bud-build/src/config/module.ts
  sources/@roots/bud-build/src/rule/index.ts
Labels: @roots/bud-build, docs, internal, 🚀!

#2008 🩹 fix: --cwd flag
  sources/@roots/bud-tailwindcss/src/extension/index.test.ts
  sources/@roots/bud-tailwindcss/src/extension/index.ts
  sources/@roots/bud-tailwindcss/test/implementation.test.ts
  sources/@roots/bud-tailwindcss/test/implementation/package.json
  sources/@roots/bud-tailwindcss/test/implementation/src/index.css
  sources/@roots/bud-tailwindcss/test/implementation/src/index.html
  sources/@roots/bud-tailwindcss/test/implementation/tailwind.config.cjs
  sources/@roots/bud/src/cli/commands/bud.tsx
  sources/@roots/bud/src/context/argv.ts
  sources/@roots/bud/src/context/index.ts
  sources/@roots/bud/src/factory/factory.ts
  yarn.lock
Labels: dependencies, @roots/bud, @roots/bud-tailwindcss, test, 🚀!

#2023 🩹 fix(@roots/wordpress-hmr): duplicative block registrations
  sources/@roots/bud-esbuild/src/extension.test.ts
  sources/@roots/entrypoints-webpack-plugin/package.json
  sources/@roots/entrypoints-webpack-plugin/src/webpack.plugin.ts
  sources/@roots/filesystem/package.json
  sources/@roots/filesystem/src/filesystem.ts
  sources/@roots/filesystem/src/s3/index.ts
  sources/@roots/wordpress-externals-webpack-plugin/package.json
  sources/@roots/wordpress-externals-webpack-plugin/src/externals.ts
  sources/@roots/wordpress-hmr/package.json
  sources/@roots/wordpress-hmr/src/block.ts
  sources/@roots/wordpress-hmr/src/cache.ts
  sources/@roots/wordpress-hmr/src/editor.ts
  yarn.lock
Labels: dependencies, @roots/bud-esbuild, @roots/entrypoints-webpack-plugin, @roots/wordpress-externals-webpack-plugin, @roots/filesystem, test, 🚀!, @roots/wordpress-hmr

#2007 ✨ feat: process .blade.php with @roots/blade-loader
  config/tsconfig.json
  sources/@repo/docs/content/extensions/sage/blade-assets.mdx
  sources/@repo/docs/content/extensions/sage/eslint.mdx
  sources/@repo/docs/content/extensions/sage/index.mdx
  sources/@repo/docs/content/extensions/sage/sass.mdx
  sources/@repo/docs/content/extensions/sage/stylelint.mdx
  sources/@repo/docs/content/extensions/sage/theme.json.mdx
  sources/@roots/blade-loader/README.md
  sources/@roots/blade-loader/package.json
  sources/@roots/blade-loader/src/loader.cts
  sources/@roots/blade-loader/src/plugin.ts
  sources/@roots/blade-loader/test/index.blade.php
  sources/@roots/blade-loader/test/index.js
  sources/@roots/blade-loader/test/index.test.ts
  sources/@roots/blade-loader/test/loader-test.jpg
  sources/@roots/blade-loader/tsconfig.json
  sources/@roots/bud-wordpress-theme-json/README.md
  sources/@roots/bud-wordpress-theme-json/docs/01-managing-theme-json.md
  sources/@roots/sage/README.md
  sources/@roots/sage/docs/01-included-extensions.md
  sources/@roots/sage/docs/02-included-extensions.md
  sources/@roots/sage/docs/02-using-with-eslint.md
  sources/@roots/sage/docs/03-using-with-stylelint.md
  sources/@roots/sage/docs/04-using-with-sass.md
  sources/@roots/sage/docs/05-blade-assets.md
  sources/@roots/sage/package.json
  sources/@roots/sage/src/blade-loader/extension.test.ts
  sources/@roots/sage/src/blade-loader/extension.ts
  sources/@roots/sage/src/blade-loader/index.ts
  sources/@roots/sage/src/sage/extension.test.ts
  sources/@roots/sage/src/sage/extension.ts
  sources/@roots/sage/src/types/index.ts
  yarn.lock
Labels: dependencies, docs, @roots/sage, test, internal, 🚀!, config

#2034 🩹 fix: @asset directive
  sources/@roots/blade-loader/src/plugin.ts
  sources/@roots/blade-loader/test/index.test.ts
  sources/@roots/bud-imagemin/src/extension/extension.ts
  sources/@roots/bud-imagemin/src/sharp/sharp.test.ts
  sources/@roots/bud-imagemin/src/sharp/sharp.ts
  sources/@roots/bud-imagemin/test/index.test.ts
  tests/reproductions/issue-1886.test.ts
Labels: test, 🚀!

#2035 ✨ improve: blade script loader
  sources/@roots/blade-loader/package.json
  sources/@roots/blade-loader/src/asset-loader.cts
  sources/@roots/blade-loader/src/constants.ts
  sources/@roots/blade-loader/src/loaders/css.cts
  sources/@roots/blade-loader/src/loaders/js.cts
  sources/@roots/blade-loader/src/loaders/scss.cts
  sources/@roots/blade-loader/src/loaders/ts.cts
  sources/@roots/blade-loader/src/loaders/vue.cts
  sources/@roots/blade-loader/src/plugin.ts
  sources/@roots/blade-loader/src/script-loader.cts
  sources/@roots/blade-loader/test/index.blade.php
  sources/@roots/blade-loader/test/index.test.ts
  sources/@roots/blade-loader/tsconfig.json
  sources/@roots/blade-loader/vendor/View/Directives/bundle.php
  sources/@roots/blade-loader/vendor/View/Directives/capture.php
  sources/@roots/blade-loader/vendor/View/Directives/clean.php
  sources/@roots/bud-build/src/handlers/rules/index.ts
  sources/@roots/bud-client/src/hot/events.ts
  sources/@roots/bud-sass/src/extension.ts
  sources/@roots/bud-vue/src/extension.ts
  sources/@roots/sage/docs/05-blade-assets.md
  sources/@roots/sage/src/blade-loader/extension.ts
  sources/@roots/sage/src/sage/extension.test.ts
  sources/@roots/sage/src/sage/extension.ts
  sources/@roots/wordpress-dependencies-webpack-plugin/src/plugin.ts
  yarn.lock
Labels: dependencies, @roots/bud-build, docs, @roots/wordpress-dependencies-webpack-plugin, @roots/bud-sass, @roots/sage, test, 🚀!, @roots/bud-client, config

#2038 ✨ improve(@roots/bud-typescript): improved typechecker
  sources/@repo/docs/content/extensions/sage/01-eslint.mdx
  sources/@repo/docs/content/extensions/sage/02-stylelint.mdx
  sources/@repo/docs/content/extensions/sage/03-theme.json.mdx
  sources/@repo/docs/content/extensions/sage/04-blade-assets.mdx
  sources/@repo/docs/content/extensions/sage/05-sass.mdx
  sources/@roots/bud-typescript/src/extension.ts
  sources/@roots/bud-typescript/src/typecheck/extension.test.ts
  sources/@roots/bud-typescript/src/typecheck/index.ts
  sources/@roots/sage/README.md
  sources/@roots/sage/docs/05-blade-assets.md
  sources/@roots/sage/package.json
Labels: dependencies, docs, @roots/bud-typescript, @roots/sage, test, internal, 🚀!

#2045 🩹 fix: multiple browser tabs opening in dev mode
  sources/@roots/bud/src/notifier/notifier.ts
Labels: @roots/bud, 🚀!

#2043 ✨ improve: rule ordering
  sources/@roots/blade-loader/src/asset-loader.cts
  sources/@roots/blade-loader/src/constants.ts
  sources/@roots/blade-loader/src/loaders/index.cts
  sources/@roots/blade-loader/src/plugin.ts
  sources/@roots/blade-loader/src/script-loader.cts
  sources/@roots/bud-build/src/handlers/items/items.ts
  sources/@roots/bud-build/src/handlers/rules/css.ts
  sources/@roots/bud-build/src/handlers/rules/index.ts
  sources/@roots/bud-framework/src/lifecycle/init.ts
Labels: @roots/bud-framework, @roots/bud-build, 🚀!

#2046 🩹 fix (@roots/bud): CLI healthcheck complaints when version is "latest"
  sources/@roots/bud/src/cli/helpers/checkDependencies.tsx
  sources/@roots/bud/src/cli/helpers/checkPackageManagerErrors.tsx
Labels: @roots/bud, 🚀!

#2053 🩹 fix: s3 json uploads
  sources/@roots/bud-framework/src/services/fs.ts
  sources/@roots/filesystem/src/filesystem.ts
Labels: @roots/bud-framework, @roots/filesystem, 🚀!

#2058 🩹 fix: resolve extensions
  sources/@roots/bud-build/src/config/resolve.ts
Labels: @roots/bud-build, 🚀!

#2057 🩹 fix: remote sources
  examples/remote-sources/.env
  examples/remote-sources/.gitignore
  examples/remote-sources/bud.config.mjs
  examples/remote-sources/package.json
  examples/remote-sources/src/index.html
  examples/remote-sources/src/scripts/app.js
  examples/remote-sources/src/scripts/components/main.js
  examples/remote-sources/src/styles/app.css
  examples/remote-sources/tailwind.config.cjs
  examples/remote-sources/tsconfig.json
  sources/@repo/docs/content/guides/general-use/remote-sources.mdx
  sources/@roots/bud-extensions/src/extensions/cdn/index.ts
  tests/integration/__snapshots__/remote-sources.test.ts.snap
  tests/integration/remote-sources.test.ts
Labels: @roots/bud-extensions, examples, docs, internal, 🚀!, config

#2004 ✨ feature(cli): bud cli menu
  examples/markdown/bud.config.cjs
  sources/@roots/bud-babel/package.json
  sources/@roots/bud-compress/package.json
  sources/@roots/bud-criticalcss/package.json
  sources/@roots/bud-emotion/package.json
  sources/@roots/bud-entrypoints/package.json
  sources/@roots/bud-esbuild/package.json
  sources/@roots/bud-eslint/package.json
  sources/@roots/bud-framework/src/types/registry/build.ts
  sources/@roots/bud-mdx/package.json
  sources/@roots/bud-mdx/src/extension.ts
  sources/@roots/bud-mdx/src/index.ts
  sources/@roots/bud-postcss/package.json
  sources/@roots/bud-preset-recommend/package.json
  sources/@roots/bud-preset-wordpress/package.json
  sources/@roots/bud-prettier/package.json
  sources/@roots/bud-purgecss/package.json
  sources/@roots/bud-react/package.json
  sources/@roots/bud-sass/package.json
  sources/@roots/bud-stylelint/package.json
  sources/@roots/bud-terser/package.json
  sources/@roots/bud-typescript/package.json
  sources/@roots/bud-vue/package.json
  sources/@roots/bud-wordpress-dependencies/package.json
  sources/@roots/bud-wordpress-externals/package.json
  sources/@roots/bud-wordpress-manifests/package.json
  sources/@roots/bud/src/cli/app.ts
  sources/@roots/bud/src/cli/commands/bud.build.tsx
  sources/@roots/bud/src/cli/commands/bud.doctor.tsx
  sources/@roots/bud/src/cli/commands/bud.tsx
  sources/@roots/sage/package.json
  yarn.lock
Labels: dependencies, @roots/bud-esbuild, @roots/bud-framework, @roots/bud, examples, @roots/bud-babel, @roots/bud-preset-recommend, @roots/bud-react, @roots/bud-criticalcss, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-eslint, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-sass, @roots/bud-stylelint, @roots/bud-terser, @roots/bud-typescript, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/sage, @roots/bud-compress, @roots/bud-preset-wordpress, 🚀!

#2063 🧹 chore: format package.json
  sources/@roots/blade-loader/package.json
  sources/@roots/browserslist-config/package.json
  sources/@roots/bud-api/package.json
  sources/@roots/bud-babel/package.json
  sources/@roots/bud-build/package.json
  sources/@roots/bud-cache/package.json
  sources/@roots/bud-client/package.json
  sources/@roots/bud-compiler/package.json
  sources/@roots/bud-compress/package.json
  sources/@roots/bud-criticalcss/package.json
  sources/@roots/bud-dashboard/package.json
  sources/@roots/bud-emotion/package.json
  sources/@roots/bud-entrypoints/package.json
  sources/@roots/bud-esbuild/package.json
  sources/@roots/bud-eslint/package.json
  sources/@roots/bud-extensions/package.json
  sources/@roots/bud-framework/package.json
  sources/@roots/bud-hooks/package.json
  sources/@roots/bud-imagemin/package.json
  sources/@roots/bud-preset-recommend/package.json
  sources/@roots/bud-preset-wordpress/package.json
  sources/@roots/bud-prettier/package.json
  sources/@roots/bud-purgecss/package.json
  sources/@roots/bud-sass/package.json
  sources/@roots/bud-server/package.json
  sources/@roots/bud-solid/package.json
  sources/@roots/bud-stylelint/package.json
  sources/@roots/bud-support/package.json
  sources/@roots/bud-swc/package.json
  sources/@roots/bud-tailwindcss-theme-json/package.json
  sources/@roots/bud-tailwindcss/package.json
  sources/@roots/bud-terser/package.json
  sources/@roots/bud-typescript/package.json
  sources/@roots/bud-vue/package.json
  sources/@roots/bud-wordpress-dependencies/package.json
  sources/@roots/bud-wordpress-externals/package.json
  sources/@roots/bud-wordpress-manifests/package.json
  sources/@roots/bud-wordpress-theme-json/package.json
  sources/@roots/bud/package.json
  sources/@roots/container/package.json
  sources/@roots/critical-css-webpack-plugin/package.json
  sources/@roots/dependencies/package.json
  sources/@roots/entrypoints-webpack-plugin/package.json
  sources/@roots/eslint-config/package.json
  sources/@roots/filesystem/package.json
  sources/@roots/merged-manifest-webpack-plugin/package.json
  sources/@roots/sage/package.json
  sources/@roots/wordpress-dependencies-webpack-plugin/package.json
  sources/@roots/wordpress-externals-webpack-plugin/package.json
  sources/@roots/wordpress-hmr/package.json
  sources/@roots/wordpress-theme-json-webpack-plugin/package.json
Labels: dependencies, @roots/bud-esbuild, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-extensions, @roots/bud-build, @roots/bud-cache, @roots/bud-compiler, @roots/bud-server, @roots/bud-babel, @roots/bud-preset-recommend, @roots/entrypoints-webpack-plugin, @roots/merged-manifest-webpack-plugin, @roots/wordpress-dependencies-webpack-plugin, @roots/wordpress-externals-webpack-plugin, @roots/bud-criticalcss, @roots/bud-emotion, @roots/bud-entrypoints, @roots/bud-eslint, @roots/bud-hooks, @roots/bud-prettier, @roots/bud-purgecss, @roots/bud-sass, @roots/bud-stylelint, @roots/bud-support, @roots/bud-tailwindcss, @roots/bud-terser, @roots/bud-typescript, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/bud-wordpress-manifests, @roots/critical-css-webpack-plugin, @roots/dependencies, @roots/filesystem, @roots/sage, @roots/bud-solid, @roots/bud-compress, @roots/bud-preset-wordpress, 🚀!, @roots/bud-client, @roots/wordpress-hmr, @roots/browserslist-config, @roots/bud-swc, @roots/eslint-config

#2065 🩹 fix: blade loader caching
  sources/@roots/blade-loader/src/asset-loader.cts
Labels: 🚀!

#2066 🔧 dev: setup nightly releases
  .github/workflows/release-main.yml
  .github/workflows/release-nightly.yml
  .github/workflows/stale.yml
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/base.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/dev.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/docs/docs.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/registry/clean.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/release.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/test/test.e2e.command.ts
  sources/@repo/yarn-plugin-bud/sources/command/tsc.command.ts
  sources/@roots/bud/src/cli/helpers/checkDependencies.tsx
Labels: CI, @roots/bud, internal, 🚀!

#2072 🩹 fix: nightly semver
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/release.command.ts
Labels: internal, 🚀!

#2071 ✨ improve(@roots/bud-server): support distinct external/internal URL
  sources/@repo/docs/content/docs/bud.setExternalUrl/index.mdx
  sources/@roots/bud-api/README.md
  sources/@roots/bud-api/docs/01-api.md
  sources/@roots/bud-api/docs/setExternalUrl/overview.md
  sources/@roots/bud-api/docs/setExternalUrl/usage.md
  sources/@roots/bud-api/src/api/__snapshots__/service.test.ts.snap
  sources/@roots/bud-api/src/methods/index.ts
  sources/@roots/bud-api/src/methods/serve/index.ts
  sources/@roots/bud-api/src/methods/setExternalUrl/index.ts
  sources/@roots/bud-api/src/methods/setExternalUrl/setExternalUrl.method.ts
  sources/@roots/bud-api/src/methods/setUrl/index.ts
  sources/@roots/bud-api/src/methods/setUrl/setUrl.method.ts
  sources/@roots/bud-api/src/repository.ts
  sources/@roots/bud-dashboard/src/dashboard/app.test.tsx
  sources/@roots/bud-dashboard/src/dashboard/app.tsx
  sources/@roots/bud-dashboard/src/dashboard/index.tsx
  sources/@roots/bud-dashboard/src/dashboard/server/index.tsx
  sources/@roots/bud-dashboard/src/service.tsx
  sources/@roots/bud-framework/src/types/registry/dev.ts
  sources/@roots/bud-framework/src/types/services/server/connection.ts
  sources/@roots/bud-framework/src/types/services/server/service.ts
  sources/@roots/bud-server/src/middleware/proxy/url.ts
  sources/@roots/bud-server/src/server/base.ts
  sources/@roots/bud-server/src/service/index.ts
  sources/@roots/bud/src/notifier/notifier.ts
Labels: @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, docs, @roots/bud-server, test, internal, 🚀!
