Repository roots/bud, pull requests merged in 2023-10, with the labels that each got.

#2467 ✨ improve(patch): deterministic browserslist configs
  package.json
  sources/@roots/browserslist-config/README.md
  sources/@roots/browserslist-config/default.cjs
  sources/@roots/browserslist-config/docs/configs.mdx
  sources/@roots/browserslist-config/last-2-versions.cjs
  sources/@roots/browserslist-config/last-3-versions.cjs
  sources/@roots/browserslist-config/next.cjs
  sources/@roots/browserslist-config/package.json
  sources/@roots/browserslist-config/scripts/postinstall.mjs
  sources/@roots/browserslist-config/wordpress.cjs
  sources/@roots/bud-stylelint/test/stylelintrc-no-extension.test.ts
  sources/@roots/bud-support/src/utilities/env.ts
  sources/@roots/bud/bin/bud.mjs
  sources/@roots/bud/bin/bund.mjs
  sources/@roots/bud/bin/ts-bud.mjs
  yarn.lock
Labels: dependencies, docs, @roots/bud-support, test, 🚀!

#2477 🧪 test(none): improve test cache management
  .env
  .gitignore
  sources/@roots/bud-cache/test/service.test.ts
Labels: test, 🚀!, config

#2481 ✨ improve(patch): cli and logging
  sources/@roots/bud-api/src/methods/minimize/index.ts
  sources/@roots/bud-api/src/methods/persist/index.ts
  sources/@roots/bud-api/test/persist.test.ts
  sources/@roots/bud-build/src/config/entry.ts
  sources/@roots/bud-build/src/rule/index.ts
  sources/@roots/bud-build/src/service/index.ts
  sources/@roots/bud-compiler/src/service/index.tsx
  sources/@roots/bud-dashboard/src/service.tsx
  sources/@roots/bud-eslint/src/bud/commands/bud.eslint.command.tsx
  sources/@roots/bud-extensions/src/service/index.ts
  sources/@roots/bud-extensions/src/webpack-lifecycle-plugin/index.ts
  sources/@roots/bud-framework/src/bootstrap.ts
  sources/@roots/bud-framework/src/bud.ts
  sources/@roots/bud-framework/src/extension/index.ts
  sources/@roots/bud-framework/src/fs.ts
  sources/@roots/bud-framework/src/methods/setPath/index.ts
  sources/@roots/bud-framework/src/project.ts
  sources/@roots/bud-framework/src/services/dashboard/index.ts
  sources/@roots/bud-hooks/src/base/base.ts
  sources/@roots/bud-hooks/src/event/event.ts
  sources/@roots/bud-preset-wordpress/src/index.ts
  sources/@roots/bud-purgecss/src/extension/base.ts
  sources/@roots/bud-purgecss/src/extension/model.ts
  sources/@roots/bud-purgecss/src/facade/index.ts
  sources/@roots/bud-purgecss/src/index.ts
  sources/@roots/bud-react/src/extension/index.ts
  sources/@roots/bud-react/src/react-refresh/index.ts
  sources/@roots/bud-react/src/swc-refresh/index.ts
  sources/@roots/bud-server/src/service/index.ts
  sources/@roots/bud-support/src/logger/index.ts
  sources/@roots/bud-support/src/utilities/files.ts
  sources/@roots/bud-support/src/utilities/paths.ts
  sources/@roots/bud-support/src/which-pm/pmString.ts
  sources/@roots/bud-typescript/src/extension.ts
  sources/@roots/bud-wordpress-dependencies/src/extension.ts
  sources/@roots/bud-wordpress-externals/src/extension.ts
  sources/@roots/bud/src/cli/commands/config/displayConfigFiles.tsx
  sources/@roots/bud/src/cli/commands/config/displayGeneratedConfig.tsx
  sources/@roots/bud/src/cli/commands/config/index.tsx
  sources/@roots/bud/src/cli/commands/doctor/index.tsx
  sources/@roots/bud/src/cli/commands/env/displayEnv.tsx
  sources/@roots/bud/src/cli/commands/env/index.tsx
  sources/@roots/bud/src/cli/commands/index.tsx
  sources/@roots/bud/src/cli/commands/upgrade/index.tsx
  sources/@roots/bud/src/cli/components/Menu.tsx
  sources/@roots/sage/src/sage/index.ts
Labels: @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-dashboard, @roots/bud-extensions, @roots/bud-build, @roots/bud-compiler, @roots/bud-server, @roots/bud-react, @roots/bud-eslint, @roots/bud-hooks, @roots/bud-purgecss, @roots/bud-support, @roots/bud-typescript, @roots/bud-wordpress-dependencies, @roots/bud-wordpress-externals, @roots/sage, test, @roots/bud-preset-wordpress, 🚀!

#2482 ✨ improve(minor): bud dev dx
  sources/@roots/bud-compiler/src/service/index.tsx
  sources/@roots/bud-dashboard/src/application.tsx
  sources/@roots/bud-dashboard/src/components/footer.tsx
  sources/@roots/bud-dashboard/src/service.tsx
  sources/@roots/bud-dashboard/src/views/server.tsx
  sources/@roots/bud-dashboard/test/service.test.tsx
  sources/@roots/bud-framework/src/context.ts
  sources/@roots/bud-framework/src/notifier.ts
  sources/@roots/bud-framework/src/registry/events.ts
  sources/@roots/bud-framework/src/services/compiler/index.ts
  sources/@roots/bud-framework/src/services/dashboard/index.ts
  sources/@roots/bud-stylelint/test/stylelintrc-no-extension.test.ts
  sources/@roots/bud-support/src/ink/index.ts
  sources/@roots/bud/src/cli/commands/build/development/index.tsx
  sources/@roots/bud/src/cli/commands/clean/index.tsx
  sources/@roots/bud/src/cli/commands/config/index.tsx
  sources/@roots/bud/src/cli/commands/doctor/index.tsx
  sources/@roots/bud/src/cli/commands/env/index.tsx
  sources/@roots/bud/src/cli/commands/index.tsx
  sources/@roots/bud/src/cli/commands/view/index.tsx
  sources/@roots/bud/src/context/index.ts
Labels: @roots/bud-framework, @roots/bud, @roots/bud-dashboard, @roots/bud-compiler, @roots/bud-support, test, 🚀!

#2485 🩹 fix(patch): fix --silent and --no-dashboard output
  package.json
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/_browserslist.ts
  sources/@repo/yarn-plugin-bud/sources/command/browserslist-update.ts
  sources/@repo/yarn-plugin-bud/sources/command/index.ts
  sources/@roots/browserslist-config/default.cjs
  sources/@roots/browserslist-config/last-2-versions.cjs
  sources/@roots/browserslist-config/last-3-versions.cjs
  sources/@roots/browserslist-config/wordpress.cjs
  sources/@roots/bud-dashboard/src/service.tsx
  sources/@roots/bud-framework/src/services/dashboard/index.ts
  yarn.lock
Labels: dependencies, @roots/bud-framework, @roots/bud-dashboard, internal, 🚀!

#2486 ✨ feat(minor): lazy compilation facade and flag
  sources/@roots/bud-api/package.json
  sources/@roots/bud-api/src/index.ts
  sources/@roots/bud-api/src/methods/index.ts
  sources/@roots/bud-api/src/methods/lazy/index.ts
  sources/@roots/bud-framework/src/config/index.ts
  sources/@roots/bud-support/src/webpack/index.ts
  sources/@roots/bud-support/src/webpack/lazyCompilation.ts
  sources/@roots/bud/src/cli/commands/build/index.tsx
  sources/@roots/bud/src/cli/commands/index.tsx
  sources/@roots/bud/src/cli/flags/lazy.ts
Labels: dependencies, @roots/bud-framework, @roots/bud, @roots/bud-api, @roots/bud-support, 🚀!

#2479 Add `roots` to eslint globals
  sources/@roots/eslint-config/wordpress.cjs
Labels: 🚀!, @roots/eslint-config

#2484 📕 docs(none): add new CLI commands
  examples/typescript/src/foo.js
  sources/@repo/docs/content/extensions/bud-stylelint.mdx
  sources/@repo/docs/content/learn/cli/config.mdx
  sources/@repo/docs/content/learn/cli/env.mdx
  sources/@repo/docs/content/learn/cli/index.mdx
  sources/@repo/docs/content/learn/cli/repl.mdx
  sources/@repo/docs/content/learn/config/files/bud.config.mdx
  sources/@repo/docs/content/learn/config/files/tsconfig.mdx
  sources/@repo/docs/content/reference/bud.mode/index.mdx
  sources/@repo/docs/sidebars/learn.cjs
  sources/@repo/markdown-kit/cli-examples/index.ts
  sources/@roots/browserslist-config/package.json
  sources/@roots/bud/package.json
  yarn.lock
Labels: dependencies, examples, docs, internal, 🚀!

#2489 📕 docs(none): fix netlify redirects
  netlify.toml
  sources/@repo/docs/netlify.toml
Labels: docs, internal, 🚀!

#2490 🩹 fix(patch): fix browserslist db errors
  package.json
  sources/@repo/yarn-plugin-bud/bundles/@yarnpkg/plugin-bud.js
  sources/@repo/yarn-plugin-bud/sources/command/browserslist-update.ts
  sources/@roots/browserslist-config/default.cjs
  sources/@roots/browserslist-config/last-2-versions.cjs
  sources/@roots/browserslist-config/last-3-versions.cjs
  sources/@roots/browserslist-config/types.d.ts
  sources/@roots/browserslist-config/wordpress.cjs
  sources/@roots/bud-support/src/which-pm/pmString.ts
  sources/@roots/bud/package.json
  sources/@roots/bud/src/cli/commands/upgrade/index.tsx
  yarn.lock
Labels: dependencies, @roots/bud, @roots/bud-support, internal, 🚀!
