Repository roots/bud, pull requests merged in 2024-01, with the labels that each got.

#2540 🔨 improve(patch): add @types/node to create bud app
  sources/create-bud-app/src/tasks/write.tsconfig.ts
Labels: 🚀!

#2539 `custom-property-pattern` rule changed for compatibility with WP naming
  sources/@roots/bud-preset-wordpress/config/stylelint.cjs
  sources/@roots/bud-preset-wordpress/test/stylelint-config.test.ts
Labels: test, 🚀!

#2543 📕 docs(none): mention @roots/bud-preset-wordpress/stylelint
  sources/@repo/docs/content/extensions/bud-preset-wordpress/index.mdx
  sources/@repo/docs/content/extensions/bud-preset-wordpress/stylelint.mdx
Labels: docs, internal, 🚀!

#2547 🔨 improve(patch): safer module resolution
  sources/@roots/bud-framework/src/module.ts
  sources/@roots/bud-framework/test/module.test.ts
Labels: @roots/bud-framework, test, 🚀!

#2552 🧪 test(none): improve bud.tailwindcss.generateImports test
  tests/integration/tailwindcss.test.ts
Labels: 🚀!

#2554 🩹 fix(none): fix stylelint violation in project templates #2549
  sources/create-bud-app/src/tasks/write.tsconfig.ts
  sources/create-bud-app/templates/react/index.css.hbs
  sources/create-bud-app/templates/vanilla/index.css.hbs
  sources/create-bud-app/templates/vue/components/app.vue.hbs
Labels: 🚀!

#2555 📕 docs(none): fix eslint docs url for config files
  sources/@roots/bud-eslint/docs/01-configuration.md
Labels: docs, 🚀!

#2551 🔨 improve(patch): enable bundling for config files
  examples/webpack-plugin/WebpackPlugin.js
  examples/webpack-plugin/WebpackPlugin.ts
  examples/webpack-plugin/bud.config.ts
  sources/@roots/bud-support/package.json
  sources/@roots/bud-support/src/cjs-shim/index.ts
  sources/@roots/bud-support/src/utilities/files.ts
  sources/@roots/bud-tailwindcss/src/extension/index.ts
  sources/@roots/bud-tailwindcss/src/extension/options.ts
  tests/integration/webpack-plugin.test.ts
Labels: dependencies, examples, @roots/bud-support, @roots/bud-tailwindcss, 🚀!
