Repository roots/bud, pull requests merged in 2024-05, with the labels that each got.

#2586 📦 deps(minor): upgrade dev middleware
  sources/@roots/bud-support/package.json
  yarn.lock
Labels: dependencies, 🚀!

#2582 📕 docs(none): fix releases menu
  sources/@repo/docs/config/docusaurus.theme.cjs
Labels: docs, internal, 🚀!

#2588 📦 deps(minor): upgrade style deps
  .vscode/extensions.json
  examples/sass-module/package.json
  sources/@repo/docs/package.json
  sources/@repo/markdown-kit/package.json
  sources/@roots/bud-build/src/config/module.ts
  sources/@roots/bud-build/src/items/index.ts
  sources/@roots/bud-minify/package.json
  sources/@roots/bud-postcss/package.json
  sources/@roots/bud-sass/package.json
  sources/@roots/bud-sass/src/extension.ts
  sources/@roots/bud-sass/test/extension.test.ts
  sources/@roots/bud-support/package.json
  tests/integration/sass-module.test.ts
  yarn.lock
Labels: dependencies, @roots/bud-build, examples, docs, @roots/bud-sass, test, internal, 🚀!, config

#2590 📦 deps(minor): upgrade stylelint-sass
  package.json
  sources/@repo/constants/package.json
  sources/@repo/docs/package.json
  sources/@repo/markdown-kit/package.json
  sources/@repo/notifier/package.json
  sources/@repo/test-kit/package.json
  sources/@repo/yarn-plugin-package/package.json
  sources/@roots/bud-dashboard/package.json
  sources/@roots/bud-sass/package.json
  sources/@roots/filesystem/package.json
  yarn.lock
Labels: dependencies, docs, internal, 🚀!

#2559 Fix typo in documentation for bud.postcss.setPostCssOptions
  sources/@repo/docs/content/extensions/bud-postcss.mdx
Labels: docs, internal, 🚀!

#2564 fix(docs): issue with code snippet for spacing in theme.json
  sources/@roots/bud-wordpress-theme-json/docs/01-managing-theme-json.md
Labels: docs, 🚀!

#2558 fix(stylelint): `Unexpected invalid media query "screen(x)"` for Tailwind
  sources/@roots/bud-tailwindcss/config/stylelint/common.cjs
Labels: 🚀!

#2595 🩹 fix(patch): dashboard react error (useState)
  config/tsconfig.json
Labels: 🚀!, config
