Repository roots/bud, pull requests merged in 2024-12, with the labels that each got.

#2659 Update usage.md
  sources/@roots/bud-api/docs/entry/usage.md
Labels: docs

#2645 Bump schema version from 2 to 3
  examples/sage-with-stylelint/theme.json
  sources/@roots/bud-tailwindcss-theme-json/src/extension/index.ts
  sources/@roots/wordpress-theme-json-webpack-plugin/src/index.ts
  sources/@roots/wordpress-theme-json-webpack-plugin/src/plugin.ts
  sources/@roots/wordpress-theme-json-webpack-plugin/src/theme.ts
  tests/integration/sage.test.ts
  tests/reproductions/issue-2126/theme.json
Labels: examples, @roots/bud-tailwindcss-theme-json, @roots/wordpress-theme-json-webpack-plugin

#2665 🩹 fix(minor): root only services always resolve to root
  sources/@roots/bud-framework/src/bootstrap/index.ts
Labels: @roots/bud-framework, 🚀!

#2666 🩹 fix(minor): ensure unique compiler name in cache service
  sources/@roots/bud-cache/src/service.ts
  sources/@roots/bud-cache/test/service.test.ts
  sources/@roots/wordpress-theme-json-webpack-plugin/src/theme.ts
Labels: @roots/bud-cache, test, 🚀!, @roots/wordpress-theme-json-webpack-plugin

#2667 🩹 fix(patch): sage default paths (#2660)
  sources/@roots/sage/src/sage/index.ts
  sources/@roots/sage/test/sage/extension.test.ts
Labels: @roots/sage, test, 🚀!
